.chat-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
    font-size: 1.05em;
    font-weight: 600;
}

.chat-header:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.chat-area {
    padding: 20px;
    padding-top: 10px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    #chat {
        display: none;
    }
}

.chat-textarea textarea {
    width: 75%;
    display: inline-block;
    resize: none;
    border: none;
    vertical-align: top;
    height: 55px;
    outline: none;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
}

.chat-textarea button {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    height: 55px;
    background-color: #fff;
    border: none;
    color: #4cbeec;
    font-weight: bold;
    outline: none;
}

.chat-channel {
    width: 100%;
    height: 29px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
}

.chat-channel select {
    background-color: #fff;
    width: 100%;
    border: none;
    radius: 0;
    outline: none;
    height: 28px;
    -webkit-border-radius: 0px;
}


/* category chat box */

.chat-box {
    /* position: absolute; */
    width: 400px;
    right: 10px;
    bottom: 0;
    float: right;
    margin-right: 5px;
    min-height: 50px;
    position: fixed;
    z-index: 100;
}

.chat-heading {
    background-color: #071326 !important;
}

.channel-list {
    width: 337px;
    max-height: 250px;
    overflow-y: auto;
}

.chat-footer {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.notification {
    height: 20px;
    font-size: 10px;
    background-color: white;
}

.chat-controller {
    display: flex;
    flex-direction: row;
}

.tox.tox-tinymce-aux .tox-toolbar__overflow {
    position: fixed !important;
    bottom: 57.5781px !important;
    right: 147px !important;
}

.channel-list-item .badge {
    background-color: forestgreen !important;
    color: white !important;
    padding-left: 8px;
    padding-right: 8px;
    height: 16px !important;
    border-radius: 4px !important;
    margin-right: 10px;
    width: 100%
}

.channel-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-btn {
    background-color: #071326;
    font-size: 10px !important;
    height: 25px;
    width: auto !important;
}

.send-btn {
    background-color: seagreen;
    color: white;
    /* width: 50px; */
    border: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #4cbeec;
}

.textarea {
    line-height: 0.5;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.chat .li {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.chat .li.left .chat-body {
    margin-left: 60px;
}

.chat .li.right .chat-body {
    margin-right: 60px;
}

.chat .li .chat-body p {
    margin: 0;
}

.message-body {
    border-radius: 5px;
    padding: 5px;
}

.message-body.left {
    background-color: powderblue;
}

.message-body.right {
    background-color: lightgray;
}

.panel-body-chat {
    overflow-y: scroll;
    height: 250px;
}

.loading-gif {
    display: block;
    margin: 0 auto;
}

#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(142, 149, 163)), color-stop(0.72, rgb(48, 70, 97)), color-stop(0.86, #061227));
}

@media only screen and (max-width: 600px) {
    .chat-box {
        width: 320px;
        right: -5px;
        bottom: 0;
        float: right;
        margin-right: -5px;
        min-height: 50px;
        position: fixed;
        z-index: 100;
    }
}