.container-home {

}

.plans {
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.plans .plan {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container-full {
  padding-bottom: 60px;
}

.container-landing {
  padding-top: 50px !important;
}

.landing-title {
  font-size: 4.5em;
  letter-spacing: -3px;
  line-height: 1.3em;
}

.landing-subtitle {
  font-size: 2em;
  color: #aaa8a8;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .container-index {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1.5vh;
  }
}

@media screen and (max-width: 768px) {
  .container-landing {
    padding-top: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-landing .academia-coverimage {
    margin-top: 25px;
    height: 310 !important;
  }

}

@media screen and (max-width: 992px) {
  .landing-title {
    font-size: 3.5em;
    letter-spacing: -3px;
    line-height: 1.2em;
  }

  .landing-subtitle {
    font-size: 1.7em;
    color: #aaa8a8;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 992px) {
  .container-index {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 3vh;
  }
}

/* container header */
.headline-container {
  font-weight: 600;
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 25px;
}
/* end container header */

@media screen and (max-width: 768px) {
  .container-home {
    padding-top: 83px;
  }
  .container-full {
    padding-top: 83px;
  }
}

.section-cards {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px;
}

.dashboard-cards {
  overflow: unset;
  white-space: unset;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-cards > a {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.dashboard-cards > a .card {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 30px;
}

.section-cards::-webkit-scrollbar {
    height: 4px;
}

/* /* */
.section-header {

}

.section-header .title {
  line-height: 1em; color: #2d4255;
  font-weight: bolder;
  font-size: 1.5em;
  padding-bottom: 5px;
}

/* */

.card-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.45);
-moz-box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.45);
box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.45);
}

/* */

.card-article-large {
  width: 180px;
}

.card-article-large .picture {
  height: 100px !important;
}

/* */
.section-cards-new {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.section-cards-new .card {
    border: 0;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-right: 15px;
}

.section-cards-new::-webkit-scrollbar {
    height: 4px;
}

.section-cards-new::-webkit-scrollbar-thumb {
    background: #2e4255;
    border-radius: 4px;
    height: 4px;
}
.section-cards-new::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
    height: 4px;
}

@media screen and (max-width: 768px) {

  .section-cards .card {
      display: inline-block;
  }

}

/* Track */
.section-cards::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
    height: 4px;
}

.section-cards::-webkit-scrollbar-thumb {
    background: #2e4255;
    border-radius: 4px;
    height: 4px;
}

.section-cards .card {
  display: inline-block;
  margin-right: 15px;
  width: 250px;
}

@media screen and (max-width: 768px) {

  .section-cards .card {
    min-width: 140px;
    width: 40vw;
  }

}

.section-cards .card {
  border: 0;
  vertical-align: top;
}

.section-cards .card .picture {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.section-cards .card .title {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {

  .section-cards .card .title {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

.section-cards .card .description {
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
  height: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* section-break */
.section-break {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.section-break-title {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 15px;
}

.section-break .section-break-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-break .section-break-image {

}

.section-break {

}

@media screen and (max-width: 768px) {

  .section-break-title {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}
