.container-home {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* container header */
.headline-container {
  font-weight: 400;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* end container header */

@media screen and (max-width: 768px) {
  .container-home {
    padding-top: 108px;
  }
  .container-full {
    padding-top: 65px;
  }
}

.section-cards {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px;
}

.dashboard-cards {
  overflow: unset;
  white-space: unset;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-cards > a {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.dashboard-cards > a .card {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 30px;
}

.section-cards::-webkit-scrollbar {
    height: 4px;
}

/* Track */
.section-cards::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
    height: 4px;
}

.section-cards::-webkit-scrollbar-thumb {
    background: #2e4255;
    border-radius: 4px;
    height: 4px;
}

.section-cards .card {
  display: inline-block;
  margin-right: 15px;
  width: 250px;
}

@media screen and (max-width: 768px) {

  .section-cards .card {
    min-width: 140px;
    width: 40vw;
  }

}

.section-cards .card {
  border: 0;
  vertical-align: top;
}

.section-cards .card .picture {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.section-cards .card .title {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {

  .section-cards .card .title {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.section-cards .card .description {
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
}
