/* modal account suggestion */
.modal-accountsuggestion {

}

@media screen and (max-width: 768px) {
  .modal-accountsuggestion .bg-image {
    height: 250px !important;
    margin-bottom: 30px;
  }
  .modal-accountsuggestion .container-fluid {
    padding-top: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.modal-accountsuggestion .ngdialog-close {

  display: none;

}

/* */

.modal-accounts {
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}

.modal-accounts .form {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-accounts .form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.modal-accounts .form a {
  color: #2d4255;
  font-weight: bold;
}

.modal-accounts .form .form-group i {
  position: absolute;
  left: 0;
  top: 15px;
  width: 40px;
  text-align: center;
}

.modal-accounts .form .form-group input[type='text'], .modal-accounts .form .form-group input[type='password'] {
  display: inline-block;
  padding-left: 40px;
  height: 45px;
}

/* radio-wrapper */
.radio-wrapper input {
  vertical-align: top;
  margin-top: 3px;
  margin-right: 5px;
  display: inline-block;
}

.radio-wrapper .text {
  display: inline-block;
}
