nav {
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.navbar-mobile .menu a {
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
  }
}

/* navbar top */
nav .navbar-top {
  height: 65px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {

  nav .navbar-top {
    margin-bottom: 0px;
  }

}

/* brand */

nav .navbar-top .brand {
  height: 100%;
  display: inline-block;
}

nav .navbar-top .brand span {
  height: 100%;
  display: none;
  vertical-align: top;
  line-height: 34px;
  margin-left: 7px;
}

@media screen and (max-width: 768px) {
  nav .navbar-top .brand span {
    display: inline-block;
  }
}

nav .navbar-top .brand img {
  height: 100%;
}

#logoIcon {
  display: none;
}

/* menu-right */

nav .navbar-top .menu-right {
  height: 100%;
  float: right;
  display: inline-block;
  line-height: 34px;
  width: calc(100% - 202px);
}

@media screen and (max-width: 768px) {

  nav .navbar-top .menu-right {
    width: calc(100% - 214px);
  }

}

@media screen and (max-width: 768px) {

  nav .navbar-top .menu-right.expand {
    width: calc(92vw - 79px);
  }

  nav .navbar-top .menu-right .search {
    width: 100%;
  }

}

nav .navbar-top .menu-right .search {
  height: 100%;
  text-align: right;
  float: right;
  padding-right: 10px;
}

nav .navbar-top .menu-right .search span {
  font-size: 17px;
  width: 20px;
}

nav .navbar-top .menu-right .search .form-group {
  display: inline-block;
  height: 100%;
  display: block;
  width: 100%;
}

nav .navbar-top .menu-right .search .form-group input {
  width: auto;
}

nav .navbar-top .menu-right .search span {
  display: inline-block;
  height: 100%;
}

@media screen and (max-width: 768px) {
  nav .navbar-top .menu-right .search .form-group {
    display: none;
  }
  nav .navbar-top .menu-right .search .form-group input {
    width: calc(100% - 25px);
  }
  nav .navbar-top .menu-right .search span {
    width: 20px;
  }
}

nav .navbar-top .menu-right .search input {
  height: 100%;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
}

/* menu-right options */

nav .navbar-top .menu-right .options {
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}

nav .navbar-top .menu-right .options > div {
  font-size: 1.15em;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-size: 1em;
}

nav .navbar-top .menu-right .options > div a {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  nav .navbar-top .menu-right .options {
    display: none;
  }
}

/* slider */
nav .navbar-slider {

  padding-left: 15px;
  margin-top: 3px;

  -webkit-box-shadow: 0px 2px 3px 0px rgba(196,196,196,0.34);
  -moz-box-shadow: 0px 2px 3px 0px rgba(196,196,196,0.34);
  box-shadow: 0px 2px 3px 0px rgba(196,196,196,0.34);

  overflow: auto;
  white-space: nowrap;

  border-radius: 4px;

  width: 100%;

}

@media screen and (min-width: 768px) {

  nav .navbar-slider {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

nav .navbar-slider::-webkit-scrollbar {
  display: none;
}

nav .navbar-slider .option {

  font-weight: 600;

  display: inline-block;

  height: 40px;
  line-height: 40px;

  padding-left: 15px;
  padding-right: 15px;

  text-transform: uppercase;

}

nav .navbar-slider .option a {
  color: #2d4255;
  text-decoration: none;
}

nav .navbar-slider .option.active {
  border-left: 0.3px solid rgba(82, 191, 234, 0.2);
  border-right: 0.3px solid rgba(82, 191, 234, 0.2);
  border-bottom: 3px solid #52bfea;
}

nav .navbar-slider .option:hover {
  border-bottom: 3px solid rgba(82, 191, 234, 0.4);
}

/* search */

/* navbar mobile */
.navbar-mobile {

  display: none;

  position: fixed;
  z-index: 99;

  width: 100vw;
  min-height: 100vh;

  background-color: #fff;

  top: 65px;
  bottom: 0;

  overflow-y: scroll;

  padding-top: 15px;
  padding-bottom: 70px;

}

@media screen and (min-width: 768px) {

  .navbar-mobile {
    display: none !important;
  }

}

.navbar-mobile .menu {

  padding-bottom: 15px;

}

.navbar-mobile .menu .option {

  text-transform: capitalize;
  width: 100%;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 1.1em;
  font-weight: 300;

}

.navbar-mobile .menu .option.active {

  font-weight: 400;

}

.navbar-mobile .menu .option:hover {

  background-color: #f4f5f6;

}

/* navbar-mobile profile */
.navbar-mobile .profile .header {

  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;

  font-size: 1.2em;

  border-bottom: 2px solid rgba(82, 191, 234, 1);

}

.navbar-mobile .profile .header span {
  margin-right: 5px;
}

/* profile-expanded */
nav .navbar-top .menu-right .options .profile {

}

nav .navbar-top .menu-right .options .profile .profile-expanded {

  display: none;

  z-index: 999;

  position: absolute;
  right: 0;

  font-size: 1em;

  width: 200px;

  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  padding-left: 15px;
  padding-right: 15px;

  background-color: #fff;

  -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.15);

  margin-top: 10px;
  margin-right: 10px;

  color: #747474;

}

nav .navbar-top .menu-right .options .profile .profile-expanded div {

  font-size: 14px;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #cdcdcd;

}

nav .navbar-top .menu-right .options .profile .profile-expanded div a {

  color: #747474;
  text-decoration: none;

}

nav .navbar-top .menu-right .options .profile .profile-expanded div:hover {

  border-bottom: 1px solid #414141;

}

nav .navbar-top .menu-right .options .profile .profile-expanded div:last-child {

  border-bottom: 0px;

}
