.user-collections {

}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}

  .user-collections .collection {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23); display: inline-block; border-radius: 4px;
    height: 90px; width: 140px; background-color: #fff; margin-left: 10px; margin-bottom: 10px;
    text-align: left;
    padding-top: 40px;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
  }

  .user-collections .collection.active-option {
    border: 3px solid #ee5748;
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
  }

  .user-collections .collection:hover {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.6);
  }

  .user-collections .collection.teaching-option {
    padding-bottom: 25px;
  }

  .swiper-container {
    padding: 3px;
    padding-bottom: 40px;
  }

  .swiper-slide {
    text-align: left;
  }

  .knowledge-card {
    border-radius: 5px;
    width: 45%;
    box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);
    width: calc(100% / 4);
  }

  .knowledge-card .knowledge-card-image {
    height: 70px; background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .knowledge-card .title {
    height: 45px;
    padding: 10px;
    font-weight: bold;
  }

  .section-cards {
    padding-bottom: 10px;
  }

  .section-cards::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  .section-cards::-webkit-scrollbar-thumb {
      background: transparent;
  }

  @media only screen and (min-width: 780px) {

    .swiper-slide {
      width: 50% !important;
    }

  }

  .bar-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 0.95em;
  }

  .bar-sections .bar-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-size: 0.95em;
  }

  .bar-sections.standard {
    box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);
    padding: 10px;
  }

  .bar-sections .bar-section.active {
    color: #000;
  }

  .bar-sections .bar-section.active {
    border-radius: 10px;
    font-weight: bold;
  }

  .bar-sections .bar-section {
    color: #2d4255b8;
  }

  .bar-sections.orange .bar-section.active {
    background-color: #ef62543b;
    border-radius: 10px;
    color: #ee5748;
    font-weight: bold;
  }

}

</style>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    min-height: 300px;
    width: 100%;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
    min-height: 60px;
  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 39px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    width: 35px;
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

    .user-collections .collection.teaching-option {
      width: calc(100% - 20px);
    }

  }
