/* video row */
.video-row-player-area {

}

.video-row {
  padding-bottom: 30px;
}

.video-row-title {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 15px;
}

@media only screen and (max-width: 960px) {

  .player-area-playlist {
    padding-top: 0px !important;
  }

}

.video-row-title a {
  color: #000;
}

.player-area {
  background-color: #000;
  width: 100%;
  text-align: center;
}

.player-area video {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 960px) {

  .player-area {
    padding-top: 108px;
  }

  .player-area video {
    width: 100%;
  }

}

@media only screen and (min-width: 960px) {

  .player-area {
    height: 70vh;
  }

}

/* title */

.video-title {

  font-size: 2.5em;
  font-weight: bold;

}

/* author */

.video-author {

  padding-top: 15px;
  padding-bottom: 15px;

}

.video-author .pic {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.video-author .pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.video-author .name {

  font-size: 1.1em;

  line-height: 40px;
  display: inline-block;

  padding-left: 7px;
  font-weight: bold;

}

/* description */

.video-description .title {
  font-size: 1.4em;
  color: #4c4c4c;
}

.video-description .description {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4c4c4c;
}

/* forum post */
.video-forum {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 45px;
  border-top: 1px solid #4c4c4c4a;
}

.video-forum .title {
  font-size: 1.4em;
  color: #4c4c4c;
}

.video-forum .post {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e9e9e9;

}

.video-forum .text {
  min-height: 100px;
}

.video-forum .meta {

  padding-bottom: 15px;

}

.video-forum .meta .author {

}

.video-forum .meta .author .pic {
  height: 30px;
  width: 30px;
  text-align: right;
  display: inline-block;
}

.video-forum .meta .author .pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


.video-forum .meta .author .name {
  display: inline-block;
  padding-left: 4px;
  line-height: 30px;
}


/* video-rightbar */
.video-rightbar {

}

.video-authorscontent .video .poster {
  width: 168px;
  height: 94px;
}

.video-authorscontent .video .poster img {
  width: 100%;
  height: 100%;
}

.video-rightbar-area {
  padding-bottom: 45px;
}

.video-rightbar-area > .title {

  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: #4c4c4c;

  margin-bottom: 20px;

}

.video-authorscontent > .video .poster {
  display: inline-block;
}

.video-authorscontent > .video .texts {
  vertical-align: top;
  display: inline-block;
}

.video-authorscontent > .video .texts .title {
  font-weight: bold;
}

.video-authorscontent > .video .texts .author {
  color: #a9a9a9;
}

.video-admin .buttons {
  text-align: right;
}

.video-admin .buttons button {

  display: inline-block;
  margin-bottom: 15px;
  white-space: none;

}

/* video create */
.file-drop-area {

  border: 1px dashed #8b8b8b;
  background-color: #f5f5f5;
  height: 270px;
  line-height: 270px;
  text-align: center;

}
