<div class="container-fluid modal-accounts" style="height: 100%;">

  <div class="row" style="height: 100%;">

    <div class="col-xs-12 col-sm-6 bg-image" style="height: 100%; background-image: url('{{university.backgroundImage}}'); background-size: cover; background-position: 50% 50%;">
    </div>
    <!-- end col-sm-6 -->

    <div class="col-xs-12 col-sm-6" style="padding-left: 30px; padding-right: 30px;">

      <div style="font-size: 1.7em; line-height: 1.5em; font-weight: 600; text-align: center;">Aprenda com {{university.name}}</div>

      <p style="margin-top: 15px; text-align: center;">Faça o login ou crie uma conta para começar a aprender e debater</p>

      <div class="form">

        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <input ng-model="loginEmail" placeholder="Email" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input ng-model="loginPassword" placeholder="Senha" type="password" />
        </div>
        <!-- end form group -->

        <button ng-click="login()" class="btn btn-bluebase">Login</button>

        <p style="text-align: center; margin-top: 15px; margin-bottom: 15px; font-size: 0.85em;">ou</p>

        <button ng-click="create()" class="btn bg-primary-green">Criar conta</button>

        <p ng-click="close()" style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-size: 0.85em;">Deixar para a próxima</p>

      </div>
      <!-- end form -->

    </div>
    <!-- end col-sm-6 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
