<!--
    - Classroom name
    - Accessibility
        . Public room
            ` For free
            ` Options for pay-per-view 1-1
                add a input to get price a hr.
        . Private room
            ` Administrator can invite users to join room
            ` share link to guests
    - Donations
        Boolean, to allow donations to be sent
    - Chat
        Boolean, to allow chat usage
        
        ng-controller='AcademiaClassroomsCtrl'
-->
<div class='classroom-modal-main'>
    <label class='classroom-modal-caption' style="margin-top: 50px;">Classroom Name </label>
    <input class="classroom-modal-input" ng-model='addingClassroom.uniqueName' />
    <label class='classroom-modal-caption'>Accessibility</label>
    <div class="classroom-modal-radio-group-container">
        <div class='inputGroup-radio'>
            <input id='i1' name='room_type' type='radio' ng-model='addingClassroom.roomType' value=0 checked />
            <label for='i1'>&nbsp;&nbsp;Public Room</label>
        </div>
        <div class='inputGroup-radio'>
            <input id='i4' name='room_type' type='radio' ng-model='addingClassroom.roomType' value=1 />
            <label for='i4'>&nbsp;&nbsp;Private Room</label>
        </div>
    </div>
    <div class="classroom-btn-view">
        <div ng-click="confirmCreateClassroom()" class="confirm-create-classroom-btn">
            CREATE CLASSROOM
        </div>
    </div>
</div>
