<!--
    - Classroom name
    - Accessibility
        . Public room
            ` For free
            ` Options for pay-per-view 1-1
                add a input to get price a hr.
        . Private room
            ` Administrator can invite users to join room
            ` share link to guests
    - Donations
        Boolean, to allow donations to be sent
    - Chat
        Boolean, to allow chat usage
        ng-controller='AcademiaClassroomsCtrl'
-->
<style>
    .headerline-title {
        font-size: 30px;
        font-weight: 600;
    }

    .headerline-sub-title {
        font-size: 15px;
        line-height: normal;
        margin-top: 10px;
    }

    .roomname-label {
        font-size: 15px;
        margin-top: 30px;
    }

    .roomname-input {
        height: 40px;
        width: 100%;
        border: 2px solid #999999;
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    .roomtype-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;
    }

    .roomtype-description {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -5px;
    }

    .confirm-btn {
        border: none;
        width: 100%;
        margin-top: 30px;
        border-radius: 5px;
        font-weight: 600;
    }
</style>

<div class="container-fluid modal-accounts">
    <div class="row">
        <div class="col-xs-12">
            <div class="headerline-title">{{'HOME_CALL_START_VIDEOCON' | translate}}</div>
            <div class="headerline-sub-title">{{'HOME_CALL_VIDEOCON_SUBTITLE' | translate}}</div>

            <div class="roomname-label">{{'ROOM_NAME' | translate}}</div>
            <span ng-if="hasValidationError" style="color: #ee5748; font-size: 15px;">{{validationErrorMessage | translate}}</span>
            <input class="roomname-input" ng-model='addingClassroom.uniqueName' placeholder="{{'CLASS_NAME' | translate}}" type="text" maxlength="50"/>
            <div class="roomtype-wrapper">
                <img src="../../img/classroom/lock.png" height="20px">
                <div class="roomtype-description">
                    <span style="font-size: 15px;">{{'ROOM_PRIVATE' | translate}}</span>
                    <span style="color:#999999; font-size: 15px; line-height: normal;">{{'ROOM_PRIVATE_SUBTITLE' | translate}}</span>
                </div>
                <img src="../../img/classroom/Switch On.png" height="25px" ng-click="addingClassroom.roomType=0" ng-hide="addingClassroom.roomType==0">
                <img src="../../img/classroom/Switch Off.png" height="25px" ng-click="addingClassroom.roomType=1" ng-hide="addingClassroom.roomType==1">
            </div>
            <!-- for attendance/grading feature
            <div class="roomtype-wrapper">
              <i class="fa fa-window-close-o" style="height:20px;" aria-hidden="true"></i>
                <div class="roomtype-description">
                    <span style="font-size: 15px;">{{'MARK_ATTENDANCE' | translate}}</span>
                    <span style="color:#999999; font-size: 15px; line-height: normal;">{{'MARK_ATTENDANCE_TEXT' | translate}}</span>
                </div>
                <img src="../../img/classroom/Switch On.png" height="25px" ng-click="addingClassroom.markAttendance=0" ng-hide="addingClassroom.markAttendance==0">
                <img src="../../img/classroom/Switch Off.png" height="25px" ng-click="addingClassroom.markAttendance=1" ng-hide="addingClassroom.markAttendance==1">
            </div>

            <div class="roomtype-wrapper">
                <div style="width: 100%;">
                    <p style="font-size: 15px;">{{'SELECT_TEACHER' | translate}}</p>
                    <select class="roomname-input" ng-model="addingClassroom.teacher">
                      <option ng-value="">{{'TYPE_TEACHER_NAME' | translate}}</option>
                      <option ng-repeat="user in members" ng-value="user._id">{{user.name}}</option>
                    </select>
                </div>
            </div>
            -->
            <button
              ng-click="confirmCreateClassroom()"
              class="confirm-btn"
              ng-style="{'background-color' : (addingClassroom.uniqueName == '') ? '#eeeeee' : '#5dbcd2', 'color' : (addingClassroom.uniqueName == '') ? 'black' : 'white'}"
            >
              {{'CREATE_CLASS' | translate}}
            </button>
        </div>
    </div>
    <!-- end row -->
</div>