<div class='classroom-alert-modal'>

    <label class='classroom-alert-modal-caption'><h1>Universidade</h1></label>
    <div>
        {{'CONFIRM_DELETE' | translate}}
    </div>

    <div class="classroom-del-modal">
      <div>
        <button ng-click='confirmDelete()' class='alert-confirm-ok-btn' >{{'OK' | translate}}</button>
      </div>
      <div>
        <button ng-click='cancelDelete()' class='alert-confirm-cancel-btn' >{{'CANCEL_UPPERCASE' | translate}} </button>
      </div>
    </div>
</div>
