<div class="container-fluid modal-accounts">

  <style>

    .input-email {
      text-transform: lowercase;
    }

    .input-email::-webkit-input-placeholder {
      text-transform: capitalize;
    }


  </style>

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one">Criar curadoria</div>

      <div class="alert bg-primary-red" ng-if="loginMessageBox">{{loginMessage}}</div>

      <div class="form">

        <div class="form-group">
          <label>Titulo</label>
          <input class="input-email" style="padding-left: 0; text-transform: unset;" ng-model="title" placeholder="Escreva o título da sua curadoria" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <label>Descrição</label>
          <textarea style="border: none; width: 100%; min-height: 150px; border-bottom: 2px solid #cdcdcd; text-transform: unset;" class="input-email" ng-model="description" placeholder="Uma breve descrição da sua curadoria" type="text"></textarea>
        </div>
        <!-- end form group -->

      </div>
      <!-- end form -->

      <button ng-click="createCategory()" class="btn btn-bluebase">Criar</button>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
