<div class="withdraw-modal-container">
  <div class="modal-title-container">
    <p class="modal-title universidade-blue-text-color">{{'WITHDRAW' | translate}}</p>
    <p class="step-text universidade-gray-color">{{'STEP_2_OF_2' | translate}}</p>
  </div>

  <p style="font-weight: bold; margin-top: 12px;">{{'WITHDRAW_STEP2_TITLE' | translate}}</p>

  <div class="col-md-12 col-xs-12 form" id="withdraw-form" style="margin-bottom: 2em;">
    <div class="form-group">
      <input type="text" placeholder="{{'ACCOUNT_NUMBER' | translate}}">
    </div>
    <div class="form-group">
      <input type="text" placeholder="{{'BANK_NAME' | translate}}">
    </div>
    <div class="form-group">
      <input type="text" placeholder="{{'SWIFT_CODE' | translate}}">
    </div>
    <div class="form-group">
      <input type="text" placeholder="{{'ROUTING_NUMBER' | translate}}">
    </div>
    <div class="form-group">
      <input type="text" placeholder="{{'COUNTRY' | translate}}">
    </div>
    <div class="form-group">
      <input type="text" placeholder="{{'CURRENCY_TEXT' | translate}}">
    </div>

  </div>

  <button
    class="btn btn-blue width25 bold br5"
    style="margin-bottom: 12px;"
    ng-click="performWithdrawOperation()"
  >
    {{'FINISH' | translate}}
  </button>
  <button
    class="btn btn-secondary universidade-blue-text-color width25 br5"
    ng-click="modalWithdrawStep2Back()"
  >
    {{'BACK' | translate}}
  </button>
</div>
