<div class="container-fluid modal-accounts">

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one">Login</div>

      <div class="form">

        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <input ng-model="loginEmail" placeholder="Email Address" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input ng-model="loginPassword" placeholder="Password" type="password" />
        </div>
        <!-- end form group -->

        <button ng-click="login()" class="btn btn-bluebase">Login</button>

        <div style="widht: 100%; text-align: center; padding-top: 30px; padding-bottom: 30px; font-size: 0.9em;"><a ng-click="forgotPassword()">Esqueceu sua senha?</a></div>

      </div>
      <!-- end form -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
