<div class="container-fluid modal-accounts" style="height: calc(100% - 70px); padding-bottom: 15px; overflow-y: auto;">

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one">Eu quero aprender sobre...</div>

      <div class="student-pro-illustration">
        <img style="width: 300px; height: unset;" src="https://cdn.dribbble.com/users/24711/screenshots/1507479/learngit-teaser.gif" />
      </div>

      <!--  ng-if="knowledge.knowledges.length > 0" -->

      <div ng-repeat="knowledge in knowledges" style="width: 50%; text-align: center; font-size: 1.15em; display: inline-block; line-height: 2.5em;"><input style="margin-right: 10px;" ng-change="knowledgeCheck(knowledge._id)" type="checkbox" id="scales" name="feature" ng-model="checkbox" value="scales" />{{knowledge.title}}</div>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->

<div class="section-actions" style="height: 70px; padding-top: 10px; padding-bottom: 10px;">
  <button ng-click="knowledgeStore()" class="btn bg-primary-blue" ng-click="subscribePro()" style="width: 100%; color: #fff;">Continuar</button>
</div>
