<div class="container-fluid modal-accounts">
    <div class="row" ng-show="page == 'information'">
        <div class="col-xs-12">
            <div class="headline-sub-one" style="margin-bottom: 30px;">{{information.title}}</div>
            <p>{{information.text}}</p>
        </div>
        <!-- end col-xs-12 -->

        <div class="form" style="position: absolute; bottom: 0; left: 0; width: 100%; padding-left: 15px; padding-right: 15px;">
            <button ng-click="informationAction()" class="btn btn-bluebase"><b>Ok</b></button>
        </div>
        <!-- end form -->

    </div>
    <!-- end row -->

    <div class="row" ng-show="page == 'cardAdd'">
        <div class="col-xs-12">
            <div class="headline-sub-one" style="margin-bottom: 30px;">{{'ADD_CARD' | translate}}</div>
            <div class="alert bg-primary-red" ng-show="validationError != undefined">{{validationError}}</div>
            <form ng-model="form">

                <div class="form-group">
                    <label>{{'CARDHOLDER' | translate}}</label>
                    <input ng-model="cardName" placeholder="{{'MR_CARDHOLDER' | translate}}" type="text" />
                </div>
                <!-- end form group -->

                <div class="form-group">
                    <label>{{'CARD' | translate}}</label>
                    <stripe-element instance="card"></stripe-element>
                </div>
                <!-- end form group -->
            </form>
        </div>
        <!-- end col-xs-12 -->

        <div class="form" style="position: absolute; bottom: 0; left: 0; width: 100%; padding-left: 15px; padding-right: 15px;">
            <button ng-click="cardAdd()" class="btn btn-green"><b ng-hide="loading">{{'ADD_CARD' | translate}}</b><img style="width: 30px;" ng-show="loading" src="img/misc/loading.gif" /></button>
        </div>
        <!-- end form -->
    </div>
    <!-- end row -->

    <div class="row" ng-show="page == 'order'">
        <div class="col-xs-12">
            <div class="headline-sub-one">{{'CONFIRM_ORDER' | translate}}</div>
            <div style="padding-top: 15px;">
                <div>
                    <label style="padding-bottom: 15px;">{{'YOUR_ORDER' | translate}}</label>
                </div>
                <div>
                    {{'SUBSCRIPTION' | translate}} {{plan.name}}
                    <div style="float: right;">
                        <div style="display: inline-block;" ng-if="plan.currency == 'brl'">R$</div>
                        <div style="display: inline-block" ng-if="plan.currency == 'usd'">$</div>
                        <div style="display: inline-block">{{planAmount(plan.amount)}}</div>
                    </div>
                </div>
            </div>

            <div class="form">
                <div class="form-group">
                    <label style="padding-bottom: 15px;">{{'CREDIT_OR_DEBIT' | translate}}</label>
                    <select ng-model="ae" ng-show="cards.sources.data.length > 0 ">
                        <option ng-repeat="card in cards.sources.data" ng-selected="card.id == cards.default_source" value="{{card.id}}">{{card.brand}} - {{card.last4}}</option>
                    </select>
                    <div style="margin-top: 15px;">
                        <p class="text-color-primary-blue" ng-click="goToPage('cardAdd')">+ {{'ADD_NEW_CARD' | translate}}</p>
                    </div>
                </div>
                <!-- end form -->
            </div>
            <!-- end form -->
        </div>
        <!-- end col-xs-12 -->

        <div class="form" style="position: absolute; bottom: 0; left: 0; width: 100%; padding-left: 15px; padding-right: 15px;">
            <button ng-click="confirmOrder()" class="btn btn-green"><b ng-hide="loading">{{'CONFIRM' | translate}}</b><img style="width: 30px;" ng-show="loading" src="img/misc/loading.gif" /></button>
        </div>
        <!-- end form -->

    </div>
    <!-- end row -->
</div>
<!-- end container-fluid -->