<div class="container-fluid modal-accounts">

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one">{{'RESET_PASS' | translate}}</div>

      <div ng-show="resetPasswordSuccess" style="margin-top: 25px;" class="alert bg-primary-green">{{'RESET_PASS_MESSAGE' | translate}}</div>
      <div class="alert bg-primary-red" ng-if="resetError">{{resetErrorMessage | translate}}</div>

      <div class="form" ng-hide="resetPasswordSuccess">

        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <input ng-model="resetpasswordEmail" placeholder="Email" type="text" />
        </div>
        <!-- end form group -->

        <button ng-click="resetPasswordStepOne()" class="btn btn-bluebase">{{'RESET_PASS' | translate}}</button>

      </div>
      <!-- end form -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
