<div class="container-fluid modal-accounts">

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one">Registrar</div>

      <div class="form">

        <div class="form-group">
          <i class="fas fa-user"></i>
          <input ng-model="createName" placeholder="Nome" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-user-circle"></i>
          <input ng-model="createUsername" placeholder="Username" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <input ng-model="createEmail" placeholder="Email" type="text" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input ng-model="createPassword" placeholder="Senha" type="password" />
        </div>
        <!-- end form group -->

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input ng-model="createPasswordConfirm" placeholder="Confirmar Senha" type="password" />
        </div>
        <!-- end form group -->

        <button ng-click="create()" class="btn btn-bluebase">Criar conta</button>

      </div>
      <!-- end form -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
