<div class="container-fluid modal-accounts" style="height: calc(100% - 70px); padding-bottom: 15px; overflow-y: auto;">

  <div class="row" ng-if="step == 'exhibition'">

    <div class="col-xs-12">

      <div class="headline-sub-one">Estudante <div class="student-pro" style="font-size: 0.8em !important; vertical-align: middle !important;">PRO</div></div>
      <p style="margin-bottom: 30px; font-size: 0.9em; font-weight: bold; color: #2c4256;">Benefícios incluem:</p>

      <div class="student-pro-benefits">

        <div class="benefit">
          <div class="icon"><img src="/img/education/university.png" /></div>
          <div class="texts">
            <div class="top">Inscrição ilimitada em universidades</div>
            <div class="description">Você pode se inscrever em diversas universidades</div>
          </div>
        </div>
        <!-- end benefits -->

        <div class="benefit">
          <div class="icon"><img src="/img/education/mortarboard.png" /></div>
          <div class="texts">
            <div class="top">Verificação de conta</div>
            <div class="description">Nossa plataforma é constituida por membros reais.</div>
          </div>
        </div>
        <!-- end benefits -->

        <div class="benefit">
          <div class="icon"><img src="/img/education/diploma-1.png" /></div>
          <div class="texts">
            <div class="top">Diplomas na Blockchain</div>
            <div class="description">Todos os seus certificados são registrados em Certificate Network</div>
          </div>
        </div>
        <!-- end benefits -->

        <div class="benefit">
          <div class="icon"><img src="/img/education/coupon.png" /></div>
          <div class="texts">
            <div class="top">Descontos de 5%</div>
            <div class="description">Aplicavel em todas as compras de cursos e assinaturas</div>
          </div>
        </div>
        <!-- end benefits -->

        <div class="benefit">
          <div class="icon"><img src="/img/education/newspaper.png" /></div>
          <div class="texts">
            <div class="top">Opinar em notícias públicas</div>
            <div class="description">Comente e vote no agregador de notícias</div>
          </div>
        </div>
        <!-- end benefits -->

      </div>
      <!-- end student-pro-benefits -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

  <p style="padding-top: 15px;"><b>Selecione um plano</b></p>

  <div class="student-pro-plans">

    <div class="plan" style="background-color: #2c4256;">

      <div class="name" style="color: #fff;">Mensal</div>
      <div class="time" style="color: #fff;">7 dias experimental</div>
      <div class="info" style="color: #ffffff96;">Depois, pague R$19.99 </br>por mês</div>

    </div>
    <!-- plan -->

    <div class="plan active" style="background-color: #fff; position: relative;">

      <div class="discount">50% desconto</div>
      <div class="name" style="color: #f05642;">Anual</div>
      <div class="time" style="color: #000;">1 ano</div>
      <div class="info" style="color: #00000096;">50% de desconto, pague R$9.99 </br>por mês</div>

    </div>
    <!-- plan -->

  </div>
  <!-- end plans -->

  <div class="row" ng-if="step == 'success'">

    <div class="col-xs-12">

      <div class="headline-sub-one">Sucesso</div>

      <div class="student-pro-illustration">
        <img src="https://cdn.dribbble.com/users/1162077/screenshots/3855991/stack-of-books.png" />
      </div>
      <!-- end student-pro-illustration -->

      <div style="padding-top: 15px">
        <b>É hora de aprender!</b>
        <p>Parabens! Você é Estudante Pro.</p>
        <!-- end p -->
      </div>
      <!-- end div -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->

<div class="section-actions" ng-show="step == 'exhibition'" style="height: 70px; padding-top: 10px; padding-bottom: 10px;">
  <button class="btn bg-base" ng-click="subscribePro()" style="width: 100%; color: #fff;">Assinar por R$9.99 mês</button>
</div>

<div ng-show="step == 'success'" class="section-actions" style="height: 70px; padding-top: 10px; padding-bottom: 10px;">
  <button class="btn bg-primary-green" ng-click="timeToStudy()" style="width: 100%; color: #fff;">Vamos estudar!</button>
</div>
