<div class="container-fluid modal-accounts">

  <div class="row">

    <div class="col-xs-12">

      <div class="headline-sub-one" style="padding-bottom: 30px;">{{'VIEWS' | translate}}</div>

      <p style="padding-bottom: 10px;" ng-if="viewers.length > 0">{{'VIDEO_LIST_OF_PROGRESS' | translate}}</p>

      <accountviewer v="{{viewer}}" pd="{{playerDuration}}" ng-repeat="viewer in viewers"></accountviewer>

      <p style="padding-bottom: 10px;" ng-if="viewers.length == 0">{{'NO_VIEWERS_TO_DISPLAY' | translate}}</p>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
