<div class="col-xs-12 col-sm-3 col-lg-offset-2 col-lg-3" style="padding-top: 30px;">

  <style>
    .course-dash-menu-option {
      font-size: 1.8em;
      color: #adadad;
      font-weight: bold;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .course-dash-menu-option.active {
      color: #525252;
    }
  </style>

  <div style="text-align: right;">
    <button class="btn btn-coral" style="font-size: 1em;" ng-click="estudar()"><b>Estudar</b></button>

    <div class="course-dash-menu">
      <div class="course-dash-menu-option" ng-class="{'active': originalPath.indexOf('/timeline') > 0 }"><a style="color: unset;" href='/cursos/id/{{courseId}}/timeline'>Timeline <i class="fas fa-stream" style="padding-left: 5px;"></i></a></div>
      <div class="course-dash-menu-option" ng-class="{'active': originalPath.indexOf('/modulos') > 0 }"><a style="color: unset;" href='/cursos/id/{{courseId}}/modulos'>Modulos <i class="fas fa-square" style="padding-left: 5px;"></i></a></div>
      <!--<div class="course-dash-menu-option" ng-class="{'active': originalPath.indexOf('/chat') > 0 }"><a style="color: unset;" href='/cursos/id/{{courseId}}/chat'>Chat <i style="padding-left: 5px;" class="fas fa-comment"></i></a></div>
      <div class="course-dash-menu-option" ng-class="{'active': originalPath.indexOf('/games') > 0 }"><a style="color: unset;" href='/cursos/id/{{courseId}}/games'>Games <i style="padding-left: 5px;" class="fas fa-gamepad"></i></a></div>
      <div class="course-dash-menu-option" ng-class="{'active': originalPath.indexOf('/driver') > 0 }"><a style="color: unset;" href='/cursos/id/{{courseId}}/driver'>Driver <i class="fas fa-folder" style="padding-left: 5px;"></i></a></div>-->

    </div>

  </div>

</div>
