<div ng-include="'partials/headerhome.html'"></div>

<style>

.btn-coral {
  background-color: #ee5748;
  box-shadow: 0px 8px 15px rgba(238, 87, 72, 0.51);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

</style>

<div class="container-fluid container-home">

  <div class="row academia-content" style="margin-bottom: 30px;">

    <div class="col-xs-12 col-sm-9">

      <div style="color: #2f4457; font-size: 2.5em; margin-bottom: 5px; font-weight: bolder;">Blockchain & Legal Immersion</div>

      <div style="font-size: 1.15em; margin-bottom: 15px;">
        <div style="display: inline-block; margin-right: 10px; margin-bottom: 5px;"><i class="fas fa-clock" style="padding-right: 5px;"></i> 24 horas</div>
        <div style="display: inline-block;"><i class="fas fa-chart-bar" style="padding-right: 5px;"></i> Introdutório a Intermediário</div>
      </div>

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12 col-sm-3" style="padding-top: 30px;">

      <div style="text-align: right;">
        <button class="btn btn-coral" style="font-size: 1em;"><b>Estudar</b></button>
      </div>

    </div>
    <!-- -->

  </div>
  <!-- end row academia-content -->

  <div class="row academia-content" style="margin-bottom: 30px;">

    <div class="col-xs-12 col-sm-8">

      <!--<div style="font-size: 1.8em; margin-bottom: 15px; font-weight: 600; color: #2f4457;">Sobre o Curso</div>-->

      <div class="course-card">
        ae
      </div>

    </div>
    <!-- -->

  </div>
  <!-- end row academia-content -->

  <style>

    .button-highlighter {
      box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
      transition: all 0.3s ease 0s;
      cursor: pointer;
    }

    .course-card {
      box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
      border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
      padding-left: 20px; padding-right: 20px;
      margin-bottom: 15px;
    }

    .course-card .topic {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .course-card .topic .text {
      display: inline-block;
      width: calc(100% - 39px);
    }

    .course-card .topic .title {
      font-size: 1.3em;
      display: inline-block;
      font-weight: 500;
    }

    .course-card .topic .title {
      font-size: 1.2em;
      color: #3c3c3c;
    }

    .course-card .topic .subtitle {
      color: #8c8c8c;
    }

    .course-card .topic .line {
      width: 35px;
      font-size: 0.5em;
      padding-top: 7px;
      vertical-align: top;
      text-align: center;
      display: inline-block;
      color: #d8d8d8;
    }

    .instrutora {
      margin-right: 15px;
      display: inline-block;
    }

    .instrutora .author {
      font-size: 1.25em;
    }

    .instrutora .author .name {
      font-weight: 600;
    }

    .instrutora .author .title {
      font-weight: 400;
      font-size: 0.8em;
    }


    .instrutora .text {

    }

    .instrutora .picture {
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 768px) {

      .course-card {

        padding-right: 10px;
        padding-left: 10px;

      }

    }

  </style>

  <div class="row academia-content modules-row academia-content">

    <div class="col-xs-12 col-sm-12">
      <div style="font-size: 1.8em; margin-bottom: 15px; font-weight: 600; color: #2f4457;">Programa</div>
    </div>
    <!-- end -->

    <div class="col-xs-12 col-sm-4">

      <div class="course-card">

        <div class="title" style="line-height: 35px;">

          <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div>

          <div style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">Blockchain Immersion</div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-bullseye"></i>
          </div>

          <div class="text">
            OBJETIVO</br>Apresentação inicial do Bitcoin & Blockchain
          </div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-clock"></i>
          </div>

          <div class="text">
            DURAÇÃO</br>4 horas
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Histórico</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Aspectos Técnicos</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Especulação</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Infraestruturas inspiradas no Blockchain</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>
        <!-- -->

      </div>
      <!-- end course-card -->

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4">

      <div class="course-card">

        <div class="title" style="line-height: 35px;">

          <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div>

          <div style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">Blockchain Immersion - 2</div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-bullseye"></i>
          </div>

          <div class="text">
            OBJETIVO</br>Apresentação inicial do Bitcoin & Blockchain
          </div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-clock"></i>
          </div>

          <div class="text">
            DURAÇÃO</br>4 horas
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Histórico</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Aspectos Técnicos</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Especulação</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Infraestruturas inspiradas no Blockchain</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>
        <!-- -->

      </div>
      <!-- end course-card -->

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4">

      <div class="course-card">

        <div class="title" style="line-height: 35px;">

          <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div>

          <div style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">The Legal of Blockchain</div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-bullseye"></i>
          </div>

          <div class="text">
            OBJETIVO</br>Apresentação inicial do Bitcoin & Blockchain
          </div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-clock"></i>
          </div>

          <div class="text">
            DURAÇÃO</br>4 horas
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Histórico</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Aspectos Técnicos</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Especulação</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>

        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Infraestruturas inspiradas no Blockchain</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>
        <!-- -->

      </div>
      <!-- end course-card -->

    </div>
    <!-- -->

  </div>
  <!-- end row academia-content -->

</div>
<!-- container-full -->
