.account-loginregister-content {

  margin: 50px auto;
  max-width: 600px;

}

.account-loginregister-message {

  padding: 15px;
  background-color: #f3f3f3;

}

.account-logo {

  position: relative;
  text-align: center;
  width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;

}

.account-logo img {

  width: 250px;

}

.account-loginregister-content .login-col {

  padding-left: 15vw;
  padding-right: 15vw;

  padding-bottom: 5vh;

}

.account-loginregister-content .create-col {

}

.account-loginregister-content-form {

  min-height: 250px;
  position: relative;

  padding-top: 15px;

}

.account-loginregister-content-form p {

  margin-bottom: 15px;

}

.account-loginregister-content-form span {

  float: right;
  color: #52bfea;
  text-decoration: underline;

}


@media screen and (max-width: 768px) {

  .account-logo img {


  }

  .account-loginregister-content input {

    width: 100%;

  }

  .account-loginregister-content .login-col {

    border-left: none;

  }

  .account-loginregister-content .create-col {


  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 750px) {

  .account-loginregister-content .login-col {

  }

  .account-loginregister-content .create-col {

  }

}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 750px) {

  .account-loginregister-content .login-col {

  }

  .account-loginregister-content .create-col {

  }

}

}.account-loginregister-content .login-col {

}

.account-loginregister-content .create-col {

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 1170px) {

  .account-loginregister-content .login-col {

  }

  .account-loginregister-content .create-col {

  }

}
