.classroom-container {
    margin-top: 30px;
    padding-left: 30px;
}

.active {
    color: green;
}

.add-classroom-btn {
    border-radius: 5px;
    font-size: 16px;
    background-color: #437130;
    color: white;
    width: 210px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    font-family: 'roboto';
}

.classroom-list {
    padding-top: 15px;
    font-size: 20px;
}

.classroom-list:hover {
    background-color: #bbecbb;
}

.classroom-list-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.classroom-list-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.classroom-list-view {
    display: flex;
    flex-direction: column;
    border-width: thin;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

.classroom-btn-view {
    align-items: center;
}

.classroom-modal-main {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.classroom-modal-input {
    border: 0;
    height: 40px;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.classroom-modal-input:focus {
    outline: none;
}

.radio-group-row {
    display: flex;
    justify-content: center;
}

.radio-group-column>.inputGroup {
    width: 500px !important;
}

.radio-group-row>.inputGroup {
    width: 200px;
    margin-left: 2px;
    margin-right: 2px;
}

.classroom-modal-radio-group-container {
    display: flex;
    margin-left: -20px;
    margin-top: -10px;
}

.inputGroup-radio {
    position: relative;
    border-radius: 5px;
    margin-left: 0px;
}

.inputGroup-radio>label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    left: 21px;
    font-size: 22px;
    height: 45px;
}

.inputGroup-radio>label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    /*background-color: #8382fd;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup-radio>label:after {
    padding: 7px;
    width: 28px;
    height: 28px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    /*background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");*/
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 8;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup-radio>input:checked~label {
    border-radius: 5px;
}

.inputGroup-radio>input:checked~label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup-radio>input:checked~label:after {
    background-color: #5b69f0;
    border-width: 6px;
    border-color: #5bfeb5;
}

.inputGroup-radio>input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.inputGroup-checkbox {
    /*background-color: #D1D7DC;*/
    display: block;
    position: relative;
    border-radius: 5px;
}

.inputGroup-checkbox>label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    left: 21px;
    font-size: 22px;
    height: 45px;
}

.inputGroup-checkbox>label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    /*background-color: #8382fd;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup-checkbox>label:after {
    padding: 7px;
    width: 28px;
    height: 28px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 1px 2px;
    border-radius: 2px;
    z-index: 8;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup-checkbox>input:checked~label {
    border-radius: 5px;
}

.inputGroup-checkbox>input:checked~label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup-checkbox>input:checked~label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}

.inputGroup-checkbox>input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.classroom-modal-caption {
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 400;
}

.classroom-alert-modal-caption {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 400;
}

.classroom-alert-modal .ngdialog-close {
    left: unset !important;
    right: 0px;
    top: 7px !important;
}

.classroom-alert-modal {
    padding-left: 30px;
}

.classroom-name-container {
    margin-bottom: 20px;
}

.classroom-name-container input {
    margin-top: 14px;
    height: 50px;
}

.disabled label {
    color: gray;
    cursor: not-allowed;
}

.disabled input {
    cursor: not-allowed !important;
    color: gray;
}

.inner label {
    font-size: 16px;
}

.disabled .inputGroup-radio>input:checked~label:after {
    background-color: #dfdfdf;
    border-width: 6px;
    border-color: #ecf3f0;
    cursor: not-allowed;
}

.disabled .inputGroup-radio label:after {
    cursor: not-allowed;
}

.disabled .inputGroup-checkbox label:after {
    cursor: not-allowed;
}

.disabled .inputGroup-checkbox>input:checked~label:after {
    background-color: #dfdfdf;
    border-color: #ecf3f0;
    cursor: not-allowed;
}

.confirm-create-classroom-btn {
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #437130;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    font-family: 'roboto';
}

.classroom-modal .ngdialog-content {
    width: 480px !important;
    height: 420px !important;
    margin-top: 100px !important;
}

.classroom-alert-modal .ngdialog-content {
    width: 480px !important;
    height: 141px !important;
    margin-top: 100px !important;
}

.classroom-modal .ngdialog-close {
    position: absolute !important;
    top: 0px !important;
    left: 440px !important;
}

.classroom-modal-main input {
    background-color: rgb(228, 228, 228);
}

.left-margin-50 {
    margin-left: 50px;
}

.left-margin-100 {
    margin-left: 50px;
}

.classroom-page-cotainer {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
}

.display-container {
    display: flex;
    background-color: #3C454C;
    justify-content: space-between;
    margin-top: 50px;
}

.controller-container {
    margin-top: 30px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controller-container div {
    display: flex;
}

.classroom-participants-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
    padding-left: 20px;
}

.classroom-participants-container-none {
    background-color: #3C454C;
}

.classroom-video-container {
    display: flex;
    background-color: #3C454C;
    position: relative;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px;
    width: 700px;
    align-content: center;
    align-items: center;
    overflow-y: auto;
}

video {
    display: block;
}

.classroom-video-container::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #3c444c;
}
.classroom-video-container::-moz-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #3c444c;
}
.classroom-video-container::-o-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #3c444c;
}

.classroom-video-container::-webkit-scrollbar
{
    width: 12px;
    background-color: #5d5d5d !important;
}
.classroom-video-container::-moz-scrollbar
{
    width: 12px;
    background-color: #5d5d5d !important;
}
.classroom-video-container::-o-scrollbar
{
    width: 12px;
    background-color: #5d5d5d !important;
}

.classroom-video-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: #5d5d5d !important;
}
.classroom-video-container::-moz-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: #5d5d5d !important;
}
.classroom-video-container::-o-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: #5d5d5d !important;
}

.classroom-video-container-wrapper {
    width: 500px;
    height: 400px;
    background-color: #3C454C;
}

.classroom-chat-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 50;
}

.classroom-chat-container-none {
    background-color: #3C454C;
}

.avatar-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
}

.ava1 {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 18x;
    -moz-border-radius: 18px;
    border-radius: 50%;
}

.userinfo {
    font-size: 14px;
}

.username {
    font-size: 16px;
}

.privilege {
    margin-left: 10px;
    font-size: 19px;
    display: flex;
    color: white;
}

.video-audio-chat {
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    font-size: 10px;
    width: 100%;
}

#local_video {
    background-color: black;
}

#twilio video {
    object-fit: cover;
}

#twilio div {
    /*width: 210px;*/
    height: auto;
    color: white;
}

.classroom-list-title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 5px;
}

.accessibility-caption {
    padding-top: 50px;
    padding-bottom: 20px;
}

.classroom-administrator-container {
    text-align: unset;
    display: flex;
    align-items: center;
    margin: 5px;
}

.classroom-administrator-container img {
    margin-left: 10px;
    margin-right: 10px;
}

.classroom-students-title {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: -0.9px;
}

.top-margin-20 {
    margin-top: 20px;
}

.classroom-return-btn {
    font-size: 20px;
    border-radius: 3px;
    background-color: #2d4255;
    color: white;
}

.screen-controller {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 26px;
    width: 50px;
}

.admin-active {
    border-width: 3px;
    border-color: #e0e0e0 !important;
    border: solid;
}

.mobile-participants {
    display: none;
}

.Sharing i {
    color: red !important;
}

.sub-video-title-section {
    margin-top: -20px;
    background-color: black;
    color: white;
    opacity: 0.6;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.classroom-list-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.classroom-list-divider {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: rgba(192, 192, 192, 0.7);
}

.classroom-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.classroom-arrange-iconview {
    display: flex;
}

.list-view-style {
    cursor: pointer;
    object-fit: cover;
    color: #333333;
    margin-top: 5px;
}

.grid-view-style {
    margin-left: 5px;
    cursor: pointer;
}

.icon-container-bottom {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: dimgray;
    margin-bottom: 5px;
    align-items: center;
}

.func-name {
    font-size: 12px;
}

.alert-confirm-btn {
    width: 70px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 3px;
    background-color: #160d0d;
    color: white;
}

@media screen and (max-width: 468px) {
    .classroom-video-container {
        padding: 0px;
        overflow-y: auto;
        min-height: unset;
        justify-content: left;
        width: 100%;
    }
    .disp-mobile-none {
        display: none;
    }
    .classroom-list-title {
        font-weight: 700;
    }
    .classroom-list {
        padding-top: 5px;
    }
    .classroom-list-divider {
        width: 100%;
        height: 1px;
        margin-top: 5px;
        background-color: rgba(192, 192, 192, 0.7);
    }
    .mobile-participants {
        height: 40px;
        width: 40px;
        position: absolute;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
        z-index: 10;
        background: #e8e8e8;
        opacity: 0.7;
        color: #b7b7b7;
    }

    .func-name {
        display: none !important;
    }
    .controller-container {
        margin-top: 10px;
    }
    .icon-container-bottom {
        width: 40px;
        height: 40px;
    }
    .call-end-icon {
        font-size: 24px;
    }
    .ava1 {
        width: 60px;
        height: 60px;
    }

    .classroom-alert-modal {
        padding-left: 30px;
        padding-right: 30px;
    }

}


@media screen and (max-width: 800px) {
    .classroom-video-container {
        padding: 0px;
        overflow-y: auto;
        min-height: unset;
        justify-content: left;
        width: 100%;
    }
    .disp-mobile-none {
        display: none;
    }
    .classroom-list-title {
        font-weight: 700;
    }
    .classroom-list {
        padding-top: 5px;
    }
    .classroom-list-divider {
        width: 100%;
        height: 1px;
        margin-top: 5px;
        background-color: rgba(192, 192, 192, 0.7);
    }
    .mobile-participants {
        height: 40px;
        width: 40px;
        position: absolute;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
        z-index: 10;
        background: #e8e8e8;
        opacity: 0.7;
        color: #b7b7b7;
    }

    .func-name {
        display: none !important;
    }
    .controller-container {
        margin-top: 10px;
    }
    .icon-container-bottom {
        width: 40px;
        height: 40px;
    }
    .call-end-icon {
        font-size: 24px;
    }
    .ava1 {
        width: 60px;
        height: 60px;
    }

    .classroom-alert-modal {
        padding-left: 30px;
        padding-right: 30px;
    }

}
