.classroom-page-container {
    background-color: #3C454C;
    height: 100vh !important;
    margin-top: -20px;
}

.participant-menu-icon {
    color: white !important;
    z-index: 40;
}

.participant-menu-icon>i {
    font-size: 30px;
}

.calssroom-logo>div {
    font-size: 17px;
    color: white;
}

.chat-menu-icon {
    color: white !important;
    z-index: 40;
}

.chat-menu-icon>i {
    font-size: 30px;
}

.bottom-controller-container {
    margin-bottom: 30px;
    z-index: 30;
}

.icon-container-bottom>div {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.meeting-controller-icon {
    text-align: center;
    width: 100%;
}

.chat-admin {
    margin-bottom: 20px;
}

.chat-admin-label {
    background-color: rgb(30, 235, 115);
    border-radius: 2px;
    padding: 4px;
}

.chat-admin-role-label {
    background-color: rgb(102, 6, 102);
    border-radius: 2px;
    margin-left: 5px;
    padding: 4px;
}

.chat-main-list {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: -0.9px;
    border-width: thin;
    border-radius: 5px;
    height: 111%;
    overflow-y: auto;
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 10px;
}

.meeting-display-container {
    display: flex;
    background-color: #3C454C;
    justify-content: center;
}

.fixed-position {
    position: fixed;
}

.drag-in-left-right {
    left: 0px !important;
    height: 100%;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: left 0.3s ease-in-out;
    /** Firefox **/
    -o-transition: left 0.3s ease-in-out;
}

.drag-out-right-left {
    left: -281px !important;
    height: 100%;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: left 0.3s ease-in-out;
    /** Firefox **/
    -o-transition: left 0.3s ease-in-out;
}

.classroom-participants-initial {
    width: 280px;
    left: -281px;
    height: 100%;
    z-index: 30;
}

.classroom-chatbox-initial {
    width: 350px;
    right: -351px;
    height: 100%;
    z-index: 50;
    background-color: #f6f6f6;
}

.drag-in-right-left {
    right: 0px !important;
    height: 100%;
    transition: right 0.3s ease-in-out;
    -webkit-transition: right 0.3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: right 0.3s ease-in-out;
    /** Firefox **/
    -o-transition: right 0.3s ease-in-out;
}

.drag-out-left-right {
    right: -351px !important;
    height: 100%;
    transition: right 0.3s ease-in-out;
    -webkit-transition: right 0.3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: right 0.3s ease-in-out;
    /** Firefox **/
    -o-transition: right 0.3s ease-in-out;
}

.meeting-classroom-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.participant-close-btn {
    width: 30px;
    height: 30px;
    font-size: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background-color: white;
}

.chatbox-close-btn {
    right: 0px;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: #f6f6f6;
}

.mobile-visible {
    display: none !important;
}

.alert-confirm-ok-btn {
    /* position: absolute;
    left: 70px;
    bottom: 10px; */
    width: 100px;
    border-radius: 3px;
    background: #323532;
    color: white;
}

.alert-confirm-cancel-btn {
    /* position: absolute;
    right: 70px;
    bottom: 10px; */
    width: 100px;
    border-radius: 3px;
    background: #0a290a;
    color: white;
}

.section-menu {
    margin-left: 20px;
}

.academia-supportcol-info {
    margin-left: 20px;
}

.full-screen-icon {
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    z-index: 20;
}

.full-screen-icon i {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.visible {
    display: initial;
}

.invisible {
    display: none;
}

.bottom-controllers-fullscreen-show {
    position: fixed;
    bottom: 5px;
}

.chat-sending-input-container {
    position: relative;
    bottom: 0px;
    height: auto;
    width: 110%;
    margin-left: -15px;
    border-radius: 0px;
    display: flex;
}

.chat-sending-input-container textarea {
    height: 50px;
    width: 90%;
    border: none;
    background-color: #dddddd;
}

.chat-sending-input-container textarea:focus {
    outline: none;
}

.chat-sending-input-container button {
    height: 50px;
    font-size: 35px;
    /* border-radius: 3px; */
    background-color: #35c6ff;
    color: white;
    float: right;
    margin-left: -3px;
    z-index: 3;
}

.chat-sending-input-container button>i {
    transform: rotate(262deg);
}

.friend-select {
    margin-top: 10px;
    height: 30px;
    border: solid;
    border-width: thin;
}

.chat-item-st {
    margin-bottom: 10px;

}

.mine .chat-title-st {
    width: 45%;
    margin-left: 101px;
}

.other .chat-title-st {
    width: 45%;
    margin-left: 53px;
}

.chat-main-st {
    width: 87%;
    word-break: break-all;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    letter-spacing: 0.3px;
}

.chat-mine-bg {
    background-color: #8e8efc;
    color: white;
}

.chat-other-bg {
    background-color: #dddddd;
    color: black;
}

.chat-item-st.mine .chat-main-st
{
    border-top-right-radius: 0px;
    background-color: #52bfea;
    color: black;
}

.chat-item-st.other .chat-main-st
{
    border-top-left-radius: 0px;
    background-color: #dddddd;
    color: black;
}

.chat-time-st {
    letter-spacing: 0.1px;
    font-size: 12px;
    float: right;
}

.chat-name-st {
    margin-bottom: -6px;
    float: left;
    font-size: 12px;
}

.chat-body-st {
    display: flex;
    flex-direction: row;
}

.chat-body-st>img {
    width: 45px;
    height: 49px;
}

.chat-item-st.other .chat-body-st>div {
    position: relative;
    width: 80%;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 5px;
    margin-left: 9px;
    word-break: break-all;
    font-weight: 600;
}

.chat-item-st.mine .chat-body-st>div {
    position: relative;
    width: 78%;
    background-color: #52bfea;
    padding: 5px;
    border-radius: 5px;
    margin-right: 11px;
    margin-left: 13px;
    word-break: break-all;
    font-weight: 600;
}

.chat-item-st.mine .chat-body-st>div:before {
    content: "";
    position: absolute;
    width: 0;
    /* height: 10%; */
    right: -12px;
    top: 16px;
    border: 3px solid transparent;
    border-left: 10px solid #52bfea;
    /* border-left: 32px solid rgba(193,193,193,0.5); */
    z-index: 2;
}

.chat-item-st.other .chat-body-st>div:before {
    content: "";
    position: absolute;
    width: 0;
    /* height: 10%; */
    left: -13px;
    top: 16px;
    border: 3px solid transparent;
    border-right: 11px solid rgb(221, 221, 221);
    /* border-left: 32px solid rgba(193,193,193,0.5); */
    z-index: 2;
}

.recording {
    color: red;
}

.sub-video-title {
    background-color: black;
}

.classroom-select-device-modal .ngdialog-content {
    width: 700px !important;
    height: 500px !important;
    margin-top: 100px !important;
    background-color: #e6e6e6 !important;
}

.classroom-select-device-container {
    display: flex;
    background-color: #e6e6e6;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.join-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.join-button-group button {
    border-radius: 5px;
    background-color: #333232;
    color: white;
    height: 36px;
    width: 200px !important;
    margin-left: 15px;
    margin-right: 15px;
}

.video-setting-screen-controller {
    position: absolute;
    bottom: 100px;
    left: 180px;
}

.voice-setting-screen-controller {
    position: absolute;
    bottom: 100px;
    right: 180px;
}

#selecting_container {}

#selecting_video {
    width: 100%;
    height: 430px;
    contain: strict;
    background-color: black;
}

.select-device-icon-controller {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: unset;
    margin-bottom: 5px;
    justify-content: center;
    border: solid;
    border-color: white;
    border-width: 1.3px;
    display: flex;
    font-size: 25px;
    align-items: center;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.classroom-select-device-modal .ngdialog-close {
    display: none;
}

.chatbox-status {
    height: 22px;
}

@media screen and (max-width: 468px) {
    .classroom-page-container {
        margin-top: 0px;
    }
    .meeting-display-container {
        margin-top: 0px;
        position: fixed;
        height: 100%;
        width: 100%;
    }
    .meeting-classroom-main {
        padding: 0px;
        margin-top: 0px;
    }
    .controller-container {
        width: 100%;
    }
    .bottom-controller-container {
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .classroom-chat-container>.avatar-container {
        margin-top: 25px;
    }
    .mobile-invisible {
        display: none !important;
    }
    .mobile-visible {
        display: flex !important;
    }
    .classroom-chatbox-initial {
        width: 100%;
        right: -100%;
        height: 100%;
        z-index: 50;
    }
    .drag-in-right-left {
        right: 0px !important;
        height: 100%;
    }
    .drag-out-left-right {
        right: -105% !important;
        height: 100%;
    }
    .drag-in-left-right {
        left: 0px !important;
        height: 100%;
    }
    .drag-out-right-left {
        left: -105% !important;
        width: 100%;
        height: 100%;
    }
    .classroom-participants-initial {
        width: 100%;
        left: -100%;
        height: 100%;
        z-index: 50;
    }
    .classroom-select-device-modal .ngdialog-content {
        width: 100vw !important;
    }
    .classroom-select-device-container {
        display: flex;
        flex-direction: column;
        padding-top: 47px;
    }
    #selecting_video {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .video-setting-screen-controller {
        position: absolute;
        bottom: 50px;
        left: 90px;
    }
    .voice-setting-screen-controller {
        position: absolute;
        bottom: 50px;
        right: 90px;
    }
    .join-button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sub-video-title {
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .classroom-page-container {
        margin-top: 0px;
    }
    .meeting-display-container {
        margin-top: 0px;
        position: fixed;
        height: 100%;
        width: 100%;
    }
    .meeting-classroom-main {
        padding: 0px;
        margin-top: 0px;
    }
    .controller-container {
        width: 100%;
    }
    .bottom-controller-container {
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .classroom-chat-container>.avatar-container {
        margin-top: 25px;
    }
    .mobile-invisible {
        display: none !important;
    }
    .mobile-visible {
        display: flex !important;
    }
    .classroom-chatbox-initial {
        width: 100%;
        right: -100%;
        height: 100%;
        z-index: 50;
    }
    .drag-in-right-left {
        right: 0px !important;
        height: 100%;
    }
    .drag-out-left-right {
        right: -105% !important;
        height: 100%;
    }
    .drag-in-left-right {
        left: 0px !important;
        height: 100%;
    }
    .drag-out-right-left {
        left: -105% !important;
        width: 100%;
        height: 100%;
    }
    .classroom-participants-initial {
        width: 100%;
        left: -100%;
        height: 100%;
        z-index: 50;
    }
    .classroom-select-device-modal .ngdialog-content {
        width: 100vw !important;
    }
    .classroom-select-device-container {
        display: flex;
        flex-direction: column;
        padding-top: 47px;
    }
    #selecting_video {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .video-setting-screen-controller {
        position: absolute;
        bottom: 50px;
        left: 90px;
    }
    .voice-setting-screen-controller {
        position: absolute;
        bottom: 50px;
        right: 90px;
    }
    .join-button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sub-video-title {
        position: relative;
    }
}