.footer {

  min-height: 200px;
  background-color: rgb(45, 45, 45);

  margin-top: 40px;

  padding: 30px;

}

.footer .col .title {

  color: #bbc0c4;
  font-weight: 600;

}

.footer .col .list {

  padding-top: 10px;

}

.footer .col .list .link a {

  color: #848d95;

  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 0.9em;

}
