/* content */

.content {

  margin-top: 111px;

}

.content-page {

  padding: 30px;

}

.content-bar {

  border-left: 1px solid #d0d0d0;

  position: fixed;

  right: 0;
  bottom: 0;
  top: 111px;

  padding-top: 15px;
  padding-bottom: 15px;

  font-family: 'Roboto', sans-serif;

  background-color: white;

}

.content-bar-title {

  font-size: 1.5em;
  text-decoration: underline;

  margin-bottom: 15px;

}

.content-bar-inputarea {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 10px;

  border-top: 1px solid #000;

  width: 100%;

  background-color: white;

}

.content-bar-inputarea-textarea {

  display: inline-block;

  width: calc(85% - 15px);

  padding-bottom: 10px;
  vertical-align: middle;

}

.content-bar-inputarea-textarea textarea {

  resize: none;
  width: 100%;
  display: inline;

  vertical-align: bottom:

}

.content-bar-inputarea-button {

  display: inline-block;

  width: calc(15% - 15px);

  justify-content: center;

}

.content-bar-inputarea-button button {

  border: none;
  background: none;
  border: none;
  text-decoration: underline;

  margin-bottom: 5px;

}

.content-bar-messages-messages {

  height: -webkit-calc(100vh - 260px);
  height: -moz-calc(100vh - 260px);
  height: calc(100vh - 260px);

  overflow-y: scroll;

}

.content-bar-messages-message {

  margin-top: 10px;
  margin-bottom: 10px;

}

.content-bar-messages-message-user {

  display: inline-block;

  vertical-align: top;

}

.content-bar-messages-message-user img {

  height: 30px;
  border-radius: 40%;

}

.content-bar-messages-message-text {

  display: inline-block;

}

.content-bar-messages-message-text-user-name {

  font-size: 0.8em;
  color: #a7a7a7;

}

.content-bar-messages-message-text-message {

}

/* PAGE */
.content-page-home {

  padding: 0px;

  padding-left: 80px;
  padding-right: 80px;


}

/* scroll bar explore */

.explore-section-row::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.explore-section-row::-webkit-scrollbar
{
	height: 4px;
	background-color: #6b7a88;
}

.explore-section-row::-webkit-scrollbar-thumb
{
	background-color: #6b7a88;
}

/* end scroll bar explore */

/* home / social marketplace */
.explore-section-hashtags {

}

.explore-section-hashtags-hashtag {

  display: inline;
  background-color: #e6e6e6;
  color: #525252;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;

  margin-right: 7px;

}

.explore-section-hashtags-hashtag:hover {

  background-color: #eaeaea;
  color: #3a3a3a;

  border: 2px solid #f1786c;

}

/* explore-section */

.explore-section {

  padding-top: 30px;
  padding-bottom: 30px;

}

.explore-section-title {

}

.explore-section-title-text {

  font-weight: 600;
  font-size: 1.6em;
  color: #2c4255;

  margin-bottom: 30px;
  display: inline-block;

}

.explore-section-title-more {

  float: right;
  display: inline-block;

  color: #566766;

  font-size: 1.5em;
  line-height: 1.5em;

}

.explore-section-title-more a {

  color: #566766;

}

.explore-section-row {

  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  padding-bottom: 10px;

}

.explore-section-row-block {

  width: calc(25% - 10px);
  display: inline-block;

  margin-right: 10px;

  cursor: pointer;

}

.explore-section-row-block-image {

  width: 100%;
  height: 300px;

  background-size: cover;
  background-position: 50% 50%;

  border-radius: 3px;

}

.explore-section-row-block-image:hover {

  -webkit-box-shadow: inset 0px 0px 40px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0px 0px 40px 0px rgba(255,255,255,0.25);
  box-shadow: inset 0px 0px 40px 0px rgba(255,255,255,0.25);

  transition: box-shadow 0.2s ease-in-out;

}

.explore-section-row-block-image img {

  width: 100%;

}

.explore-section-row-block-text {

  padding-top: 10px;
  padding-bottom: 10px;

}

.explore-section-row-block-text-title {

  font-size: 1.3em;
  font-weight: 500;

  width: 100%;

}

.explore-section-row-block-text-subtitle {

  font-weight: 400;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

/* min-width && max-width */
@media screen and (max-width: 1200px) {

  .explore-section-row-block {

    width: calc(33.33% - 10px);
    display: inline-block;

    margin-right: 10px;

    cursor: pointer;

  }

}

@media screen and (max-width: 992px) {

  .content-page-home {

    padding-left: 15px;
    padding-right: 15px;

  }

  .explore-section-row-block {

    width: calc(33.33% - 10px);
    display: inline-block;

    margin-right: 10px;

    cursor: pointer;

  }

}


@media screen and (max-width: 750px) {


}

@media screen and (max-width: 767px) {

  /* explore-section */
  .explore-section {
    padding-top: 15px;
  }

  .explore-section-row-block-text-subtitle {
    display: none;
  }

  .explore-section-row-block {

    width: calc(50% - 10px);
    display: inline-block;

    margin-right: 10px;

    cursor: pointer;

  }

  .explore-section-row-block-jobs {
    width: calc(100% - 10px);
  }

  /* end explore-section */

  .content {

    margin-top: 102px;

  }

  .content-bar {

    display: none;

    position: fixed;

    width: 100%;
    top: 91px;
    border-left: 0;

    height: calc(100vh - 90px);

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

  }

  .content-page {

    padding: 15px;

  }

  .navbar-home-logo {

    width: 175px;
    padding-right: 4px;

  }

  .navbar-home-search {

    float: right;

  }

  .navbar-pages ul {

    padding-left: 0;
    text-align: center;
    line-height: 33px;

  }

  .navbar-pages li {

    font-size: 0.8em;
    padding-left: 15px;
    padding-right: 15px;

  }

  .navbar-home-search input {

    height: 29px;
    border: 0;
    width: calc(100% - 50px);
    outline: none;

  }

  .navbar-home-search button {

    width: 50px;

  }

  .navbar-home-search {

    margin-left: 0px;

  }

  .navbar-home-mobilearrow {

    display: inline-block;

  }

  .navbar-home-menuright {

    display: none;

  }

}

@media screen and (max-width: 468px) {

  .content {

    margin-top: 93px;

  }

  .navbar-home-logo {

    /* width: 145px; */
    width: calc(40vw - 10px);
    padding-left: 10px;
    padding-right: 6px;

  }

  .navbar-home {

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

  }

  .navbar-home-search {

    width: calc(60vw - 50px);
    padding-left: 10px;
    margin-right: 10px;

  }

  .navbar-home-mobilearrow {

    display: inline-block;

  }

}
