/* navbar */


/* .navbar-index {

  height: 125px;
  position: relative;

  padding-top: 25px;
  padding-bottom: 25px;

  width: 100%;

}

.navbar-index-logo {

  text-align: center;
  display: inline-block;

  width: 100%;
  line-height: 75px;

}

.navbar-index-menu {

  display: inline-block;
  float: right;

}

.navbar-index-logo img {

  /*
  height: 65px;
  *
  width: 100%;

}

/* index-explorer *
.index-explorer {

  width: 100%;

  padding-top: 15vh;
  padding-bottom: 35vh;

  padding-left: 15vw;
  padding-right: 15vw;

}

.index-explorer-title {

  font-family: 'Roboto', sans-serif;
  color: #ee5748;

  font-size: 2em;

  text-align: center;

  margin-bottom: 30px;

}

.index-explore-search {

  border: 1px solid #52bfea;

}

.index-explore-search input {

  height: 44px;
  border: 0;
  width: calc(100% - 100px);
  outline: none;

}

.index-explore-search button {

  border: none;
  height: 45px;
  width: 100px;
  float: right;
  background-color: #52bfea;
  color: white;
  font-size: 1.35em;

}

/* index-links *
.index-links {

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;

  width: 100%;
  min-height: 10vh;

  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;

}

.index-links a {

  text-decoration: underline;
  color: #000;

}

/* min-width *
@media screen and (min-width: 769px) {

  .navbar-index-logo {

    padding-left: 15vw;
    padding-right: 15vw;

  }

  .navbar-index-logo img {

    max-width: 475px;

  }

}

@media screen and (max-width: 768px) {

  .navbar-index-logo {

    padding-left: 15vw;
    padding-right: 15vw;

  }

  .index-explorer {

    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: calc(40vh - 125px);

  }

  .index-explorer-title {

    font-size: 1.7em;

  }

  .navbar-index-logo {


  }

  .navbar-index {


  }

  .index-links {



  }

} */


/* Social Media Icon */


/* @charset "UTF-8"; */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*,
*::before,
*::after {
    box-sizing: border-box;
}

.icon--vimeo::before {
    content: "";
}

.social__icon--vimeo {
    background-color: #4dbfe3;
}

.social__icon--vimeo:hover {
    background-color: #41a2c1;
}

.icon--twitter::before {
    content: "";
}

.social__icon--twitter {
    background-color: #32b9e7;
}

.social__icon--twitter:hover {
    background-color: #2b9dc4;
}

.icon--facebook::before {
    content: "";
}

.social__icon--facebook {
    background-color: #4b70ab;
}

.social__icon--facebook:hover {
    background-color: #405f91;
}

.icon--googleplus::before {
    content: "";
}

.social__icon--googleplus {
    background-color: #fa5432;
}

.social__icon--googleplus:hover {
    background-color: #d5472b;
}

.icon--pintrest::before {
    content: "";
}

.social__icon--pintrest {
    background-color: #d63533;
}

.social__icon--pintrest:hover {
    background-color: #b62d2b;
}

.icon--linkedin::before {
    content: "";
}

.social__icon--linkedin {
    background-color: #0087be;
}

.social__icon--linkedin:hover {
    background-color: #0073a2;
}

.icon--dribble::before {
    content: "";
}

.social__icon--dribble {
    background-color: #fc89b1;
}

.social__icon--dribble:hover {
    background-color: #d67496;
}

.icon--stumbleupon::before {
    content: "";
}

.social__icon--stumbleupon {
    background-color: #f15d29;
}

.social__icon--stumbleupon:hover {
    background-color: #cd4f23;
}

.icon--lastfm::before {
    content: "";
}

.social__icon--lastfm {
    background-color: #e42124;
}

.social__icon--lastfm:hover {
    background-color: #c21c1f;
}

.icon--instagram::before {
    content: "";
}

.social__icon--instagram {
    background-color: #6291b2;
}

.social__icon--instagram:hover {
    background-color: #537b97;
}

.icon--dropbox::before {
    content: "";
}

.social__icon--dropbox {
    background-color: #167ab6;
}

.social__icon--dropbox:hover {
    background-color: #13689b;
}

.icon--soundcloud::before {
    content: "";
}

.social__icon--soundcloud {
    background-color: #fb740b;
}

.social__icon--soundcloud:hover {
    background-color: #d56309;
}

.icon--behance::before {
    content: "";
}

.social__icon--behance {
    background-color: #33abdb;
}

.social__icon--behance:hover {
    background-color: #2b91ba;
}

.icon--skype::before {
    content: "";
}

.social__icon--skype {
    background-color: #00AFF0;
}

.social__icon--skype:hover {
    background-color: #0095cc;
}

.icon--github::before {
    content: "";
}

.social__icon--github {
    background-color: #333333;
}

.social__icon--github:hover {
    background-color: #2b2b2b;
}

.icon--flickr::before {
    content: "";
}

.social__icon--flickr {
    background-color: #333333;
}

.social__icon--flickr:hover {
    background-color: #2b2b2b;
}

.icon--rss::before {
    content: "";
}

.social__icon--rss {
    background-color: #FB7629;
}

.social__icon--rss:hover {
    background-color: #d56423;
}

.social__item {
    display: inline-block;
    margin-right: 0.1em;
}

.icon,
[class^="icon--"] {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social__icon,
[class^="social__icon"] {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.social__container {
    padding: 1em;
    font-size: 1.5em;
}

.tox-notification {
    display: none !important
}

.timeline-uni-list {
  display: none;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

@media only screen and (max-width: 768px) {
  .timeline-uni-list {
    display: block;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
