<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <div class="dashboard-content-title">
        <h3>{{'DASH_ALL_ORDERS' | translate}}</h3>
      </div>

      <div class="dashboard-orders">

        <div class="order" ng-repeat="order in orders">

          <div class="info">
            <div class="id">{{'DASH_ORDER' | translate}} #{{order._id}}</div>
            <div class="date"><b>{{'DATE' | translate}}:</b> <span am-time-ago="order.createdAt | amFromUnix | amDateFormat:'MM.DD.YYYY HH:mm:ss' "></span></div>
            <div class="total"><b>{{'TOTAL' | translate}}:</b> {{'CURRENCY' | translate}}{{order.amount / 100}}</div>
          </div>

          <p>{{'ITEMS' | translate}}</p>

          <div class="items">

            <div class="item" ng-repeat="item in order.items">
              <div class="top"><b class="name">{{item.name}}</b><div class="price">R$ {{item.amount / 100}}</div></div>
              <p>{{'QUANTITY' | translate}}: {{item.quantity}}</p>
            </div>

          </div>
          <!-- end items -->

        </div>
        <!-- end orders -->

      </div>
      <!-- dashboard-orders -->

    </div>
    <!-- col-sm-9 -->

  </div>
  <!-- end row -->

</div>
