<div class="academia-footer">

  <!--
  <div class="academia-footer-button academia-footer-button-forum" ng-show="actionPostButton">
    <a ng-show="controllerActive == 'AcademiaForumCtrl' || controllerActive == 'AcademiaSmpCtrl'" style="color: #fff;" ng-href="buttonActionUrl"><span class="glyphicon glyphicon-plus"></span></a>
    <a style="color: #fff;" ng-show="controllerActive == 'AcademiaJobsCtrl'" ng-href="buttonActionUrl"><span class="glyphicon glyphicon-filter"></span></a>
  </div>
  -->

  <ul style="width: 100vw">

    <li style="width: 50%;"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">Forum</a></li>
    <!--<li>Chat</li>-->
    <li style="width: 50%;"><a href="/a/{{universityUrl}}/marketplace" ng-class="smpClass">Marketplace</a></li>
    <!--<li><a href="/a/{{universityUrl}}/jobs" ng-class="jobsClass">Jobs</a></li>-->

  </ul>
  <!-- ul -->

</div>
<!-- navbar-pages -->
