<div ng-include="'partials/header.html'" ng-controller="HeaderCtrl"></div>

<div class="academia container-fluid">

  <div class="row academia-coverimage" style="background-image: url('http://{{university.backgroundImage}}')"></div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div ng-include="'partials/academiastatsmobile.html'" ng-controller="AcademiaStatusCtrl"></div>

      <div class="academia-content-forum">

        <div class="academia-content-forum-post">

          <div class="academia-content-forum-post-stats">

            <div class="academia-content-forum-post-stats-votes">

              <div ng-click="upvoteForumPost()" class="academia-content-forum-post-stats-upvote">
                <span class="glyphicon glyphicon-triangle-top" />
              </div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

              <div class="academia-content-forum-post-stats-votes-number">{{votesCount}}</div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

              <div ng-click="downvoteForumPost()" class="academia-content-forum-post-stats-downvote">
                <span class="glyphicon glyphicon-triangle-bottom" />
              </div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

            </div>
            <!-- academia-content-forum-post-stats-ranking-votes -->

          </div>
          <!-- academia-content-forum-post-stats -->

          <div class="academia-content-forum-post-info">

            <div class="academia-content-forum-post-info-title">
              {{forumPost.title}}
            </div>
            <!-- academia-content-forum-post-info -->

            <div class="academia-content-forum-post-info-stats">
              postado faz <span am-time-ago="forumPost.createdAt | amFromUnix"></span>
            </div>
            <!-- academia-content-forum-post-info -->

            <div class="academia-content-forum-post-info-text" ng-bind-html="forumPost.text"></div>
            <!-- academia-content-forum-post-info -->

            <div class="academia-content-forum-post-info-actions">
              <a class="action">{{forumPost.answers.length}} answers</a>
              <!--
              <a class="action">report</a>
              -->
            </div>
            <!-- academia-content-forum-post-info -->

          </div>
          <!-- academia-content-forum-post-info -->

        </div>
        <!-- academia-content-forum-post -->

        <div class="academia-content-forum-answers" ng-show="forumPost.answers.length > 0">
          {{forumPost.answers.length}} Answers
        </div>
        <!-- academia-content-forum-answers -->

        <forumpostanswer p="{{forumPost._id}}" u="{{forumPost.universityId}}" ng-show="forumPost.answers.length > 0" a="{{answer}}" ng-repeat="answer in forumPost.answers | orderBy:'-votesCount'"></forumpostanswer>

      </div>
      <!-- academia-content-forum-->

      <div class="academia-content-forum-answer">

        <div class="academia-content-forum-answer-title">
          Your Answer
        </div>
        <!-- academia-content-forum-answer-title -->

        <div class="academia-content-forum-answer-box">

          <style>
          .ta-toolbar {
            background-color: #f0f0f0;
            padding-bottom: 5px;
            padding-top: 5px;
          }
          </style>

          <text-angular ng-model="answer"></text-angular>

        </div>
        <!-- academia-content-forum-answer-box -->

        <div class="academia-content-forum-answer-action">
          <button ng-click="createAnswerPost()">Post your answer</button>
        </div>
        <!-- academia-content-forum-answer -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

    <div ng-include="'partials/academiarightcolumn.html'" ng-controller="AcademiaStatusCtrl"></div>

  </div>
  <!-- end row -->

  <div ng-include="'partials/footer.html'" ng-controller="FooterCtrl"></div>

</div>
