<div ng-include="'partials/header.html'" ng-controller="HeaderCtrl"></div>

<div class="academia container-fluid">

  <div class="row academia-coverimage" style="background-image: url('http://{{university.backgroundImage}}')"></div>
  <!-- end academia-coverimage -->

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10 academia-content">

      <div class="academia-content-mobile">

        <div class="academia-content-mobile-academia-title">
          {{university.name}}
        </div>
        <!-- academia-content-mobile -->

        <div class="academia-content-mobile-academia-stats">
          8,252 subscribers / 154 online
        </div>
        <!-- academia-content-mobile -->

        <button class="academia-content-button">Subscribe</button>

      </div>
      <!-- academia-content-mobile -->

      <div class="academia-content-mobile-navigation">
        Forum (do a modal where)
      </div>
      <!-- academia-content-mobile -->

      <div ng-include="'partials/academiacontentmenu.html'"></div>

      <div class="academia-content-forum">

        <div class="academia-content-forum-post" ng-repeat="n in [1,2,3,4]">

          <div class="academia-content-forum-post-stats">

            <div class="academia-content-forum-post-stats-ranking">1</div>
            <!-- academia-content-forum-post-stats-ranking -->

            <div class="academia-content-forum-post-stats-votes">

              <div class="academia-content-forum-post-stats-upvote">
                <span class="glyphicon glyphicon-triangle-top" />
              </div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

              <div class="academia-content-forum-post-stats-votes-number">3</div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

              <div class="academia-content-forum-post-stats-downvote">
                <span class="glyphicon glyphicon-triangle-bottom" />
              </div>
              <!-- academia-content-forum-post-stats-ranking-votes -->

            </div>
            <!-- academia-content-forum-post-stats-ranking-votes -->

          </div>
          <!-- academia-content-forum-post-stats -->

          <div class="academia-content-forum-post-info">

            <div class="academia-content-forum-post-info-title">
              How do Startup Founders get audience with Venture Capitalists?
            </div>
            <!-- academia-content-forum-post-info -->

            <div class="academia-content-forum-post-info-stats">
              submitter 9 hours ago by Marcelo Pio
            </div>
            <!-- academia-content-forum-post-info -->

            <div class="academia-content-forum-post-info-actions">
              <a class="action">2 comments</a>
              <a class="action">report</a>
            </div>
            <!-- academia-content-forum-post-info -->

          </div>
          <!-- academia-content-forum-post-info -->

        </div>
        <!-- academia-content-forum-post -->

      </div>
      <!-- academia-content-forum-->

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 academia-supportcol">

      <div class="academia-supportcol-title">
        {{university.name}}
      </div>
      <!-- end academia-supportcol-title -->

      <div class="academia-supportcol-stats">

        <div class="academia-supportcol-stats-stat">
          5,432 members
        </div>
        <!-- end academia-supportcol-info-title -->

        <div class="academia-supportcol-stats-stat">
          10 users online
        </div>
        <!-- end academia-supportcol-info-title -->

        <button class="academia-supportcol-button">Subscribe</button>

      </div>
      <!-- end academia-supportcol-stats -->

      <div class="academia-supportcol-info">

        <div class="academia-supportcol-info-title">
          about
        </div>
        <!-- end academia-supportcol-info-title -->

        <div class="academia-supportcol-info-text">
          {{university.about}}
        </div>
        <!-- end academia-supportcol-info-title -->

      </div>
      <!-- end academia-supportcol-info -->

      <div class="academia-supportcol-info">

        <div class="academia-supportcol-info-title">
          moderators
        </div>
        <!-- end academia-supportcol-info-title -->

        <div class="academia-supportcol-info-user">

          <div class="academia-supportcol-info-user-img">
            <img src="/img/user/user.jpg" />
          </div>
          <!-- end academia-supportcol-info-user -->

          <div class="academia-supportcol-info-user-text">
            Marcelo Pio
          </div>
          <!-- end academia-supportcol-info-user -->

        </div>
        <!-- end academia-supportcol-info-user -->

      </div>
      <!-- end academia-supportcol-info -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
