<div ng-include="'partials/header.html'" ng-controller="HeaderCtrl"></div>

<div class="academia container-fluid">

  <div class="row academia-coverimage" style="background-image: url('http://{{university.backgroundImage}}')"></div>
  <!-- end academia-coverimage -->

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div ng-include="'partials/academiastatsmobile.html'" ng-controller="AcademiaStatusCtrl"></div>

      <div class="academia-content-forum-answer">

        <div class="academia-content-forum-answer-title" style="border-top: none; padding-top: 0; margin-top: 0;">
          Create a post
        </div>
        <!-- academia-content-forum-answer-title -->

        <style>
        .ta-toolbar {
          background-color: #f0f0f0;
          padding-bottom: 5px;
          padding-top: 5px;
        }
        </style>

        <input class="academia-content-forum-post-create-title" placeholder="Escreva aqui título da sua postagem" ng-model="title"></input>

        <text-angular ng-model="text"></text-angular>

        <div class="academia-content-forum-answer-action" style="margin-top: 15px;">
          <button ng-click="createForumPost()">Create a post</button>
        </div>
        <!-- academia-content-forum-answer -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

    <div ng-include="'partials/academiarightcolumn.html'" ng-controller="AcademiaStatusCtrl"></div>

  </div>
  <!-- end row -->

  <div ng-include="'partials/footer.html'" ng-controller="FooterCtrl"></div>

</div>
