<!-- navbar -->
<div id="navbars-business" style="border-bottom: 1px solid #d0d0d0;">

  <div class="navbar-business">

    <div ng-click="displayMobileMenu()" style="display: inline-block;">

      <div class="navbar-business-logo">

        <a style="display: inline-block;"><img src="img/logo/forbusiness.png" /></a>

      </div>
      <!-- navbar-home-logo -->

      <div class="navbar-business-mobilearrow" ng-hide="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>

      <div class="navbar-business-mobilearrow" ng-show="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </div>

    </div>
    <!-- -->

    <div class="navbar-business-menuright">

      <button class="business-button business-button-contactus" style="margin-right: 5px;">Contact Us</button>
      <button class="business-button business-button-getstarted">Get Started</button>

    </div>
    <!-- -->

  </div>

  <div class="navbar-business-submenu">

    <div class="navbar-business-submenu-left">

      <div class="navbar-business-submenu-left-menu">Solutions <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></div>
      <!-- navbar-business-submenu-left-menu -->

      <div class="navbar-business-submenu-left-menu">Resources <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></div>
      <!-- navbar-business-submenu-left-menu -->

    </div>
    <!-- navbar-business-submenu-left -->

    <div class="navbar-business-submenu-right">

      <div class="navbar-business-submenu-right-menu">Support</div>
      <!-- navbar-business-submenu-right-menu -->

      <div class="navbar-business-submenu-right-menu">Sign in</div>
      <!-- navbar-business-submenu-right-menu -->

    </div>
    <!-- navbar-business-submenu-right -->

  </div>
  <!-- navbar-business-submenu -->

</div>
<!-- navbar-home -->

<div id="business">

  <div class="business-page business-page-first">

    <div class="business-page-first-title">
      Get closer to students by offering what yh
    </div>
    <!-- business-page-first-title -->

  </div>
  <!-- business-page business-page-first -->

</div>
<!-- business -->
