<div class="col-sm-3 col-md-3 col-lg-2 dashboard-menu">

  <div style="padding-top: 10px; padding-bottom: 15px; font-size: 1.2em;"><b>Dashboard</b></div>

  <!-- colleges -->
  <div class="dashboard-menu-group">

    <div class="dashboard-menu-group-option">
      <span><img src="/img/icon/product/smp.png"></span>Universidades
    </div>
    <!-- end dashboard-menu-group-option -->

    <div class="dashboard-menu-group-option-sub">
      <b>Estudante</b>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/a/subscribed">Inscrito</a>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

    <!--
    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/a/premium">Premium</a>
    </div>
    -->
    <!-- end dashboard-menu-group-option-sub -->

    <div class="dashboard-menu-group-option-sub">
      <b>Reitoria</b>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/a/create">Criar Universidade</a>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/a/manage">Administrar Universidade</a>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

  </div>
  <!-- dashboard-menu-group -->

  <div class="dashboard-menu-group">

    <div class="dashboard-menu-group-option">
      <span><img src="/img/icon/product/smp.png"></span>Pedidos
    </div>
    <!-- end dashboard-menu-group-option -->

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/orders">Todas compras</a>
    </div>
    <!-- end dashboard-menu-group-option-sub -->

  </div>
  <!-- dashboard-menu-group -->

  <!-- social marketplace -->
  <!--
  <div class="dashboard-menu-group">

    <div class="dashboard-menu-group-option">
      <span><img src="/img/icon/product/smp.png"></span>Social Marketplace
    </div>

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/smp/create">Create listing</a>
    </div>

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/smp/manage">Manage listings</a>
    </div>

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/smp/iwant">I want</a>
    </div>

  </div>
  -->

  <!-- pagamentos -->

  <div class="dashboard-menu-group">

    <div class="dashboard-menu-group-option">
      <span><img src="/img/icon/product/smp.png"></span>Pagamentos
    </div>

    <div class="dashboard-menu-group-option-sub">
      <a href="/dashboard/payments/wallet">Carteira</a>
    </div>

  </div>
  <!-- dashboard-menu-group -->

</div>
<!-- -->
