<div ng-controller="HeaderCtrl">

  <!--
  <div class="row" style="height: 40px; line-height: 40px; padding-left: 15px; padding-right: 15px; padding-bottom: 2px; padding-top: 6px;">
    <div class="col col-xs-3" style="padding: 3px;"><img height="100%" src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_icon.png" /><span style="margin-left: 8px; font-size: 1.15em;"><i class="fas fa-angle-down" style="vertical-align: top; padding-top: 6px;"></i></span></div>
    <div class="col col-xs-6" style="text-align: center; padding: 3px;"><img height="80%" src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_logo.png" /></div>
    <div class="col col-xs-3" style="padding: 3px; text-align: right;"><img height="100%" src="https://visualpharm.com/assets/880/Customer-595b40b65ba036ed117d413a.svg" /></div>
  </div>
-->

  <style>
    img {
      vertical-align: top;
    }
  </style>

  <nav>

    <div class="navbar-top">

      <!--
        <div class="brand">
          <img id="logo" ng-hide="university.whitelabel" src="https://storage.googleapis.com/educationalcommunity/pt/img/logo/universidade.png" />
          <img id="logo" ng-show="university.whitelabel" src="{{university.logo}}" />
          <img id="logoIcon" src="https://storage.googleapis.com/educationalcommunity/pt/img/icon.png" />
          <span><i class="fas fa-angle-down"></i></span>
        </div>
        -->

        <div class="container-fluid">
        <div class="row navbar-top-first" style="height: 40px; line-height: 40px; padding-bottom: 2px; padding-top: 6px;">
          <div id="logomaster" class="col-xs-3 col-sm-4" style="padding: 3px; height: 100%; padding-left: 15px;"><img height="100%" src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_icon.png" /><span style="margin-left: 8px; font-size: 1.15em;"><i class="fas fa-angle-down" style="vertical-align: top; padding-top: 6px;"></i></span></div>
          <div class="col-xs-6 col-sm-4" style="text-align: center; padding: 6px; height: 100%;"><a href="/home/explore"><img height="100%" src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_logo.png" /></a></div>
          <div class="col-xs-3 col-sm-4" id="mobile-credentials" ng-show="logged" ng-click="searchbar()" style="text-align: right; height: 100%; padding-right: 10px; line-height: 32px;"><div ng-click="searchBarToggle()" style="font-size: 1.4em; padding-bottom: 3px;"><i class="fas fa-search"></i></div></div>
          <div class="col-xs-3 col-sm-4" id="mobile-credentials" ng-hide="logged" ng-click="login()" style="padding: 3px; text-align: right; height: 100%; padding-right: 10px;"><img height="100%" src="https://visualpharm.com/assets/880/Customer-595b40b65ba036ed117d413a.svg" /></div>
          <div class="col-xs-3 col-sm-4" id="desktop-credentials" style="height: 40px;">

            <div class="menu-right">
              <div class="options" style="padding-right: 0px;">

                <div ng-hide="logged" ng-click="login()">Login</div>

                <div ng-hide="logged" ng-click="signup()">Registrar</div>

                <div id="profileMenu" ng-show="logged" class="profile">
                  <span style="padding-top: 10px; padding-right: 5px;"><i class="fas fa-angle-down" style="margin-top: 15px; display: inline-block; vertical-align: top;"></i></span>
                  <div class="picture" ng-if="user.imageUrl == undefined" style="background-image: url('img/user/user.png'); background-size: cover; height: 35px; width: 35px; display: inline-block; border-radius: 50%;"></div>
                  <div class="picture" ng-if="user.imageUrl != undefined" style="background-image: url('{{user.imageUrl}}'); background-size: cover; height: 35px; width: 35px; display: inline-block; border-radius: 50%;"></div>
                  <!--<span><i class="fas fa-user-circle" style="padding-right: 2px;"></i></span> {{user.name}} <span><i class="fas fa-angle-down" style="padding-left: 3px;"></i></span>-->
                  <div class="profile-expanded">
                    <div><a href="/dashboard">Dashboard</a></div>
                    <div><a href="/perfil">Perfil</a></div>
                    <div ng-click="logout()"><a>Logout</a></div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- end col-xs-4 -->

        </div>
        <!-- end row -->

        <style>

          .search-bar-mobile {
            padding-bottom: 5px;
            padding-top: 5px;
          }

          @media only screen and (max-width: 768px) {

            .hide-mobile {
              display: none;
            }

          }

        </style>

        <div class="search-bar-mobile animated fadeIn" style="width: 100%;" ng-show="searchBarDisplay">

          <input style="width: calc(100% - 50px);" type="text"></input><button style="width: 50px;">Go!</button>

        </div>
        <!-- search-bar-mobile -->

        <div class="navbar-slider hide-mobile" ng-hide="originalPath.indexOf('/dashboard') != -1">

          <div class="option unselectable" ng-if="logged" ng-class="{'active': originalPath == '/home/timeline' || originalPath == '/home/timeline/'}"><a href="/home/timeline">Timeline</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home/explore' || originalPath == '/home/explore/'}"><a href="/home/explore">Explorar</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home/universidades' || originalPath == '/home/universidades/' || originalPath.indexOf('/a/') != -1 }"><a href="/home/universidades">Universidades</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/cursos' || originalPath.indexOf('/cursos') >= 0}"><a href="/home/cursos">Cursos</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/cursos' || originalPath.indexOf('/cursos') >= 0}"><a href="/home/">Sala Virtual</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath.indexOf('/home/conhecimento') != -1 }"><a href="/home/conhecimento">Conhecimento</a></div>

        </div>



        <!--
        <div class="menu-right">

          <div class="options mobile-show" style="padding: 0; display: none">
            <button ng-hide="logged" ng-click="login()" class="btn btn-blue" style="margin-top: 2px; height: 29px;">Entrar</button>
          </div>

          <div class="options">

            <div ng-hide="logged" ng-click="login()">Login</div>

            <div ng-hide="logged" ng-click="signup()">Registrar</div>

            <div id="profileMenu" ng-show="logged" class="profile">
              <span><i class="fas fa-user-circle" style="padding-right: 2px;"></i></span> {{user.name}} <span><i class="fas fa-angle-down" style="padding-left: 3px;"></i></span>
              <div class="profile-expanded">
                <div><a href="/dashboard">Dashboard</a></div>
                <div><a href="/perfil">Perfil</a></div>
                <div ng-click="logout()"><a>Logout</a></div>
              </div>
            </div>

          </div>
          <!-- end options

      </div>
      end menu-right-->
      <!-- end navbar-top -->

      <!-- fadeInDown -->
      <div class="navbar-mobile animated fast" ng-class="{fadeIn: navbarMobileOpen == false}">

        <div class="menu">
          <div class="option unselectable" ng-if="logged" ng-class="{'active': originalPath == '/home/timeline' || originalPath == '/home/timeline/'}"><a href="/home/timeline"><img src="/img/icon/timeline.png" height="33px" width="33px" style="margin-right: 15px;" />Timeline</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home' || originalPath == '/home/'}"><a href="/home"><img src="/img/icon/office/home.png" height="33px" width="33px" style="margin-right: 15px;" />Home</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home/universidades' || originalPath == '/home/universidades/'}"><a href="/home/universidades"><img src="/img/icon/office/university.png" height="33px" width="33px" style="margin-right: 15px;" />Universidades</a></div>
          <!--<div class="option unselectable" ng-class="{'active': originalPath == '/home/noticias' || originalPath == '/home/noticias/'}"><a href="/home/noticias"><img src="/img/icon/office/opinion.png" height="23px" width="33px" style="padding-right: 10px;" />Opinião</a></div>-->
          <!--<div class="option unselectable" ng-class="{'active': originalPath.indexOf('/home/conhecimento') != -1 }"><a href="/home/conhecimento">Conhecimento</a></div>-->
          <!--div class="option unselectable" ng-class="{'active': originalPath == '/cursos' || originalPath == '/cursos/'}"><a href="/home">Cursos</a></div>-->
          <!--<div class="option unselectable" ng-class="{'active': originalPath == '/home/colleges' || originalPath == '/home/colleges/'}"><a href="/home/colleges">Colleges</a></div>-->
          <!--<div class="option unselectable" ng-class="{'active': originalPath == '/home/smp' || originalPath == '/home/smp/'}"><a href="/home/smp">Marketplace</a></div>-->
        </div>
        <!-- end menu -->

        <div class="menu" ng-hide="logged">
          <div class="header" style="border-top: 2px solid #2d4255; margin-left: 25px; margin-right: 25px; padding-bottom: 15px;"></div>
          <div class="option unselectable" ng-hide="logged" ng-click="login()">Login</div>
          <div class="option unselectable" ng-hide="logged" ng-click="signup()">Criar conta</div>
        </div>
        <!-- end menu -->

        <div class="profile" ng-show="logged">
          <div class="header"><span><i class="fas fa-user-circle"></i></span> {{user.name}}</div>
          <div class="menu">
            <!-- <<div class="option">Editar perfil</div> -->
            <div class="option unselectable" ng-show="logged"><a href="/perfil">Perfil</a></div>
            <div class="option unselectable" ng-show="logged"><a href="/dashboard"><b>Dashboard</b></a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Universidades</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Inscrito</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Criar Universidade</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Administrar Universidade</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Pedidos</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Todas compras</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Pagamentos</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Carteira</a></div>
            <div class="option" ng-click="logout()">Logout</div>
          </div>
          <!-- end menu -->
        </div>
        <!-- end profile -->

      </div>
      <!-- navbar mobile -->

    </div>

    </div>
    <!-- end container fluid -->

  </nav>
  <!-- end nav -->

</div>
