<div ng-include="'partials/headerhome.html'"></div>

<div class="content container-fluid">

  <div class="row" style="position: relative;">

    <div class="content-page content-page-home col-xs-12 col-sm-12">

      <!-- UNIVERSIDADES -->

      <div class="explore-section">

        <div class="explore-section-title">
          <div class="explore-section-title-text">UNIVERSIDADES</div>
          <!--<div class="explore-section-title-more">ver +</div>-->
        </div>

        <a href="/a/{{university.url}}/forum" ng-repeat="university in universities | limitTo : 30" target="_blank">
        <div class="university-block" style="margin-right: 0px;">

          <div class="university-block-image" style="background-image: url('http://{{university.backgroundImage}}') ">
          </div>
          <!-- end explore-section-row-block -->

          <div class="university-block-text">

            <div class="explore-section-row-block-text-title">{{university.nameShort}}</div>
            <!-- explore-section-row-block-text-title -->

            <div class="explore-section-row-block-text-subtitle">{{university.name}}</div>
            <!-- explore-section-row-block-text-subtitle -->

          </div>
          <!-- end university-block-text -->

        </div>
        <!-- end university-block -->
        </a>

      </div>
      <!-- end explore-section -->

      <!-- END UNIVERSIDADES -->

    </div>
    <!-- content-page col-xs-12 col-sm-12 -->

    <!--
    <div class="content-bar col-sm-3">

    </div>
    -->

  </div>
  <!-- row -->

</div>
<!-- container-fluid -->
