<div class="navbar-mobile-menu" ng-show="showMobileMenu">

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-user">
    <img src="img/user/user.jpg" />Marcelo Pio
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Home
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Dashboard
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Social Marketplace
  </div>

  <div class="navbar-mobile-menu-option">
    Jobs
  </div>

  <div class="navbar-mobile-menu-option">
    Create an account
  </div>

  <div class="navbar-mobile-menu-option">
    Login
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor" >
    Download the App
  </div>

</div>

<!-- navbar -->
<div id="navbars-home">

  <div class="navbar-home">

    <div ng-click="displayMobileMenu()" style="display: inline-block;">

      <div class="navbar-home-logo">

        <a style="display: inline-block;"><img src="img/logo/logo.png" /></a>

      </div>
      <!-- navbar-home-logo -->

      <div class="navbar-home-mobilearrow" ng-hide="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>

      <div class="navbar-home-mobilearrow" ng-show="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </div>

    </div>
    <!-- -->

    <div class="navbar-home-search">

      <input type="text"></input>
      <button><span class="glyphicon glyphicon-search"></span></button>

    </div>
    <!-- navbar-home-search -->

    <div class="navbar-home-menuright">

      <div class="navbar-home-menuright-option" style="padding-top: 10px;">
        <a href="/dashboard">Dashboard</a>
      </div>

      <div class="navbar-home-menuright-option navbar-home-menuright-option-user">
        <img src="img/user/user.jpg" />
      </div>

    </div>
    <!-- -->

  </div>

  <div class="navbar-pages">

    <ul>

      <li>Home</li>
      <li>Academia</li>
      <li class="active"><a href="/home/smp">Social Marketplace</a></li>
      <li>Empregos</li>
      <li>Chat</li>

    </ul>
    <!-- ul -->

  </div>
  <!-- navbar-pages -->

</div>
<!-- navbar-home -->

<div class="content container-fluid">

  <div class="row" style="position: relative;">

    <div class="content-page content-page-home col-xs-12 col-sm-12">

      <!-- SOCIAL MARKETPLACE -->

      <div class="explore-section">

        <div class="explore-section-title">
          <div class="explore-section-title-text">#notebook</div>
          <div class="explore-section-title-more">total: 6</div>
        </div>

      </div>
      <!-- end explore-section -->

      <a href="/smp/product" target="_blank">
      <div class="post" ng-repeat="post in [1,2,3,4,5,6]">

        <div class="post-image" style="background-image: url('https://www.laptopmag.com/images/uploads/4758/g/macbook-12inch-003.jpg')">
        </div>

        <div class="post-bottom post-bottom-smp">

          <div class="post-bottom-smp-info">

            <div class="post-bottom-smp-title">
              Mac Book Pro
            </div>

            <div class="post-bottom-smp-price">
              $985
            </div>

          </div>
          <!-- post-bottom-smp-info -->

          <div class="post-bottom-smp-user">
            <img src="img/user/user.jpg" />
          </div>
          <!-- post-bottom-smp-user -->

        </div>
        <!-- post-bottom post-bottom-smp -->

      </div>
      <!-- end post -->
      </a>


    </div>
    <!-- content-page col-xs-12 col-sm-12 -->

    <!--
    <div class="content-bar col-sm-3">

    </div>
    -->

  </div>
  <!-- row -->

</div>
<!-- container-fluid -->
