<div style="height: 100vh">

<nav class="navbar-index">

    <div class="navbar-index-logo">

      <a href="/"><img src="img/logo/logo.png" /></a>

    </div>
    <!-- navbar-index-logo -->

    <!--
    <div class="navbar-index-menu">
      Marcelo Pio
    </div>
    -->

</nav>

<div style="display: table; width: 100%; height: calc(100vh - 125px);">

  <div class="index-explorer">

      <div class="index-explorer-title">
        <b>Explore</b></br>universidades e o mercado de compra e venda
      </div>
      <!-- index-explore-title -->

      <div class="index-explore-search">

        <input ng-model="search" type="text"></input>
        <button style="border-radius: 0px; outline: 0;"><span class="glyphicon glyphicon-search"></span></button>

      </div>
      <!-- index-explore-search -->

  </div>
  <!-- index-explore -->

<div class="index-links">
  <a href="/login">logar</a> / <a href="/registrar">criar conta</a>
</div>

</div>
<!-- end index-explorer -->

</div>
