<div ng-class="messengerMenuClass" ng-style="messengerMenuStyle">

  <div class="messenger-menu-conversation" ng-repeat="n in [1,2,3,4,5]">

    <div class="messenger-menu-conversation-displayimage">
      <img src="/img/user/user.jpg" />
    </div>
    <!-- messenger-menu-conversation-displayimage -->

    <div class="messenger-menu-conversation-message">

      <div class="messenger-menu-conversation-message-user">
        Marcelo Pio
      </div>
      <!-- messenger-menu-conversation-message-user -->

      <div class="messenger-menu-conversation-message-text">
        Heyheyheyheyhey
      </div>
      <!-- messenger-menu-conversation-message-text -->

    </div>
    <!-- messenger-menu-conversation-message -->

    <div class="messenger-menu-conversation-notification">
      1 new message
    </div>

  </div>
  <!-- messenger-menu-conversation -->

</div>
<!-- -->
