<div class="navbar-mobile-menu" ng-show="showMobileMenu">

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-user">
    <img src="img/user/user.jpg" />Marcelo Pio
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Home
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Dashboard
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor">
    Social Marketplace
  </div>

  <div class="navbar-mobile-menu-option">
    Jobs
  </div>

  <div class="navbar-mobile-menu-option">
    Create an account
  </div>

  <div class="navbar-mobile-menu-option">
    Login
  </div>

  <div class="navbar-mobile-menu-option navbar-mobile-menu-option-divisor" >
    Download the App
  </div>

</div>

<!-- navbar -->
<div id="navbars-home" style="border-bottom: 1px solid #d0d0d0;">

  <div class="navbar-home">

    <div ng-click="displayMobileMenu()" style="display: inline-block;">

      <div class="navbar-home-logo">

        <a style="display: inline-block;"><img src="img/logo/logo.png" /></a>

      </div>
      <!-- navbar-home-logo -->

      <div class="navbar-home-mobilearrow" ng-hide="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>

      <div class="navbar-home-mobilearrow" ng-show="showMobileMenu">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </div>

    </div>
    <!-- -->

    <div class="navbar-home-search">

      <input type="text"></input>
      <button><span class="glyphicon glyphicon-search"></span></button>

    </div>
    <!-- navbar-home-search -->

    <div class="navbar-home-menuright">

      <div class="navbar-home-menuright-option" style="padding-top: 10px;">
        Dashboard
      </div>

      <div class="navbar-home-menuright-option navbar-home-menuright-option-user">
        <img src="img/user/user.jpg" />
      </div>

    </div>
    <!-- -->

  </div>

</div>
<!-- navbar-home -->

<div class="profile container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-4">

      <div class="profile-user-display">

        <div class="profile-user-pic">
          <img src="/img/user/user.jpg" />
        </div>
        <!-- profile-user-pic -->

        <div class="profile-user-name">
          Marcelo Pio
        </div>
        <!-- profile-user-name -->

        <div class="profile-user-buttons">

          <div class="profile-user-buttons-button">
            Follow
          </div>
          <!-- profile-user-buttons -->

          <div class="profile-user-buttons-button">
            Send a message
          </div>
          <!-- profile-user-buttons -->

        </div>
        <!-- profile-user-buttons -->

      </div>
      <!-- profile-user-display -->

    </div>
    <!-- col-xs-12 col-sm-4 -->

    <div class="col-xs-12 col-sm-3">

      <div class="profile-info">

        <div class="profile-info-title">
          About
        </div>
        <!-- profile-info-title -->

        <div class="profile-info-text">
          Marcelo Pio is self-taught and started programming at 6 years old. At age 8 he had its first contact with the hacker world after had his computer hacked, leading to learn about the functioning of Malware and Network.
        </div>
        <!-- profile-info-text -->

      </div>
      <!-- profile-info -->

      <div class="profile-info profile-info-experiences">

        <div class="profile-info-title">
          Experience
        </div>
        <!-- profile-info-title -->

        <div class="profile-info-experiences-experience" ng-repeat="1 in [1,2]">

          <div class="profile-info-experiences-experience-title">
            FleaCollege
          </div>
          <!-- profile-info-experiences-title -->

          <div class="profile-info-experiences-experience-date">
            December 2013 - July 2017
          </div>
          <!-- profile-info-experiences-date -->

          <div class="profile-info-experiences-experience-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus, odio id ultrices pulvinar, urna dolor ultrices metus, efficitur ultrices dui sem vel quam.
          </div>
          <!-- profile-info-experiences-experience -->

        </div>
        <!-- profile-info-experiences-experience -->

      </div>
      <!-- profile-info profile-info-experiences -->

      <div class="profile-info profile-info-skills">

        <div class="profile-info-title">
          Skills
        </div>
        <!-- profile-info-title -->

        <div class="profile-info-skills-skill">
          Software Engineering
        </div>
        <!-- profile-info-skills-skill -->

      </div>
      <!-- profile-info profile-info-skill -->

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-5 profile-marketplace">

      <div class="profile-marketplace-title">
        Marketplace
      </div>
      <!-- profile-marketplace-title -->

      <a href="/smp/product" target="_blank">
      <div class="post" ng-repeat="post in [1,2,3,4,5,6]">

        <div class="post-image" style="background-image: url('https://www.laptopmag.com/images/uploads/4758/g/macbook-12inch-003.jpg')">
        </div>

        <div class="post-bottom post-bottom-smp">

          <div class="post-bottom-smp-info">

            <div class="post-bottom-smp-title">
              Mac Book Pro
            </div>

            <div class="post-bottom-smp-price">
              $985
            </div>

          </div>
          <!-- post-bottom-smp-info -->

          <div class="post-bottom-smp-user">
            <img src="img/user/user.jpg" />
          </div>
          <!-- post-bottom-smp-user -->

        </div>
        <!-- post-bottom post-bottom-smp -->

      </div>
      <!-- end post -->
      </a>

    </div>
    <!-- profile-marketplace -->

  </div>

</div>
