<div class="container-fluid account-loginregister-content">
    <div class="row">
        <div ng-show="flowSuccess" class="col-xs-12 col-sm-12" style="padding-left: 20px; padding-right: 20px;">
            <nav class="account-logo">
                <img src="img/logo/universidade.png" />
            </nav>
            <div style="text-align: center;">
                <h3>{{'RESET_PASS_SUCCESS_TITLE' | translate}}</h3>
                <p style="margin-top: 30px;">{{'RESET_PASS_SUCCESS_SUBTITLE' | translate}} <a href="/">{{'CLICK_HERE' | translate}}</a> {{'BACK_TO_HOMEPAGE' | translate}}</p>
            </div>
        </div>
        <div ng-hide="flowSuccess" class="col-xs-12 col-sm-12" style="padding-left: 20px; padding-right: 20px;">
            <nav class="account-logo">
                <img src="img/logo/universidade.png" />
            </nav>
            <h3>{{'RESET_YOUR_PASS' | translate}}</h3>
            <div class="form-group">
                <p>{{'CONFIRM_NEW_PASS' | translate }}</p>
                <input style="margin-top: 30px;" ng-model="password" type="password" placeholder="Nova senha"></input>
                </br>
                <button style="margin-top: 30px;" class="btn btn-bluebase" ng-click="stepThree()">{{'RESET_PASS' | translate}}</button>
            </div>
        </div>
    </div>
</div>