<div class="container-fluid account-loginregister-content">

  <div class="row">

    <div class="col-xs-12 col-sm-12 login-col">

      <nav class="account-logo">

          <a href="/"><img src="img/logo/logo.png" /></a>

      </nav>

      <div class="title">
        RESET PASSWORD
      </div>
      <!-- end title -->

      <form class="account-loginregister-content-form">

        <p>Type your account email. We're going to send a link to reset your password</p>
        <input type="text" placeholder="email"></input></br>
        <button>reset password</button>

      </form>

    </div>

  </div>

</div>
<!-- account-loginregister-content -->
