<div class="container-fluid account-loginregister-content">

  <div class="row">

    <div class="col-xs-12 col-sm-12 login-col">

      <nav class="account-logo">

          <a href="/"><img src="img/logo/logo.png" /></a>

      </nav>

      <div class="title">
        TYPE NEW PASSWORD
      </div>
      <!-- end title -->

      <form class="account-loginregister-content-form">

        <p>Type and confirm your new password.</p>
        <input type="password" placeholder="new password"></input></br>
        <input type="password" placeholder="confirm new password"></input></br>
        <button>reset password</button>

      </form>

    </div>

  </div>

</div>
<!-- account-loginregister-content -->
