<div class="container-fluid account-loginregister-content">

  <div class="row">

    <div ng-show="flowSuccess" class="col-xs-12 col-sm-12" style="padding-left: 20px; padding-right: 20px;">

      <nav class="account-logo">
        <img src="img/logo/universidade.png" />
      </nav>

      <div style="text-align: center;">
        <h3>Senha resetada com sucesso!</h3>
        <p style="margin-top: 30px;">A sua senha foi resetada com sucesso. <a href="/">Clique aqui</a> para voltar ir a pagina principal do website.</p>
      </div>

    </div>
    <!-- end col-xs-12 -->

    <div ng-hide="flowSuccess" class="col-xs-12 col-sm-12" style="padding-left: 20px; padding-right: 20px;">

      <nav class="account-logo">
        <img src="img/logo/universidade.png" />
      </nav>

      <h3>Resete a sua senha</h3>
      <!-- end title -->

      <div class="form-group">

        <p>Digite e confirme a sua nova senha.</p>
        <input style="margin-top: 30px;" ng-model="password" type="password" placeholder="Nova senha"></input></br>
        <!--<input style="margin-top: 30px;" type="password" placeholder="Confirme a nova senha"></input></br>-->
        <button style="margin-top: 30px;" class="btn btn-bluebase" ng-click="stepThree()">Resetar senha</button>

      </div>
      <!-- end form-group -->

    </div>

  </div>

</div>
<!-- account-loginregister-content -->
