<div class="content-bar-title">
  Chat
</div>
<!-- content-bar-title -->

<div class="content-bar-messages-messages">

  <div class="content-bar-messages-message" ng-repeat="m in [1,2,3,4,5,6,7,8,9,10]">

    <div class="content-bar-messages-message-user">
      <img src="img/user/user.jpg" />
    </div>
    <!-- content-bar-messages-message-user -->

    <div class="content-bar-messages-message-text">

      <div class="content-bar-messages-message-text-user-name">
        Barack Obama
      </div>
      <!-- content-bar-messages-message-text-user-name -->

      <div class="content-bar-messages-message-text-message">
        Good Morning America!Good Morning America!Good Morning America!Good Morning America!Good Morning America!Good Morning America!
      </div>
      <!-- content-bar-messages-message-text-message -->

    </div>

  </div>
  <!-- content-bar-messages-message -->

</div>
<!-- content-bar-messages-messages -->

<div class="content-bar-inputarea">

  <div class="content-bar-inputarea-textarea">

    <textarea></textarea>

  </div>
  <!-- content-bar-inputarea-textarea -->

  <div class="content-bar-inputarea-button">

    <button>Send</button>

  </div>
  <!-- content-bar-inputarea-textarea -->

</div>
<!-- content-bar-inputarea -->
