<a href="/smp/listing/id/{{listing._id}}" >
<div class="post">

  <div class="post-image" style="background-image: url('{{picture}}')">
  </div>

  <div class="post-bottom post-bottom-smp">

    <div class="post-bottom-smp-info">

      <div class="post-bottom-smp-title">
        {{listing.title}}
      </div>

      <div class="post-bottom-smp-price">
        ${{listing.price}}
      </div>

    </div>
    <!-- post-bottom-smp-info -->

  </div>
  <!-- post-bottom post-bottom-smp -->

</div>
<!-- end post -->
</a>
