<div class="container-fluid account-loginregister-content">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .send-btn {
            border-radius: 2px;
            text-transform: uppercase;
            height: 44px;
            color: #fff;
            background-color: #2d4255;
            font-weight: 500;
            font-size: 0.8em;
            letter-spacing: 0.4px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            outline: none;
            cursor: pointer;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper">
                <img src="/img/register/email.png" style="margin-top: 20px;" height="130px" width="130px" />
                <div style="margin-top: 40px;">
                    <span style="font-size: 30px; font-weight: 600;">{{'VERIFY_YOUR_EMAIL' | translate}} </span>
                </div>
                <div style="margin-top: 10px; width: 400px; font-size: 18px; text-align: center;">
                    <sapn>{{sentMessage | translate}}</sapn>
                </div>
                <form style="text-align: center; margin-top: 40px; margin-bottom: 20px;">
                    <button ng-click="sendVerificationLink()" class='send-btn' style="width: 550px">{{sendBtn | translate}}</button>
                </form>
                <div><span style="font-size: 18px;">{{'DID_NOT_GET_EMAIL?' | translate}}<a style="margin-left: 5px;">{{'INFO' | translate}}</a></span></div>
            </div>
        </div>
    </div>
</div>