<div class="container-fluid account-loginregister-content" ng-init="validate()">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

    <div class="row" ng-show="verified==true">
        <div class="col-xs-12">
            <div class="wrapper">
                <img src="/img/register/emailSuccess.svg" style="margin-top: 20px;" height="130px" width="130px" />
                <div style="margin-top: 30px; width: 400px; font-size: 18px; text-align: center;">
                    <sapn>{{'ACCOUNT_VERIFIED_WELCOME' | translate}}</sapn>
                </div>
                <form style="text-align: center; margin-top: 40px; margin-bottom: 20px;">
                    <button ng-click="start()" class='btn btn-bluebase' style="width: 550px">{{'START' | translate}}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-show="verified==false">
        <div class="col-xs-12">
            <div class="wrapper">
                <img src="/img/register/email.png" style="margin-top: 20px;" height="130px" width="130px" />
                <div style="margin-top: 30px; width: 400px; font-size: 18px; text-align: center;">
                    <sapn>{{'VERIFICATION_FAILED' | translate}}</sapn>
                </div>
                <form style="text-align: center; margin-top: 40px; margin-bottom: 20px;">
                    <button ng-click="goBack()" class='btn btn-bluebase' style="width: 550px">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>