<div class="container-fluid account-loginregister-content">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .send-btn {
            border-radius: 2px;
            text-transform: uppercase;
            height: 44px;
            color: #fff;
            background-color: #2d4255;
            font-weight: 500;
            font-size: 0.8em;
            letter-spacing: 0.4px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            outline: none;
            cursor: pointer;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper">
                <img src="/img/register/email.png" style="margin-top: 20px;" height="130px" width="130px" />
                <div style="margin-top: 40px;">
                    <span style="font-size: 30px; font-weight: 600;">{{'CHECK_YOUR_EMAIL' | translate}} </span>
                </div>
                <div style="margin-top: 40px; width: 400px; font-size: 18px; text-align: center; color: #7e7b7b;">
                    <span class="universidade-gray-text">{{sentMessage | translate}}</span>
                </div>

                <div style="margin-top: 40px;">
                  <span style="font-size: 18px;">{{'DID_NOT_GET_EMAIL?' | translate}}</span>
                  <span style="margin-left: 5px; color: #007bff; cursor: pointer;" ng-click="sendVerificationLink()">{{'RESEND' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>