<div class="container-fluid account-loginregister-content">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper">
                <img src="/img/register/email.png" style="margin-top: 20px;" height="130px" width="130px" />
                <div style="margin-top: 40px;">
                    <span style="font-size: 30px; font-weight: 600;">Check your email </span>
                </div>
                <div style="margin-top: 10px; width: 400px; font-size: 18px;">
                    <sapn>We just have sent you a verification e-mail link , please check it</sapn>
                </div>
                <form style="text-align: center; margin-top: 40px; margin-bottom: 20px;">
                    <button ng-click="verify()" class='btn btn-bluebase' style="width: 550px">O K</button>
                </form>
                <div><span style="font-size: 18px;">Did not get e-mail?<a style="margin-left: 5px;">Info</a></span></div>
            </div>
        </div>
    </div>
</div>