<style>
  .academia-mobile-navigation-option {
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      vertical-align: top;
  }
  .academia-mobile-navigation-option-ball {
  padding: 20px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
  border-radius: 50%;
  color: #6d6d6d;
  display: inline-flex;
}
</style>

<!-- temporario
<div ng-show="actionMenu" class="animated fadeInUp" style="padding: 30px; animation-duration: 250ms; position: fixed; background-color: #fff; width: 100%; bottom: 60px; left:0; right:0; z-index: 0; min-height: 200px; border-top-right-radius: 10px; border-top-left-radius: 10px; -webkit-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); border-top: 1px solid #314354; border-left: 1px solid #314354; border-right: 1px solid #314354;">

  <div class="row" style="text-align: center; margin-bottom: 10px;">

    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

            <div class="academia-mobile-navigation-option-ball">
                <i class="fas fa-video"></i>
            </div>

            <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>

    </div>

    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

        <div class="academia-mobile-navigation-option-ball">
          <i class="fas fa-video"></i>
        </div>

        <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>

    </div>


    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

            <div class="academia-mobile-navigation-option-ball">
                <i class="fas fa-video"></i>
            </div>

            <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>


    </div>


  </div>

  <div class="row" style="text-align: center;">

    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

            <div class="academia-mobile-navigation-option-ball">
                <i class="fas fa-video"></i>
            </div>

            <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>
      <!-- END COL-XS-4

    </div>
    <!-- END COL-XS-4

    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

            <div class="academia-mobile-navigation-option-ball">
                <i class="fas fa-video"></i>
            </div>

            <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>
      <!-- END COL-XS-4

    </div>
    <!-- END COL-XS-4

    <div class="col-xs-4">

      <div class="academia-mobile-navigation-option">

            <div class="academia-mobile-navigation-option-ball">
                <i class="fas fa-video"></i>
            </div>

            <div class="academia-mobile-navigation-option-title">Videos</div>

      </div>
      <!-- END COL-XS-4

    </div>
    <!-- END COL-XS-4

  </div>
  <!-- END ROW

</div>

-->


<div class="academia-footer" style="-ms-overflow-style: none; overflow: -moz-scrollbars-nonez-index: 9; background-color: #fff; box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -moz-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -webkit-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15);">

  <style>
    .footer-active {
      color: #52bfea; font-weight: bolder;
    }
  </style>

  <ul style="width: 100%" style="color: #565656 !important;">

    <li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home/timeline" ng-class="forumClass">
        <i ng-class="{'footer-active': originalPath == '/home/timeline' || originalPath == '/home/timeline/'}" style="font-size: 1.7em;" class="far fa-newspaper"></i>
      </a>
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home/landing">
        <i ng-class="{'footer-active': originalPath == '/home/landing' || originalPath == '/home/landing/'}" style="font-size: 1.7em;" class="fas fa-search"></i>
      </a>
    </li><!--

    --><li ng-click="actionMenuToggle()" style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home/landing">
        <img height="53px" src="/img/universidade_actionbutton.png" />
      </a>
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home/universidades/user">
        <i style="font-size: 1.7em;" ng-class="{'footer-active': originalPath.indexOf('/a') != -1 || originalPath == '/home/universidades/user'} || originalPath == '/home/universidades'" class="fa fa-university"></i>
      </a>
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/perfil" ng-class="forumClass">
        <i style="font-size: 1.7em;" ng-class="{'footer-active': originalPath == '/perfil' || originalPath == '/perfil/'}" class="fas fa-user-graduate"></i>
      </a>
    </li>

  </ul>

</div>
