<div ng-include="'partials/headerhome.html'"></div>


<div class="container-fluid container-full">

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div class="academia-content-navigation">

        <div class="academia-content-navigation-option">Criar playlist</div>

      </div>
      <!-- academia-content-navigation -->

      <input class="academia-content-forum-post-create-title" placeholder="Escreva aqui título do video" ng-model="title"></input>

      <div class="academia-content-forum-answer">

        <div class="academia-content-forum-post-create-premium">

          <b>Descrição do Video</b>

          <div class="form-group">
            <trix-toolbar id="my_toolbar"></trix-toolbar>
            <trix-editor angular-trix toolbar="my_toolbar" ng-model="text" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor>
          </div>

        </div>
        <!-- academia-content-forum-post-create-premium -->

        <div class="academia-content-forum-post-create-premium">

          <b>A partir de qual membro esta categoria pode ser acessada?</b>

          <div class="form-group">
            <select ng-model="privilege.value">
              <option value="0" ng-selected="true">Estudante</option>
              <option value="10">Premium</option>
              <option value="50">Equipe</option>
              <option value="99">Administrador</option>
            </select>
          </div>

        </div>

        <div class="academia-content-forum-post-create-premium">

          <b>Este conteúdo é exclusivo para assinantes premium?</b>

          <div class="form-group">
            <select ng-model="premium.value">
              <option value="0" ng-selected="true">Não</option>
              <option value="1">Sim</option>
            </select>
          </div>

        </div>

        <div class="academia-content-forum-answer-action" style="margin-top: 15px;">
          <button class="btn btn-bluebase" ng-click="createForumPost()">Create a playlist</button>
        </div>
        <!-- academia-content-forum-answer -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12 col-sm-4 academia-content">

      <button ng-click="createPlaylist()" class="btn btn-green">Salvar</button>

    </div>
    <!-- end col-xs-12 col-sm-4 -->

  </div>
  <!-- end row -->

  <!--
  <div class="academia-footer">

    <ul style="width: 100vw">

      <li style="width: 100%;"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">Forum</a></li>

    </ul>

  </div>
  -->

</div>
