<div ng-include="'partials/headerhome.html'"></div>


<div class="container-fluid container-full">

    <div class="row">
        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">
            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>



            <div class="academia-content-navigation">

                <div class="academia-content-navigation-option">{{'CREATE_PLAYLIST' | translate}}</div>

            </div>
            <!-- academia-content-navigation -->
            <div class="alert bg-primary-red" ng-if="errors.length > 0">
                <ul>
                    <li ng-repeat="e in errors">{{e | translate}}</li>
                </ul>
            </div>
            <span ng-if="inputLengthWarningShow" style="color: #721c24;">{{'INPUT_LENGTH_ERROR' | translate}}</span>
            <input class="academia-content-forum-post-create-title" placeholder="{{'WRITE_PLAYLIST_TITLE' | translate}}" ng-model="title" ng-change="titleCounter()" maxlength="40"></input>

            <div class="academia-content-forum-answer">

                <div class="academia-content-forum-post-create-premium">

                    <b>{{'PLAYLIST_DESCRIPTION' | translate}}</b>

                    <div class="form-group">
                        <!-- <trix-toolbar id="my_toolbar"></trix-toolbar>
                        <trix-editor angular-trix toolbar="my_toolbar" ng-model="text" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor> -->
                        <textarea ui-tinymce="tinymceOptions" ng-model="text"></textarea>
                    </div>

                </div>
                <!-- academia-content-forum-post-create-premium -->

                <div class="academia-content-forum-post-create-premium">

                    <b>{{'SELECT_ACCESS_MEMBER' | translate}}</b>

                    <div class="form-group">
                        <select ng-model="privilege.value">
              <option value="0" ng-selected="true">{{'STUDENT' | translate}}</option>
              <option value="10">{{'PREMIUM' | translate}}</option>
              <option value="50">{{'TEAM' | translate}}</option>
              <option value="99">{{'ADMINISTRATOR' | translate}}</option>
            </select>
                    </div>

                </div>

                <div class="academia-content-forum-post-create-premium">

                    <b>{{'CONTENT_EXCLUSIVE_TO_PREMIUM' | translate}}</b>

                    <div class="form-group">
                        <select ng-model="premium.value">
              <option value="0" ng-selected="true">{{'NO' | translate}}</option>
              <option value="1">{{"YES" | translate}}</option>
            </select>
                    </div>

                </div>

            </div>
            <!-- academia-content-forum-answer -->


            <div ng-show="loading" class="loading-gif" style="text-align: center;">
                <img src="/img/loader.gif" height="50px" />
            </div>
            <div style="margin-top: 15px;">
                <button ng-click="createPlaylist()" class="btn btn-green" ng-disabled="loading">{{'SAVE' | translate}}</button>
            </div>


        </div>
        <!-- end row -->

        <categorychat university={{university}} />
        <footermobile></footermobile>

    </div>