<div ng-include="'partials/headerhome.html'"></div>

<div ng-init="isMobile()" class="container-fluid container-full">

    <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
    <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

            <div academiastatus university="{{university}}"></div>

            <div class="classroom-list-container">
                <div ng-if="classroomViewMode==false" class="classroom-list-header">
                    <div>
                        <div class='classroom-list-title'>
                            Classroom List
                        </div>
                        <div class='classroom-arrange-iconview'>
                            <!-- <img src="/img/icon/listview.svg" class="list-view-style" /> -->
                            <!-- <img src="/img/icon/gridview.svg" class="grid-view-style" /> -->
                        </div>
                    </div>
                    <div class="classroom-btn-view">
                        <div ng-click="createNewClassroom()" class="add-classroom-btn">
                            CREAT A NEW CLASS
                        </div>
                    </div>
                </div>
                <div class="classroom-list-view" ng-style="maxHeight">
                    <div style="width: 100%; height: 1px; background-color: rgba(192, 192, 192, 0.7);"></div>
                    <div ng-repeat='classroom in wholeClassroomList' class="{{classroom.active}} classroom-list" ng-class="{ 'classroom-list': classroomViewMode==false, 'classroom-list-mobile': classroomViewMode==true }">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <i class="fas fa-chalkboard-teacher" style="padding-right:10px; color: #4986bf;"></i>
                                <div ng-if="classroomViewMode==true" style="font-size: 12px;">
                                    {{ classroom.uniqueName | limitTo: 30 }}{{classroom.uniqueName.length > 30 ? '...' : ''}}
                                </div>
                                <div ng-if="classroomViewMode==false" style="font-size: 12px;">{{classroom.uniqueName}}
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div ng-if="classroomViewMode==false" class="classroom-list-menu">
                                    <div style="margin-top: 3px; width: 12px; height: 12px; border-radius: 50%; background-color:#4986bf; cursor: pointer;">
                                    </div>
                                    <div style="font-size: 12px; margin-top: 3px;">Active</div>
                                </div>
                                <div ng-click="joinClassroom(classroom)" class="classroom-list-menu">
                                    <i class="material-icons" style="font-size: 18px; color:#4986bf; cursor:pointer;">person_add</i>
                                    <div style="font-size: 12px;">Join Class</div>
                                </div>
                                <div ng-click="copyLink(classroom)" class="classroom-list-menu">
                                    <img src="/img/icon/copylink.svg" style="width: 15px; height: 15px; cursor:pointer;" />
                                    <div style="font-size: 12px; margin-top: 2px;">Copy Link</div>
                                </div>
                            </div>
                        </div>
                        <div ng-class="{'classroom-list-divider': classroomViewMode==false, 'classroom-list-divider-mobile': classroomViewMode==true}">
                        </div>
                    </div>
                </div>
            </div>


            <!--button ng-click="getAllClassrooms()">get all</button-->

        </div>
        <!-- end col-xs-12 -->

    </div>
    <!-- end row -->
    <footermobile></footermobile>
</div>
<!-- container-full -->