<div ng-controller='AcademiaClassroomChatCtrl' ng-class="chatboxContainer" class="fixed-position classroom-chatbox-initial classroom-chat-container col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <button class="chatbox-close-btn" ng-click="toggleChatBox()"><i class="fas fa-times"></i></button>
    <div class="avatar-container chat-admin">
        <img ng-if="administrator[0].imageUrl != undefined" src="{{administrator[0].imageUrl}}" alt="HN" title="User Avatar" width="100" height="100" class="ava1">
        <div class="userinfo">
            <div class="username"> &nbsp; {{administrator[0].username}}</div>
            <div class="privilege">
                <div class="chat-admin-label">
                    Administrator
                </div>
                <div class="chat-admin-role-label">
                    Pro
                </div>
            </div>
        </div>
    </div>
    <!--select ng-change='joinChannel()' class="friend-select" ng-model="selectedChannel">
        <option ng-repeat='channel in channels' ng-value='channel'>{{channel.friendlyName}}</option>
    </select-->
    <div id='chat_list' class="chat-main-list"> </div>
    <div class='chatbox-status'>
        {{chattingNotification}}
    </div>
    <div class='chat-sending-input-container'>
        <textarea ng-keypress='sendingInputKeyPress($event)' ng-model='sendingMessage' placeholder="Type ..."></textarea>
        <button ng-click='sendMSG()'><i class="fa fa-paper-plane"></i></button>
    </div>
</div>