<div class="container-fluid account-loginregister-content" ng-init="validate()">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper">
                <span>Ops! You can not join into the classroom.</span>
                <!-- <img src="/img/register/emailSuccess.svg" style="margin-top: 20px;" height="130px" width="130px" /> -->
            </div>
        </div>
    </div>
</div>