<!-- select content section start -->
<div class="container-fluid">

  <div class="row select-content-section">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="text-center" style="font-size: 1.3em; margin-bottom: 25px; font-weight: bold;">{{'WHAT_KIND_OF_CONTENT' | translate}}</div>
      <div class="panel panel-default select-section" style="font-size: 1.1em;">

        <div class="panel-body text-center">
          <a style="display: inline-block; padding: 60px;" href="/{{'CURSOS' | translate}}/suite/createForumpost/post">
            <!--i class="fab fa-wpforms text-primary" aria-hidden="true"></i-->
            <img width="50px;" height="50px;" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg" />
            <div style="font-size: 1em;">{{'FORUM_POST' | translate}}</div>
          </a>
          <a style="display: inline-block; padding: 60px;" href="/{{'CURSOS' | translate}}/suite/createForumpost/video">
            <!--i class="fas fa-video text-primary" aria-hidden="true"></i-->
            <img width="50px;" height="50px;" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg" />
            <div style="font-size: 1em;">{{'VIDEO' | translate}}</div>
          </a>
          <a style="display: inline-block; padding: 60px;" href="/{{'CURSOS' | translate}}/suite/createPage">
            <!--i class="far fa-file-alt text-primary" aria-hidden="true"></i-->
            <img width="50px;" height="50px;" src="https://visualpharm.com/assets/197/Documents-595b40b65ba036ed117d2bf0.svg">
            <div style="font-size: 1em;">{{'PAGE' | translate}}</div>
          </a>
          <a style="display: inline-block; padding: 60px;" href="/{{'CURSOS' | translate}}/suite/createQuiz">
            <!--i class="far fa-question-circle text-success" aria-hidden="true"></i-->
            <img width="50px;" height="50px;" src="https://visualpharm.com/assets/632/Test%20Passed-595b40b65ba036ed117d34c6.svg">
            <div style="font-size: 1em;">{{'QUIZ' | translate}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- select content section end -->

<style>
  .select-content-section {
    margin-top: 100px;
    padding-bottom: 60px;
  }

  .select-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .select-section i {
    font-size: 50px;
    padding: 60px;
    cursor: pointer;
  }

  trix-editor {
    min-height: 150px;
    border: none;
  }

  .quiz-section {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }

  .form-group {
    padding: 20px;
  }

  .options {
    margin-bottom: 10px;
  }

  .quiz-heading {
    font-weight: bold;
  }
</style>
