<!-- select content section start -->
<div class="container-fluid">

  <div class="row select-content-section">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="text-center" style="font-size: 1.3em; margin-bottom: 25px; font-weight: bold;">Qual tipo de conteúdo você quer criar para o seu curso</div>

      <div class="panel panel-default select-section" style="font-size: 1.1em;">

        <div class="panel-body text-center">
          <a style="display: inline-block;" href="/cursos/suite/createForumpost/post">
            <i class="fab fa-wpforms text-primary" aria-hidden="true"></i>
            <div style="font-size: 1em;">Texto</div>
          </a><!--
          --><a style="display: inline-block;" href="/cursos/suite/createForumpost/video">
            <i class="fas fa-video text-primary" aria-hidden="true"></i>
            <div style="font-size: 1em;">Video</div>
          </a><!--
          --><a style="display: inline-block;" href="/cursos/suite/createPage">
            <i class="far fa-file-alt text-primary" aria-hidden="true"></i>
            <div style="font-size: 1em;">Page</div>
          </a><!--
          --><a style="display: inline-block;" href="/cursos/suite/createQuiz">
            <i class="far fa-question-circle text-success" aria-hidden="true"></i>
            <div style="font-size: 1em;">Quiz</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- select content section end -->

<style>
  .select-content-section {
    margin-top: 100px;
    padding-bottom: 60px;
  }

  .select-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .select-section i {
    font-size: 50px;
    padding: 60px;
    cursor: pointer;
  }

  trix-editor {
    min-height: 150px;
    border: none;
  }

  .quiz-section {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }

  .form-group {
    padding: 20px;
  }

  .options {
    margin-bottom: 10px;
  }

  .quiz-heading {
    font-weight: bold;
  }
</style>
