<div class="container-fluid modal-accounts" style="padding: 30px; margin-top: 23px;">

    <div class="row">

        <style>
            .courses-btn-pricing {
                width: 50%;
                background-color: #fff;
                border: none;
                font-size: 1.4em;
                outline: none;
            }

            .courses-btn-pricing .active {
                text-shadow: 1px 1px 2px rgb(82, 191, 234, 0.8);
                font-weight: bolder;
            }

            trix-editor {
                min-height: 100px;
                border: none;
            }
        </style>

        <div class="col-xs-12">

            <h5>{{'MODULE_TITLE' | translate}}</h5>

            <input class="form-control input-lg" placeholder="{{'WRITE_MODULE_TITLE' | translate}}" ng-model="title"></input><br>

            <h5>{{'MODULE_DURATION' | translate}}</h5>

            <input class="form-control input-lg" placeholder="{{'HOW_LONG_TO_TAKE_THE_MODULE' | translate}}" ng-model="duration"></input><br>

            <h5>{{'OBJECTIVE' | translate}}</h5>

            <input class="form-control input-lg" placeholder="{{'MODULE_OBJECTIVE' | translate}}" ng-model="goal"></input><br>

            <h5>{{'DESCRIPTION' | translate}}</h5>

            <div class="panel panel-default">
                <!-- <div class="panel-heading" style="background-color: #fff;">
                    <trix-toolbar id="my_toolbar"></trix-toolbar>
                </div>
                <div class="panel-body">
                    <trix-editor placeholder="Escreva aqui a descrição" angular-trix toolbar="my_toolbar" ng-model="description" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor>
                </div> -->
                <textarea ui-tinymce="tinymceOptions" ng-model="description"></textarea>
            </div>

        </div>
        <!-- end col-xs-12 -->

    </div>
    <!-- end row -->

    <div class="row">

        <div ng-show="loading" class="loading-gif" style="text-align: center;">
            <img src="/img/loader.gif" height="50px" />
        </div>

        <div class="col-xs-12 col-sm-12" style="margin-top: 15px;">

            <button class="btn btn-green" ng-click="criar()" ng-disabled="loading">{{'CREATE_MODULE' | translate}}</button>

        </div>
        <!-- -->

    </div>

</div>
<!-- end container-fluid -->
