<div class="container-fluid modal-accounts" style="padding: 35px;">

  <div class="row">

    <style>

      .courses-btn-pricing {
        width: 50%; background-color: #fff; border: none; font-size: 1.4em; outline: none;
      }

      .courses-btn-pricing .active {
        text-shadow: 1px 1px 2px rgb(82, 191, 234, 0.8);
        font-weight: bolder;
      }

      trix-editor {
        min-height: 100px;
        border: none;
      }

    </style>

    <div class="col-xs-12">

      <h3>Nome do curso</h3>

      <input class="form-control input-lg" placeholder="Escreva o título do seu curso" ng-model="title"></input>
      <br>
      <label>Select Knowledge</label>
      <select class="form-control" style="width: 50%;" required name="" ng-model="selectedKnowledge">  
        <option disabled value="">Select Knowledge</option>
        <option ng-repeat="k in knowledge" value="{{k._id}}">{{k.title}}</option>
      </select>

      <style>

        .courses-btn-pricing {
          width: 50%; background-color: #fff; border: none; font-size: 1.4em; outline: none;
        }

        .courses-btn-pricing .active {
          text-shadow: 1px 1px 2px rgb(82, 191, 234, 0.8);
          font-weight: bolder;
        }

      </style>

      <div class="row" style="padding-top: 10px; padding-bottom: 10px;">

        <div class="col-xs-12">
          <h3>O curso é</h3>
        </div>

        <div class="col-xs-6 col-sm-6" style="text-align: center;">

          <button class="courses-btn-pricing" ng-click="free = false" ng-click="pago = true">
            <i ng-class="{'active': free == false}"  class="fas fa-money-bill text-success"></i> <div ng-class="{'active': free == false}" >Pago</div>
          </button>

        </div>
        <!-- -->

        <div class="col-xs-6 col-sm-6" style="text-align: center;">

          <button class="courses-btn-pricing" ng-click="free = true">
            <i ng-class="{'active': free == true}" class="fas fa-share-alt text-primary"></i>
            <div ng-class="{'active': free == true}">Gratuito</div>
          </button>

        </div>
        <!-- end col-xs-12 -->

      </div>
      <!-- -->

      <div class="row">

        <div class="col-xs-12" ng-show="free == false">
          <div class="text-center">
            <h2 style="display: inline-block; padding-right: 20px;">Preço do curso:</h2>
            <input class="academia-content-forum-post-create-title" style="max-width: 230px; display: inline-block; padding-left: 15px;" placeholder="0.00" ng-model="preco"></input>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12">

          <h3>Descrição</h3>

          <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #fff;">
              <trix-toolbar id="my_toolbar"></trix-toolbar>
            </div>
            <div class="panel-body">
              <trix-editor placeholder="Escreva aqui a descrição" angular-trix toolbar="my_toolbar" ng-model="description" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor>
            </div>
          </div>
        </div>
        <!-- end col-xs-12 -->

      </div>
      <!-- -->

      <div class="row">

        <div class="col-xs-12 col-sm-12">

          <button class="btn btn-green" ng-click="updateCourse()">Update Course</button>

        </div>
        <!-- -->

      </div>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
