<div ng-include="'partials/headerhome.html'"></div>
<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>

            <div>

              <div class="title" style="font-size: 2.0em; font-weight: bolder;">{{'COURSES' | translate}}</div>

            <div ng-include="'/partials/courses/suite/navbar.html'"></div>

            <!-- -->

        </div>
        <!-- CATEGORIES TEXT -->

        <div ng-show="page == 'post'" class="col-xs-12">

            <div class="header-modal-courses">
                <div class="title">
                  <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg">
                  <p style="display: inline-block; font-size: 40px; margin: 0 !important;">{{'FORUM_POST' | translate}}</p>
                </div>
            </div>

            <!-- CATEGORIES -->
            <div class="btn-modal-courses" ng-if="categories.length == 0">
              <div class="title" style="display: inline-block;"><p>{{'NO_REGISTERED_CATEGORY' | translate}}</p></div>
              <div class="icon">
                <a href="/a/{{universityUrl}}/forum/category/create">
                  <p style="display: inline-block; margin-right: 8px; font-family: 'Lota Grotesque, Helvetica, sans-serif'">{{'CREATE_CATEGORY' | translate}}</p>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div ng-if="categories.length > 0" style="padding-top: 24px;">
              <p >{{'SELECT_CATEGORY' | translate}}</p>
            </div>
            <div ng-repeat="category in categories" ng-click="loadForumPostCategory(category.universityId,category._id)" class="btn-modal-courses">
                <div class="title" style="display: inline-block;">{{category.title}}</div>
                <div class="icon"><i class="fas fa-arrow-right"></i></div>
            </div>
            <!-- END CATEGORIES -->

        </div>
        <!-- end CATEGORIES TEXT -->

        <!-- TEXTO -->

        <div ng-show="page == 'categoryforumposts'" class="col-xs-12">

            <div class="header-modal-courses">
                <div class="title">
                  <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg">
                  <p style="display: inline-block; font-size: 40px; margin: 0 !important;">{{'FORUM_POST' | translate}}</p>
                </div>
            </div>

            <!-- CATEGORIES -->
            <div class="btn-modal-courses" ng-if="categoryPosts.length == 0">
              <div class="title" style="display: inline-block;"><p>{{'NO_FORUM_POSTS_YET' | translate}}</p></div>
              <div class="icon">
                <a href="/a/{{universityUrl}}/forum/post/create">
                  <p style="display: inline-block; margin-right: 8px; font-family: 'Lota Grotesque, Helvetica, sans-serif'">{{'CREATE_POST' | translate}}</p>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>

            <div ng-if="categoryPosts.length > 0" style="padding-top: 24px;">
              <p >{{'SELECT_FORUM_POST' | translate}}</p>
            </div>
            <div ng-repeat="post in categoryPosts" ng-click="loadForumPost(post._id)" class="btn-modal-courses">

                <div class="title col-xs-11" style="display: inline-block;">{{post.title}}</div>
                <div class="icon col-xs-1"><i class="fas fa-arrow-right"></i></div>

            </div>
            <!-- END CATEGORIES -->

        </div>
        <!-- end TEXTO -->

        <!-- CHECK OUT PAGE -->
        <div ng-show="page == 'checkout'" class="col-xs-12">

            <div class="header-modal-courses">
                <div class="title" ng-if="contentType == 'forumpost'">
                  <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg">
                  <p style="display: inline-block; font-size: 40px; margin: 0 !important;">{{'FORUM_POST' | translate}}</p>
                </div>
                <div class="title" ng-if="contentType == 'video'">
                  <div class="title"> <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg">
                  <p style="display: inline-block; font-size: 40px;" margin: 0 !important;>{{'VIDEO' | translate}}</p>
                </div>
            </div>

            <!-- inputs -->
            <div class="title-margin">

                <div class="headline-sub-one">{{"CONTENT_TITLE" | translate}}</div>
                <input class="academia-content-forum-post-create-title" placeholder="{{'WRITE_TITLE_CONTENT' | translate}}" ng-model="title"></input>

                <div style="font-size: 1.8em; font-weight: bold;">{{'DESCRIPTION' | translate}}</div>
                </br>
                </br>
                <!-- <trix-toolbar id="my_toolbar"></trix-toolbar>
                <trix-toolbar id="my_toolbar"></trix-toolbar> -->
                <!-- <trix-editor style="margin-bottom: 15px;" angular-trix toolbar="my_toolbar" ng-model="description" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor> -->
                <textarea ui-tinymce="tinymceOptions" ng-model="description"></textarea>
            </div>
            <!-- ends inputs -->

            <!-- FORUM POST TEXT TYPE -->
            <div class="title-margin" ng-if="contentType == 'forumpost'">

                <div style="font-size: 1.3em; font-weight: bold;">{{forumPost.title}}</div>
                <div style="overflow: hidden;" ng-bind-html="forumPost.text"></div>

            </div>
            <!-- FORUM POST TEXT TYPE -->

            <!-- VIDEO TYPE -->
            <div class="title-margin" ng-if="contentType == 'video'">

                <div style="font-size: 1.3em; font-weight: bold;">{{play.title}}</div>
                <div ng-if="play.status != 1">

                    <video id="video" controls poster="{{university.backgroundImage}}"></video>

                </div>

            </div>
            <!-- VIDEO TYPE -->

            <div ng-show="loading" class="loading-gif" style="text-align: center; margin-top: 12px;">
                <img src="/img/loader.gif" height="50px" />
            </div>
            <button class="btn btn-success" style="margin: 4rem 0;" ng-click="save()" ng-disabled="loading">{{'CREATE' | translate}}</button>
        </div>

    </div>
    <!-- END CHECK OUT PAGE -->

    <!-- END MENU -->

    <div ng-show="page == 'video'" class="col-xs-12">

      <div class="header-modal-courses">

        <div class="title">
          <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg">
          <p style="display: inline-block; font-size: 40px; margin: 0 !important;">{{'PLAYLIST' | translate}}</p>
        </div>
      </div>
      <p ng-if="universities.length>cusloading">{{'PLEASE_WAIT' | translate}}</p>

      <ng-containner ng-if="universities.length==cusloading">
      <!--p ng-if="customPlaylist.length == 0">{{'NO_REGISTERED_PLAYLIST' | translate}}</p-->

      <div class="btn-modal-courses" ng-if="customPlaylist.length == 0">
        <div class="title" style="display: inline-block;"><p>{{'NO_REGISTERED_PLAYLIST' | translate}}</p></div>
        <div class="icon">
          <a href="/p/create?universityId={{ownedUniversityId}}">
            <p style="display: inline-block; margin-right: 8px; font-family: 'Lota Grotesque, Helvetica, sans-serif'">{{'CREATE_PLAYLIST' | translate}}</p>
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <!-- CATEGORIES -->
      <div ng-if="customPlaylist.length > 0" style="padding-top: 24px;">
        <p >{{'SELECT_PLAYLIST' | translate}}</p>
      </div>
      <div ng-repeat="playlist in customPlaylist" ng-click="loadVideos(playlist._id)" class="btn-modal-courses">

        <div class="title" style="display: inline-block;">{{playlist.title}}</div>
        <div class="icon"><i class="fas fa-arrow-right"></i></div>

      </div>
      <!-- END CATEGORIES -->
     </ng-containner>
    </div>
    <!-- end playlist -->
    <div ng-show="page == 'videolist'" class="col-xs-12">

      <div class="header-modal-courses">
        <div class="title"> <img style="margin-bottom: 10px;" height="40px;" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg">
        <p style="display: inline-block; font-size: 40px; margin: 0 !important;">{{'VIDEO' | translate}}</p>
      </div>

      <div class="btn-modal-courses" ng-if="videolist.length == 0">
        <div class="title" style="display: inline-block;"><p>{{'NO_VIDEO_REGISTERED_IN_PLAYLIST' | translate}}</p></div>
        <div class="icon">
          <a href="/v/create?universityId={{ownedUniversityId}}">
            <p style="display: inline-block; margin-right: 8px; font-family: 'Lota Grotesque, Helvetica, sans-serif'">
              {{'CREATE_VIDEO' | translate}}
            </p>
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <div ng-if="videolist.length > 0" style="padding-top: 24px;">
        <p >{{'SELECT_VIDEO_TO_INCLUDE_IN_MODULE' | translate}}</p>
      </div>

      <!-- CATEGORIES -->

         <div ng-repeat="video in videolist" ng-click="savePlay(video)" class="btn-modal-courses">
        <div class="title" style="display: inline-block;">{{video.title}}</div>
        <div class="icon"><i class="fas fa-arrow-right"></i></div>

      </div>
      <!-- END CATEGORIES -->

    </div>
    <!-- END VIDEOS-->
    <div ng-show="page == 'test'" class="col-xs-12">

      <p>aeee</p>

    </div>
    <!-- end page -->

            </div>
            <!-- end row -->
        </div>

    </div>
    <categorychat university={{university}} />
    <footermobile></footermobile>

</div>
<!-- end container-fluid -->

<style>

  .header-modal-courses {

  }

  .header-modal-courses .title {
    display: flex;
    align-items: center;
  }

  .header-modal-courses {

  }

  .title-margin {
    margin-top: 4rem;
  }

  .btn-modal-courses {
    line-height: 3em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    cursor: pointer;

  }

  .btn-modal-courses .title {
    font-weight: 600;
    color: #437a9c;
    font-size: 1.1em;
  }

  .btn-modal-courses .icon {
    font-weight: 600;
    color: #437a9c;
    font-size: 1.1em;
    float: right;
    display: inline-block;
  }

  .btn-modal-courses:hover {
    background-color: rgba(242, 250, 255, 0.6);
  }

</style>
