<div class="container-fluid">
    <div class="text-center">
      <div class="panel panel-default quiz-result">
        <div class="panel-body" ng-if="view='1'">
          <h3><b>{{'QUIZ_RESULT_FEELING_SMARTER' | translate}}</b></h3><br>

          <p class="para">{{'QUIZ_RESULT_THANKS_FOR_TAKING' | translate}}</p><br>

          <h4><b>{{data.title}} {{'QUIZ' | translate}}</b></h4>
          <h4><b>{{'QUIZ_TOTAL_QUESTION' | translate}} : {{data.questions.length}}</b></h4>
          <h4><b>{{'ANSWER' | translate}} : {{cor}}</b></h4>

          <button ng-click="showresultPreview()" type="button" class="btn btn-info">{{'PREVIEW_ANSWER' | translate}}</button>
        </div>
        <div class="panel-body" ng-if="view=='0'">
          <h3><b>{{'INVALID_REQUEST' | transalte}}</b></h3><br>
        </div>
      </div>
    </div>
</div>

<style>
  .quiz-result {
    min-height: 400px;
    padding: 30px;
  }

  .quiz-result button {
    width: 25%;
  }

  .para {
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
  }
</style>
