<div class="container-fluid">
    <div class="text-center">
      <div class="panel panel-default quiz-result">
        <div class="panel-body" ng-if="view='1'">
          <h3><b>Feeling smarter already, aren't you?</b></h3><br>

          <p class="para">Thanks for taking this quiz. We hope
            you had fun and learned something new while doing so!</p><br>

          <h4><b>{{data.title}} Quiz</b></h4>
          <h4><b>Total Questions : {{data.questions.length}}</b></h4>
          <h4><b>Answer : {{cor}}</b></h4>

          <button ng-click="showresultPreview()" type="button" class="btn btn-info">Preview Answers</button>
        </div>
        <div class="panel-body" ng-if="view=='0'">
          <h3><b>Invalid request?</b></h3><br>
        </div>
      </div>
    </div>
</div>

<style>
  .quiz-result {
    min-height: 400px;
    padding: 30px;
  }

  .quiz-result button {
    width: 25%;
  }

  .para {
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
  }
</style>
