<div ng-include="'partials/headerhome.html'"></div>

<style>
    figure img {
        width: 100% !important;
        height: unset !important;
    }
    @media only screen and (max-width: 1200px) {
      body {
        padding-left: 0%;
        padding-right: 0%;
      }
    }
</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">
            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 30px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="classroom-list-header">
                <div>
                    <div style="font-size: 2.0em; font-weight: bolder;">{{playlist.title}}</div>
                </div>
                <div class="classroom-btn-view" ng-show="showButton">
                    <a href="/v/create?universityId={{university._id}}" class="btn btn-green" style="height: unset;">
                        {{'CREATE_VIDEO' | translate}}
                    </a>
                </div>
            </div>

            <div class="academia-content-forum">

                <div ng-show="playlist.videos.length == 0">
                    {{'NO_VIDEO_REGISTERED_IN_PLAYLIST' | translate}}.
                </div>

                <div ng-show="playlist.videos.length > 0">

                    <div ng-repeat="video in playlist.videos">

                        <videorow videoid="{{video.videoId}}"></videorow>

                    </div>

                </div>
                <!-- forumPosts.length > 0 -->

            </div>
            <!-- academia-content-forum-->

        </div>
        <!-- end col-xs-12 -->

    </div>
    <!-- end row -->
    <categorychat university={{university}} />
    <footermobile></footermobile>

</div>
<!-- container-full -->
