<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>
  <!-- end academia-coverimage -->

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div academiastatus university="{{university}}"></div>

      <div class="academia-content-forum-answer">

        <style>
        .ta-toolbar {
          background-color: #f0f0f0;
          padding-bottom: 5px;
          padding-top: 5px;
        }

        .yt {
          background-image: url("http://www.iconhot.com/icon/png/token/256/video-camera-5.png") !important;
          background-size: 100% !important;
          background-position: center !important;
        }

        </style>

        <input class="academia-content-forum-post-create-title" placeholder="Escreva aqui título da sua postagem" ng-model="title"></input>

        <trix-toolbar id="my_toolbar"></trix-toolbar>
        <trix-editor angular-trix toolbar="my_toolbar" ng-model="text" trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor>

        <div class="academia-content-forum-answer-action" style="margin-top: 15px;">
          <button class="btn btn-bluebase" ng-click="createForumPost()">Create a post</button>
        </div>
        <!-- academia-content-forum-answer -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

    <div academiarightcolumn university="{{university}}"></div>

  </div>
  <!-- end row -->

  <div class="academia-footer">

    <ul style="width: 100vw">

      <li style="width: 50%;"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">Forum</a></li>
      <!--<li>Chat</li>-->
      <li style="width: 50%;"><a href="/a/{{universityUrl}}/marketplace" ng-class="smpClass">Marketplace</a></li>
      <!--<li><a href="/a/{{universityUrl}}/jobs" ng-class="jobsClass">Jobs</a></li>-->

    </ul>
    <!-- ul -->

  </div>
  <!-- academia-footer -->

</div>
