<div ng-include="'partials/headerhome.html'"></div>

<style>
    select_cat {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    figure img {
        width: 100% !important;
        height: unset !important;
    }
    
    @media only screen and (max-width: 1200px) {
        body {
            padding-left: 0%;
            padding-right: 0%;
        }
    }
</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">
            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="academia-content-navigation">

                <div class="academia-content-navigation-option">{{'CREATE_POST' | translate}}</div>

            </div>
            <!-- academia-content-navigation -->

            <div class="alert bg-primary-red" ng-if="errors.length > 0">
                <ul>
                    <li ng-repeat="e in errors">{{e | translate}}</li>
                </ul>
            </div>

            <div class="academia-content-forum-answer">

                <span ng-if="inputLengthWarningShow" style="color: #721c24;">{{'INPUT_LENGTH_ERROR' | translate}}</span>
                <input class="academia-content-forum-post-create-title" ng-change="titleCounter()" maxlength="50" placeholder="{{'TYPE_POST_TITLE' | translate}}" ng-model="title"></input>

                <textarea ui-tinymce="tinymceOptions" ng-model="text"></textarea>
                <div class="academia-content-forum-post-create-premium">

                    <b>{{'POST_CATEGORY' | translate}}</b>

                    <div class="form-group select_cat">
                        <select ng-model="categoryForum._id" ng-change="updateSelected()">
                          <option ng-if="categories.length == 0" value="create_category">+ {{'CREATE_CATEGORY' | translate}}</option>
                          <option ng-repeat="category in categories" ng-selected="category._id == categoryForum._id"
                            value="{{category._id}}" ng-selected="">{{category.title}}</option>
                        </select>
                    </div>

                </div>

                <!--
        <div class="academia-content-forum-post-create-premium">

          <b>Este conteúdo é exclusivo para assinantes premium?</b>

          <div class="form-group">
            <select ng-model="premium.value">
              <option value="0" ng-selected="true">Não</option>
              <option value="1">Sim</option>
            </select>
          </div>

        </div>
        -->
                <div ng-show="loading" class="loading-gif" style="text-align: center;">
                    <img src="/img/loader.gif" height="50px" />
                </div>
                <div class="academia-content-forum-answer-action" style="margin-top: 15px;">
                    <button class="btn btn-green" ng-click="createForumPost()" ng-disabled="loading">{{'CREATE_POST' | translate}}</button>
                </div>
                <!-- academia-content-forum-answer -->

            </div>
            <!-- academia-content-forum-answer -->

        </div>
        <!-- end col-xs-12 -->

    </div>
    <!-- end row -->
    <footermobile></footermobile>

</div>