<div ng-include="'partials/headerhome.html'"></div>
<div class="container-fluid container-full">
    <div class="row">
        <div academiarightcolumn university="{{university}}"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">
            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 30px"></div>
            <div academiastatus university="{{university}}"></div>
            <div class="classroom-list-header">
                <div>
                    <div style="font-size: 2.0em; font-weight: bolder;">{{'PLAYLISTS' | translate}}</div>
                    <div class='classroom-arrange-iconview'>
                        <!-- <img src="/img/icon/listview.svg" class="list-view-style" /> -->
                        <!-- <img src="/img/icon/gridview.svg" class="grid-view-style" /> -->
                    </div>
                </div>
                <div class="classroom-btn-view" ng-show="showButton">
                    <a href="/p/create?universityId={{university._id}}" class="btn btn-green" style="height: unset;">
                        {{'CREATE_PLAYLIST' | translate}}
                    </a>
                </div>
            </div>

            <div class="academia-content-forum" style="margin-top: 15px;">
                <div class="academia-category" ng-repeat="playlist in playlists">
                    <div class="texts">
                        <div class="title">
                            <div class="icon" style="padding-right: 30px;"><i class="fa fa-video-camera"></i>
                                <a href="/a/{{university.url}}/playlist/id/{{playlist._id}}"></div>{{playlist.title}}</a>
                        </div>
                    </div>

                </div>
                <!-- end academia-category -->

                <div ng-show="playlists.length == 0" style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
                    <img src="/img/academy/empty_playlist.png" width="300px" style="align-self: center">
                    <span style="font-size: 30px; font-weight: 600; text-align: center; width: 300px; margin-top: 10px;">Create your own playlist</span>
                    <span style="text-align: center; width:300px; margin-top: 10px;">You can create your own customizable playlist from tons of video tutorials.</span>
                    <!-- {{'NO_REGISTERED_PLAYLIST' | translate}} -->
                </div>
            </div>
            <!-- academia-content-forum-->
        </div>
        <!-- end col-xs-12 -->
    </div>
    <!-- end row -->
</div>
<!-- container-full -->
<categorychat university={{university}} />
<footermobile></footermobile>