<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>
  <!-- end academia-coverimage -->

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div academiastatus university="{{university}}"></div>

      <div class="academia-content-forum-answer">

        <label>Titulo da categoria</label></br>
        <input class="academia-content-forum-post-create-title" placeholder="Escreva aqui título da categoria" ng-model="title"></input>

        <label>Descrição da categoria</label></br>
        <textarea style="height: unset" class="academia-content-forum-post-create-title" placeholder="Escreva aqui a descrição da categoria" ng-model="description"></textarea>

        <div class="academia-content-forum-post-create-premium">

          <b>A partir de qual membro esta categoria pode ser acessada?</b>

          <div class="form-group">
            <select ng-model="privilege.value">
              <option value="0" ng-selected="true">Estudante</option>
              <option value="10">Premium</option>
              <option value="50">Equipe</option>
              <option value="99">Administrador</option>
            </select>
          </div>

        </div>

        <div class="academia-content-forum-answer-action" style="margin-top: 15px;">
          <button class="btn btn-bluebase" ng-click="createCategory()">Criar categoria</button>
        </div>
        <!-- academia-content-forum-answer -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

    <div academiarightcolumn university="{{university}}"></div>

  </div>
  <!-- end row -->

  <!--
  <div class="academia-footer">

    <ul style="width: 100vw">

      <li style="width: 100%;"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">Forum</a></li>

    </ul>

  </div>
  -->

</div>
