<div class="academia-content-mobile">

  <div class="academia-content-mobile-academia-title">
    <a ng-href="/a/{{university.url}}">{{university.name}}</a>
  </div>
  <!-- academia-content-mobile -->

  <div class="academia-content-mobile-academia-stats">
    {{university.members.length}} {{'MEMBERS' | translate}}
  </div>
  <!-- academia-content-mobile -->

  <button class="academia-supportcol-button" ng-hide="userSubscribed(university.members)" ng-click="subscribe()">{{'SUBSCRIBE' | translate}}</button>
  <button class="academia-supportcol-button" ng-show="userSubscribed(university.members)" ng-click="subscribe()">{{'UNSUBSCRIBE' | translate}}</button>

</div>
<!-- academia-content-mobile -->
