<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

  <div class="row">

    <div academiarightcolumn university="{{university}}"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div academiastatus university="{{university}}"></div>

      <div class="academia-content-forum">

        <div class="academia-category" ng-repeat="playlist in playlists">

          <div class="texts">
            <div class="title"><div class="icon" style="padding-right: 30px;"><i class="fa fa-video-camera"></i><a href="/a/{{university.url}}/playlist/id/{{playlist._id}}"></div>{{playlist.title}}</a></div>
          </div>

        </div>
        <!-- end academia-category -->

        <div ng-show="playlists.length == 0">
          Nenhuma playlist cadastrada
        </div>

      </div>
      <!-- academia-content-forum-->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- container-full -->

<div class="academia-footer" style="z-index: 9; background-color: #fff; box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -moz-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -webkit-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15);">

  <ul style="width: 98%" style="color: #565656 !important;">

    <li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home/timeline" ng-class="forumClass">
        <i style="font-size: 1.7em; color: #52bfea; font-weight: bolder;" class="far fa-newspaper"></i>
      </a>
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/home">
        <i style="font-size: 1.7em;" class="fas fa-search"></i>
      </a>
    </li><!--

    --><li ng-click="open()" style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <img height="53px" src="/img/universidade_actionbutton.png" />
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/a/{{university.url}}/forum/category/all" ng-class="forumClass">
        <i style="font-size: 1.7em;" class="fas fa-university"></i>
      </a>
    </li><!--

    --><li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: #565656 !important;" href="/perfil" ng-class="forumClass">
        <i style="font-size: 1.7em;" class="fas fa-user-graduate"></i>
      </a>
    </li>

  </ul>

</div>
