<div class="academia-content-navigation">

  <div class="academia-content-navigation-option"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">forum</a></div>
  <!-- <div class="academia-content-navigation-option">/ <a href="/messenger" target="_blank">chat</a> /</div> -->
  <div class="academia-content-navigation-option">/ <a href="/a/{{universityUrl}}/marketplace" ng-class="smpClass">marketplace</a> /</div>
  <!-- <div class="academia-content-navigation-option"><a href="/a/{{universityUrl}}/jobs" ng-class="jobsClass">jobs</a> /</div> -->

</div>
<!-- academia-content-navigation -->

<div class="academia-content-actions">

  <div class="academia-content-actions-action">
    <a ng-show="controllerActive == 'AcademiaForumCtrl'" href="/a/{{universityUrl}}/forum/post/create">create new post</a>
  </div>
  <!-- academia-content-actions-action -->

</div>
<!-- academia-content-actions-->
