<div ng-include="'partials/headerhome.html'"></div>

<update-title title="{{university.name}} | Universidade"></update-title>
<update-meta property="og:title" content="{{university.name}} | Universidade"></update-meta>
<update-meta property="og:url" content="https://universida.de/a/{{university.url}}/timeline"></update-meta>

<update-meta ng-if="university.backgroundImage != undefined" property="og:image" content="{{university.backgroundImage}}"></update-meta>
<update-meta ng-if="university.backgroundImage == undefined" property="og:image" content="https://universida.de/img/misc/noimageacademia.jpg"></update-meta>

<style>

figure img {
  width: 100% !important;
  height: unset !important;
}

</style>

<div class="container-fluid container-full animated fadeIn">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

  <div class="row">

    <div academiarightcolumn university="{{university}}"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div academiastatus university="{{university}}"></div>

      <div class="academia-content-forum">

        <div ng-hide="loaded" style="text-align: center;">
          <img src="/img/loader.gif" height="50px" />
        </div>

        <div  ng-show="forumPosts.length == 0 && loaded">
          {{'NO_POST' | translate}}
        </div>

        <div ng-show="forumPosts.length > 0">

          <timelinepost p="{{post}}" u="{{university}}" ng-repeat="post in forumPosts"></timelinepost>

        </div>
        <!-- forumPosts.length > 0 -->

      </div>
      <!-- academia-content-forum-->

      <div>
        <ul class="pagination" ng-if="pages > 1">
          <li class="page-item" ng-if="page != 1"><a class="page-link" href="/a/{{university.url}}/forum?page={{page - 1}}">{{'RETURN' | translate}}</a></li>
          <li class="page-item" ng-repeat="p in range(1, pages)"><a class="page-link" ng-style="p == page && {'font-weight':'bold'}" href="/a/{{university.url}}/forum?page={{p}}">{{p}}</a></li>
          <li class="page-item"><a class="page-link" href="/a/{{university.url}}/forum?page={{page + 1}}">{{'NEXT' | translate}}</a></li>
        </ul>
      </div>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

  <footermobile></footermobile>

</div>
<!-- container-full -->
