<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 30px"></div>

            <div academiastatus university="{{university}}"></div>

            <style>
                tr.spaceUnder>td {
                    padding-bottom: 1em;
                }
            </style>

            <div class="classroom-list-header">
                <div>
                    <div style="font-size: 2.0em; font-weight: bolder;">{{'FORUM' | translate}}</div>
                    <div class='classroom-arrange-iconview'>
                        <!-- <img src="/img/icon/listview.svg" class="list-view-style" /> -->
                        <!-- <img src="/img/icon/gridview.svg" class="grid-view-style" /> -->
                    </div>
                </div>
                <div class="classroom-btn-view">
                    <a href="/a/{{university.url}}/forum/category/create" class="btn btn-green" style="height: unset;">
                        Criar categoria
                    </a>
                </div>
            </div>

            <div class="academia-content-forum" style="border-radius: 5px; box-shadow: 0px 0px 8px 0px rgba(196, 196, 196, 0.35);">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-1 col-md-1" style="text-align: left;"></th>
                            <th class="col-sm-6 col-md-6" style="text-align: left;">{{'FORUM' | translate}}</th>
                            <th class="col-sm-2 col-md-2" style="text-align: left;">{{'TOPICS' | translate}}</th>
                            <th class="col-sm-2 col-md-2" style="text-align: left;">{{'LAST_POST_CREATED' | translate}}</th>
                        </tr>
                    </thead>
                </table>
                <table class="table">
                    <tbody>
                        <categoryrow ng-repeat="category in categories" category="{{category}}" universityid="{{university._id}}"></categoryrow>
                    </tbody>
                </table>

                <div ng-show="categories.length == 0">
                    {{'NO_REGISTERED_CATEGORY' | translate}}
                </div>

                <div ng-show="forumPosts.length > 0">

                    <forumpost ng-repeat="post in forumPosts | orderBy:'-votesCount'" p="{{post}}"></forumpost>

                </div>
                <!-- forumPosts.length > 0 -->

            </div>
            <!-- academia-content-forum-->

        </div>
        <!-- end col-xs-12 -->

    </div>
    <!-- end row -->
    <categorychat university={{university}} />
    <footermobile></footermobile>

</div>
<!-- container-full -->
