<div class="container chat-box">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading chat-heading">
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle setting-btn" data-toggle="dropdown" title='channels'>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown channel-list">
                            <li class="channel-list-item" ng-repeat="category in categories" ng-click="selectCategoryChannel(category)"><a href="#"># {{category.title}}</a>
                                <!-- <span class="badge"></span> --></li>
                        </ul>
                    </div>&nbsp;{{curCategory.title}}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle setting-btn" data-toggle="dropdown" title="settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="#"><span class="glyphicon glyphicon-refresh" style='color: blue'></span> Refresh</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-ok-sign" style='color: green'></span> Available</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-remove" style='color: red'></span> Busy</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-time" style='color: orange'></span> Away</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-off"></span> Leave</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body-chat" id="scrollbar">
                    <ul class="chat" id="chat-list">
                        <li ng-repeat-start="message in messages" ng-if="message.author == currentMember._id" class="left clearfix li">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/{{stringToHslColor(getName(message.author))}}/fff&text={{getFirstCapitals(getName(message.author))}}" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{getName(message.author)}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time" style="margin-left: 3px; margin-right: 3px"></span>{{getTimeDisplay(message.timestamp)}}</small>
                                </div>
                                <p ng-bind-html="message.body" class="message-body left">
                                </p>
                            </div>
                        </li>

                        <li ng-repeat-end ng-if="message.author != currentMember._id" class="right clearfix li">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/{{stringToHslColor(getName(message.author))}}/fff&text={{getFirstCapitals(getName(message.author))}}" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time" style="margin-left: 3px; margin-right: 3px"></span>{{getTimeDisplay(message.timestamp)}}</small>
                                    <strong class="pull-right primary-font">{{getName(message.author)}}</strong>
                                </div>
                                <p ng-bind-html="message.body" class="message-body right">
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer chat-footer">
                    <!-- <div class="notification">
                        {{chattingNotification}}
                    </div> -->
                    <div class="chat-controller">
                        <textarea class="textarea" ng-keypress='sendingInputKeyPress($event)'></textarea>
                        <button class="send-btn"><span class="glyphicon glyphicon-send" ng-click='sendMSG()'></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>