<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 academia-supportcol">

  <div class="academia-supportcol-title">
    <a href="/a/{{university.url}}/">{{university.name}}</a>
  </div>
  <!-- end academia-supportcol-title -->

  <div class="academia-supportcol-stats">

    <div class="academia-supportcol-stats-stat">
      {{ (university.members | filter : { 'unsubscribed' : 'false' }).length }} members
    </div>

    <!--

    <div class="academia-supportcol-stats-stat">
      10 users online
    </div>

    -->

    <a href="/a/{{university.url}}/forum/post/create"><button class="academia-supportcol-button bg-base">Criar postagem</button></a>
    <button class="academia-supportcol-button" ng-hide="userSubscribed(university.members)" ng-click="subscribe()">Inscrever</button>
    <button class="academia-supportcol-button" ng-show="userSubscribed(university.members)" ng-click="subscribe()">Desinscrever</button>

  </div>

  <!-- end academia-supportcol-stats -->

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title">
      sobre
    </div>
    <!-- end academia-supportcol-info-title -->

    <div class="academia-supportcol-info-text">
      {{university.about}}
    </div>
    <!-- end academia-supportcol-info-title -->

  </div>
  <!-- end academia-supportcol-info -->

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title">
      membro premium
    </div>
    <!-- end academia-supportcol-info-title -->

    <button class="academia-supportcol-button" ng-click="premium()">Assinar premium</button>

  </div>
  <!-- end academia-supportcol-info -->

</div>
<!-- end col-xs-12 -->
