<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 section-menu-col">
    <style>
        .section-menu .option {
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1.03em;
            color: #2d4255;
            font-weight: bold;
            padding-left: 0px;
        }
        
        .section-menu .section-menu-title {
            padding-left: 0px;
        }
        
        .members-list {
            line-height: 35px;
        }
        
        .split-line {
            background-color: #cacaca;
            height: 1px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        .subscribe-btn {
            float: right;
            margin-top: 2px;
            height: 29px;
            width: unset;
        }
        
        .category-header {
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }
        
        .category-header .title {
            font-size: 22px;
            font-weight: 600;
        }
        
        .category-caret {
            padding-right: 15px;
            color: #4986bf;
            font-size: 0.85em;
            width: 25px;
        }
        
        .category-add-btn {
            background-color: dodgerblue;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
            text-align: center;
            color: white;
            font-size: 16px;
        }
        
        .category-list-wrapper {
            display: flex;
            flex-direction: column;
        }
        
        .category-list {
            margin-left: 10px;
            padding-left: 20px;
        }
        
        .category-list:hover {
            background-color: darkturquoise;
        }
        
        .category {
            margin-top: 5px;
            margin-bottom: 5px;
            color: black;
            font-size: 20px;
            text-align: center;
            text-decoration: none !important;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }

    </style>

    <div class="section-menu">
        <div class="section-menu-title">{{university.name}}</div>
        <div class="academia-supportcol-stats">
            <div style="height: 5px"></div>
        </div>
        <div class="split-line"></div>
        <div class="members-list ng-cloak">
            <div style="display: inline-block;">
                <i style="margin-right: 8px;" class="fas fa-user-friends"></i>{{ (university.members | filter : { 'unsubscribed' : 'false' }).length }}
            </div>
            <button class="btn bg-primary-purple subscribe-btn" ng-if="!userSubscribed" ng-click="subscribe()">{{'SUBSCRIBE' | translate}}</button>
            <button class="btn bg-primary-purple subscribe-btn" ng-if="userSubscribed && studentIsAdmin == false" ng-click="subscribe()">{{'UNSUBSCRIBE' | translate}}</button>
        </div>
        <div class="split-line"></div>
        <div style="font-size: 1.1em;">
            <div class="option">
                <a href="/a/{{university.url}}/timeline"><img src="/img/icon/timeline.png" style="margin-right: 14px;" height="20px" width="20px" />{{'TIMELINE' | translate}}</a>
            </div>
            <div class="option" style="padding-left: 0px;">
                <a href="/a/{{university.url}}/forum"><img src="https://visualpharm.com/assets/116/Open%20Book-595b40b65ba036ed117d154c.svg" style="margin-right: 14px;" height="20px" width="20px" />{{'FEED' | translate}}</a>
            </div>
            <div class="option" style="padding-left: 0px;">
                <a href="/a/{{university.url}}/playlist/all"><img src="https://visualpharm.com/assets/459/Film-595b40b75ba036ed117d9cd1.svg" style="margin-right: 14px;" height="20px" width="20px" />{{'PLAYLIST' | translate}}</a>
            </div>
            <div class="option" style="padding-left: 0px;">
                <a href="/a/{{university.url}}/cursos"><img src="https://visualpharm.com/assets/311/Graduation%20Cap-595b40b65ba036ed117d2d97.svg" style="margin-right: 14px;" height="20px" width="20px" />{{'COURSES' | translate}}</a>
            </div>
            <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/classroom"><i class='fas fa-chalkboard-teacher' style='padding-right:15px;color: #4986bf; font-size: 0.85em;'></i>{{'CLASSROOM' | translate}}</a></div>
            <div class="option" style="padding-left: 0px;">
                <a href="/a/{{university.url}}/forum/category/all"><img src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg" style="margin-right: 14px;" height="20px" width="20px" />{{'FORUM' | translate}}</a>
            </div>
            <div class="option" style="padding-left: 0px;" ng-if="studentIsAdmin">
              <a href="/dashboard/a/manage/id/{{university._id}}">
                <i class='fas fa-tachometer-alt' style='padding-right:15px;color: #4986bf; font-size: 0.85em;'></i>
                {{'DASHBOARD' | translate}}
              </a>
            </div>
            <div class="split-line"></div>
            <div class="category-list-wrapper">
                <div class="category-header">
                    <div>
                        <i class='fas fa-caret-right category-caret' ng-hide="categoryListOpen == true" ng-click="categoryListOpen = !categoryListOpen"></i>
                        <i class='fas fa-caret-down category-caret' ng-hide="categoryListOpen == false" ng-click="categoryListOpen = !categoryListOpen"></i>
                        <span class="title" ng-click="categoryListOpen = !categoryListOpen">Categories</span>
                    </div>
                    <i class='fas fa-plus category-add-btn' ng-hide="studentIsAdmin == false" ng-click="gotoCategoryCreatPage()"></i>
                </div>
                <div ng-repeat="category in categories" ng-hide="categoryListOpen == false" class="category-list">
                    <a href="/a/{{university.url}}/forum/category/id/{{category._id}}" class="category">{{category.title}}</a>
                </div>
            </div>
        </div>
    </div>

</div>