<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 section-menu-col">

  <div class="section-menu">
    <div class="section-menu-title" style="padding-left: 0px;">{{university.name}}</div>
    <div class="academia-supportcol-stats">

      <div class="academia-supportcol-stats-stat">
        {{ (university.members | filter : { 'unsubscribed' : 'false' }).length }} members
      </div>

      <div style="height: 5px"></div>

    </div>

    <!-- <i class="fa fa-rss" aria-hidden="true"></i> -->

    <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/timeline"><img src="/img/icon/timeline.png" style="margin-right: 10px;" height="20px" width="20px" /> Timeline</a></div>
    <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/forum"><img src="https://visualpharm.com/assets/116/Open%20Book-595b40b65ba036ed117d154c.svg" style="margin-right: 10px;" height="20px" width="20px" /> Forum</a></div>
    <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/forum/category/all"><img src="https://visualpharm.com/assets/714/Sidebar%20Menu-595b40b65ba036ed117d1640.svg" style="margin-right: 10px;" height="20px" width="20px" />Categorias</a></div>
    <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/playlist/all"><img src="https://visualpharm.com/assets/459/Film-595b40b75ba036ed117d9cd1.svg" style="margin-right: 10px;" height="20px" width="20px" /> Playlists</a></div>
    <div class="option" style="padding-left: 0px;"><a href="/a/{{university.url}}/cursos"><img src="https://visualpharm.com/assets/311/Graduation%20Cap-595b40b65ba036ed117d2d97.svg" style="margin-right: 10px;" height="20px" width="20px" /> Cursos</a></div>

    <p style="font-size: 0.9em; padding-top: 15px; color: #7d7d7d; font-weight: bold;">AÇÕES</p>

    <button class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-hide="userSubscribed(university.members)" ng-click="subscribe()">Inscrever</button>
    <button class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-show="userSubscribed(university.members)" ng-click="subscribe()">Desinscrever</button>
    <button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;" ng-click="createPost(university.url)">Criar postagem</button>

    <div style="height: 5px"></div>

    <p style="font-size: 0.9em; padding-top: 15px; color: #7d7d7d; font-weight: bold;" ng-if="universityVisitsTodayList.length > 0">ONLINE HOJE</p>

    <div class="academia-supportcol-info-text" ng-if="universityVisitsTodayList.length > 0">
      <studentinfo ng-repeat="id in universityVisitsTodayList | limitTo: 10" sid="{{id}}"></studentinfo>
    </div>
  </div>

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title">
      sobre
    </div>

    <div class="academia-supportcol-info-text">
      {{university.about}}
    </div>

  </div>

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title" ng-if="studentIsAdmin == true">
      administração
    </div>

    <a href="/a/{{university.url}}/forum/category/create" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar categoria</button></a>
    <a href="/v/create?universityId={{university._id}}" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar video</button></a>
    <a href="/p/create?universityId={{university._id}}" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar playlist</button></a>

  </div>

  <div class="academia-supportcol-info" ng-if="university.plans.length > 0">

    <div class="academia-supportcol-info-title">
      membro premium
    </div>

    <p ng-show="studentIsPremium">Você é membro premium!</p>
    <button ng-show="studentIsPremium" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="premium()">Ver planos</button>
    <button ng-hide="studentIsPremium" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="premium()">Assinar premium</button>

  </div>

</div>
<!-- end -->

<!--
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 academia-supportcol">

  <div class="academia-supportcol-title">
    <a href="/a/{{university.url}}/">{{university.name}}</a>
  </div>

  <div class="academia-supportcol-stats">

    <div class="academia-supportcol-stats-stat">
      {{ (university.members | filter : { 'unsubscribed' : 'false' }).length }} members
    </div>


    <div style="height: 5px"></div>

    <button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;" ng-click="createPost(university.url)">Criar postagem</button>
    <button class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-hide="userSubscribed(university.members)" ng-click="subscribe()">Inscrever</button>
    <button class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-show="userSubscribed(university.members)" ng-click="subscribe()">Desinscrever</button>

    <p style="font-size: 0.9em; padding-top: 15px; color: #7d7d7d; font-weight: bold;" ng-if="universityVisitsTodayList.length > 0">ONLINE HOJE</p>

    <div class="academia-supportcol-info-text" ng-if="universityVisitsTodayList.length > 0">
      <studentinfo ng-repeat="id in universityVisitsTodayList | limitTo: 10" sid="{{id}}"></studentinfo>
    </div>

  </div>

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title" ng-if="studentIsAdmin == true">
      administração
    </div>

    <a href="/a/{{university.url}}/forum/category/create" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar categoria</button></a>
    <a href="/v/create?universityId={{university._id}}" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar video</button></a>
    <a href="/p/create?universityId={{university._id}}" ng-if="studentIsAdmin == true"><button class="btn bg-base" style="margin-top: 2px; height: 29px; width: unset;">Criar playlist</button></a>

  </div>

  <div class="academia-supportcol-info">

    <div class="academia-supportcol-info-title">
      sobre
    </div>

    <div class="academia-supportcol-info-text">
      {{university.about}}
    </div>

  </div>

  <div class="academia-supportcol-info" ng-if="university.plans.length > 0">

    <div class="academia-supportcol-info-title">
      membro premium
    </div>

    <p ng-show="studentIsPremium">Você é membro premium!</p>
    <button ng-show="studentIsPremium" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="premium()">Ver planos</button>
    <button ng-hide="studentIsPremium" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="premium()">Assinar premium</button>

  </div>

</div>
-->

<div class="academia-footer" style="z-index: 9999; background-color: #fff;">

  <ul style="width: 100vw">

    <li style="width: 25%;">
      <a href="/a/{{university.url}}/forum" ng-class="forumClass">
        <i class="far fa-newspaper"></i>
        <div style="font-size: 0.85em;">Forum</div>
      </a>
    </li>

    <li style="width: 25%;">
      <a href="/a/{{university.url}}/forum/post/create">
        <i class="fas fa-pen-square"></i>
        <div style="font-size: 0.85em;">Escrever</div>
      </a>
    </li>

    <li style="width: 25%;">
      <a href="/a/{{university.url}}/forum/category/all" ng-class="forumClass">
        <i class="fas fa-graduation-cap"></i>
        <div style="font-size: 0.85em;">Categorias</div>
      </a>
    </li>

    <li style="width: 25%;" ng-click="premium()">
      <i class="fas fa-star"></i>
      <div style="font-size: 0.85em;">Premium</div>
    </li>

  </ul>

</div>
