<!-- ng-controller="AcademiaStatusCtrl" -->
<div class="academia-content-mobile">

  <div class="academia-content-mobile-academia-title">
    <a ng-href="/a/{{university.url}}">{{university.name}}</a>
  </div>
  <!-- academia-content-mobile -->

  <div class="academia-content-mobile-academia-stats">
    {{university.members.length}} members
  </div>
  <!-- academia-content-mobile -->

  <button ng-hide="userSubscribed(university.members)" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="subscribe()">Inscrever</button>
  <button ng-show="userSubscribed(university.members)" class="btn bg-primary-purple" style="margin-top: 2px; height: 29px; width: unset;" ng-click="subscribe()">Desinscrever</button>

</div>
<!-- academia-content-mobile -->

<div class="academia-content-navigation">

  <div class="academia-content-navigation-option"><a href="/a/{{university.url}}/timeline" ng-class="timelineClass">timeline</a></div>
  <div class="academia-content-navigation-option">/ <a href="/a/{{university.url}}/forum" ng-class="forumClass">feed</a></div>
  <div class="academia-content-navigation-option">/ <a href="/a/{{university.url}}/forum/category/all" ng-class="categoryClass">forum</a></div>
  <div ng-if="university.url == 'sambapoker'" class="academia-content-navigation-option">/ hand analysis <a href="/a/{{university.url}}/handanalysis/"></a></div>
  <div class="academia-content-navigation-option">/ <a href="/a/{{university.url}}/playlist/all" ng-class="playlistClass">playlists</a></div>
  <div class="academia-content-navigation-option">/ <a href="/a/{{university.url}}/cursos" ng-class="cursosClass">cursos</a></div>
  <!-- <div class="academia-content-navigation-option">/ <a href="/messenger" >chat</a> /</div> -->
  <!--<div class="academia-content-navigation-option">/ <a href="/a/{{university.url}}/marketplace" ng-class="smpClass">marketplace</a> /</div>-->
  <!-- <div class="academia-content-navigation-option"><a href="/a/{{universityUrl}}/jobs" ng-class="jobsClass">jobs</a> /</div> -->
</div>
<!-- academia-content-navigation -->

<div class="academia-content-actions">

  <!--
  <div class="academia-content-actions-action">
    <a ng-show="controllerActive == 'AcademiaForumCtrl'" href="/a/{{university.url}}/forum/post/create">create new post</a>
  </div>
  -->
  <!-- academia-content-actions-action -->

</div>
<!-- academia-content-actions-->
