<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>
  <!-- end academia-coverimage -->

  <div class="row">

    <div academiarightcolumn university="{{university}}"></div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">

      <div class="academia-content-navigation">

        <div class="academia-content-navigation-option">Criar postagem</div>

      </div>
      <!-- academia-content-navigation -->

      <div class="alert bg-primary-red" ng-if="errors.length > 0">
        <ul>
          <li ng-repeat="e in errors">{{e}}</li>
        </ul>
      </div>

      <div class="academia-content-forum-answer">

        <div>
          <div style="margin-bottom: 15px; font-weight: bold; font-size: 1.3em; display: inline-block; width: 50%;">Título</div><div style="text-align: right; display: inline-block; vertical-align: top; width: 50%;"><button style="height: 29px; max-width: 140px;" class="btn btn-bluebase" ng-click="sendHand()">Enviar</button></div>
        </div>

        <input class="academia-content-forum-post-create-title" placeholder="Escreva o título da sua mão" ng-model="title"></input>

        <div style="margin-bottom: 15px; font-weight: bold; font-size: 1.3em;">Descrição</div>
        <textarea ng-model="analysisText" style="margin-bottom: 15px; background-color: #efefef; border-radius: 3px; height: 130px; width: 100%; resize: none; border: none; padding: 10px;" placeholder="Escreve aqui"></textarea>

        <div>
          <div style="margin-bottom: 30px; font-weight: bold; font-size: 1.3em; display: inline-block; width: 50%;">Mãos</div><div style="text-align: right; display: inline-block; vertical-align: top; width: 50%;"><button style="height: 29px; max-width: 140px;" class="btn btn-green" ng-click="addHand()">Adicionar hand</button></div>
        </div>
        <!-- Hand -->
        <div ng-repeat="hand in hands track by $index" style="box-shadow: 0px 0px 8px 0px rgba(196, 196, 196, 0.35); padding: 10px; border-radius: 5px; margin-bottom: 15px;">

          <p style="width: 100%;"><b>Mão #{{$index}}</b></p>
          <input class="academia-content-forum-post-create-title" placeholder="Escreva a sua pergunta aqui" ng-model="hands[$index].title"></input>
          <textarea ng-model="hands[$index].handtext" style="margin-bottom: 15px; background-color: #efefef; border-radius: 3px; height: 130px; width: 100%; resize: none; border: none; padding: 10px;" placeholder="Cole o hand history aqui"></textarea>

        </div>

        <!--
        <div class="academia-content-forum-post-create-premium">

          <b>Este conteúdo é exclusivo para assinantes premium?</b>

          <div class="form-group">
            <select ng-model="premium.value">
              <option value="0" ng-selected="true">Não</option>
              <option value="1">Sim</option>
            </select>
          </div>

        </div>
        -->

      </div>
      <!-- academia-content-forum-answer -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

  <!--
  <div class="academia-footer">

    <ul style="width: 100vw">

      <li style="width: 100%;"><a href="/a/{{universityUrl}}/forum" ng-class="forumClass">Forum</a></li>

    </ul>

  </div>
  -->

</div>
