<div class="col-xs-12 col-sm-4 pokerhand-card" style="padding: 10px; margin-bottom: 15px;">

  <div class="hvr-bob" style="width: 100%; padding-left: 15px; padding-right: 15px; padding-top: 20px; padding-bottom: 20px; min-height: 220px;">
    <div style="font-size: 1.5em;">{{hand.title}}</div>
    <div style="color: #a9a9a9; padding-bottom: 5px;"><span am-time-ago="hand.createdAt | amFromUnix"></span></div>
    <div>
      <div ng-if="student.imageUrl == undefined" style="display: inline-block; background-image: url('img/user/user.png'); background-position: cover; background-size: cover; background-position: 50% 50%; border-radius: 4px; height: 20px; width: 20px;"></div>
      <div ng-if="student.imageUrl.length > 0" style="display: inline-block; background-image: url('https://storage.googleapis.com/networkbase-images/images/1536428319/a48.jpg'); background-position: cover; background-size: cover; background-position: 50% 50%; border-radius: 4px; height: 20px; width: 20px;"></div>
      <div style="display: inline-block; vertical-align: top; padding-left: 5px;">{{student.name}}</div>
    </div>
    <!-- -->
    <div class="pokerhand-card-open" style="bottom: 15px; right: 15px; position: absolute;">
      <a href="/a/{{university.url}}/handanalysis/id/{{hand._id}}" style="padding-top: 5px; padding-bottom: 5px; color: #000; font-size: 1.3em; color: #52bfea;">{{'OPEN' | translate}}</a>
    </div>
  </div>
  <!-- end hand infos -->

</div>
