<div ng-include="'partials/headerhome.html'"></div>

<update-title title="{{university.name}} | Universidade"></update-title>
<update-meta property="og:title" content="{{university.name}} | Universidade"></update-meta>
<update-meta property="og:url" content="https://universida.de/a/{{university.url}}/timeline"></update-meta>
<meta property="og:description" content="{{university.name}} ensina, debate e compartilhar conhecimento na plataforma Universidade." />

<update-meta ng-if="university.backgroundImage != undefined" property="og:image" content="{{university.backgroundImage}}"></update-meta>
<update-meta ng-if="university.backgroundImage == undefined" property="og:image" content="https://universida.de/img/misc/noimageacademia.jpg"></update-meta>

<div class="container-fluid container-full animated fadeIn faster">

  <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
  <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

  <style>

  .pokerhand-card > div {
    box-shadow: 0px 0px 8px 0px rgba(196, 196, 196, 0.45);
    border-radius: 6px;
  }

  .pokerhand-card:hover > div {
    box-shadow: 0px 0px 8px 0px rgba(196, 196, 196, 0.75);
    cursor: pointer;
  }

  .pokerhand-card-open:hover {
    text-decoration: none;
  }

  </style>

  <div class="row">

    <div academiarightcolumn university="{{university}}"></div>

    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 academia-content">

      <div academiastatus university="{{university}}"></div>

      <div class="academia-content-forum">

        <!-- ordering -->

        <div style="border-bottom: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6; padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px; text-align: right;">

          <div style="display: inline-block; padding-right: 5px;"><b>Ordernar por: </b></div>

          <div class="dropdown" style="display: inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" style="height: 30px; background-color: #cecece;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <b ng-if="forumPostsOrder == '-createdAt'">Data criação</b>
              <b ng-if="forumPostsOrder == '-votesCount'">Mais votados</b>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-click="orderForumPosts('createdAt')"><a href="#">Data criação</a></li>
            </ul>
          </div>

        </div>
        <!-- end ordering -->

        <div class="col-xs-12 col-sm-4 pokerhand-card" style="padding: 10px; margin-bottom: 15px;">

          <!-- class="hvr-bob" -->
          <div style="position: relative; width: 100%; padding-left: 15px; padding-right: 15px; padding-top: 20px; padding-bottom: 20px; min-height: 220px;">
            <div style="font-size: 1.5em;"><b>Analizar as suas <img src="https://visualpharm.com/assets/18/Cards-595b40b65ba036ed117d2a26.svg" style="margin-right: 14px; padding-left: 5px;" height="25px" width="25px" /></b></div>
            <!-- -->
            <div class="pokerhand-card-open" style="bottom: 15px; right: 15px; position: absolute;">
              <a href="/a/{{university.url}}/handanalysis/create" style="padding-top: 5px; padding-bottom: 5px; color: #000; font-size: 1.3em; color: #30b39f;"><b>Enviar</b></a>
            </div>
          </div>
          <!-- end hand infos -->

        </div>

        <div ng-show="pokerhands.length > 0">

          <handcard hand="{{hand}}" ng-repeat="hand in pokerhands | orderBy:forumPostsOrder"></handcard>

        </div>
        <!-- forumPosts.length > 0 -->

        <div ng-hide="loaded" style="text-align: center;">
          <img src="https://i2.wp.com/logicainformatica.com.br/wp-content/uploads/2017/12/magic-dots.gif?ssl=1" width="150px" />
        </div>

        <div  ng-show="forumPosts.length == 0 && loaded">
          Nenhuma postagem foi realizada.
        </div>

      </div>
      <!-- academia-content-forum-->

      <div>
        <ul class="pagination" ng-if="pages > 1">
          <li class="page-item" ng-if="page != 1"><a class="page-link" href="/a/{{university.url}}/forum?page={{page - 1}}">Voltar</a></li>
          <li class="page-item" ng-repeat="p in range(1, pages)"><a class="page-link" ng-style="p == page && {'font-weight':'bold'}" href="/a/{{university.url}}/forum?page={{p}}">{{p}}</a></li>
          <li class="page-item"><a class="page-link" href="/a/{{university.url}}/forum?page={{page + 1}}">Próximo</a></li>
        </ul>
      </div>

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

</div>
<!-- container-full -->
