<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home">

  <div class="row">

    <div ng-include="'partials/topic/topicmenu.html'" ng-controller="TopicMenuCtrl"></div>

    <div class="col-sm-9 section-content-col">

      <div class="section-title">{{knowledge.title}} / Universidades</div>

      <!-- start universidades -->

      <div class="section-cards" style="padding-bottom: 0px; width: unset; overflow-x: unset;">

        <timelineuniversitycard uid={{university.universityId}} ng-repeat="university in knowledge.universities"></timelineuniversitycard>

      </div>
      <!-- end section-cards -->

      <!-- end universidades -->

    </div>
    <!-- end col-sm-9 -->

  </div>
  <!-- end row -->

  <div class="section-footer">

    <div class="section-footer-title"><b>Explorar</b></div>

    <div class="section-sections">
      <div ><i style="padding-right: 12px;" class="fas fa-home"></i>Home</div>
      <div ><i style="padding-right: 12px;" class="fas fa-university"></i>Universidades</div>
      <div ><i style="padding-right: 12px;" class="fas fa-pencil-alt"></i>Posts</div>
      <div ><i style="padding-right: 12px;" class="fas fa-graduation-cap"></i>Cursos</div>
      <div ><i style="padding-right: 12px;" class="fas fa-newspaper"></i>Notícias</div>
    </div>

  </div>
  <!-- end section-footer -->

</div>
<!-- container-fluid container-full -->
