<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home">

  <div class="hide-min-768" style="margin-right: -15px; margin-left: -15px; min-height: 175px; background-image: url('{{knowledge.backgroundImage}}'); background-size: cover; background-position: center; background-repeat: no-repeat">

  </div>
  <!-- col-xs-12 col-sm-6 -->

  <div class="row" style="padding-top: 15px; padding-bottom: 15px;">

    <div class="col-xs-12 col-sm-6">

      <div class="knowledge-meta">

        <div class="knowledge-title">{{knowledge.title}}</div>

        <div class="knowledge-description">{{knowledge.description}}</div>

        <!--
        <div class="knowledge-button">
          <button class="btn btn-bluebase" ng-click="subscribe(knowledge._id)">Aprender</button>
        </div>

        -->

        <!-- end section-menu -->

      </div>
      <!-- end knowledge-meta -->

    </div>
    <!-- col-xs-12 col-sm-6 -->

    <div class="col-xs-12 col-sm-6 hide-max-768" style="padding-right: 0; min-height: 290px;">

      <div class="knowledge-image"><img src="{{knowledge.backgroundImage}}" /></div>

    </div>
    <!-- col-xs-12 col-sm-6 -->

  </div>
  <!-- end row -->

  <div class="row">

    <!--<div ng-include="'partials/topic/topicmenu.html'" ng-controller="TopicMenuCtrl"></div>-->

    <div class="col-sm-9">

      <!-- start universidades -->
      <div class="headline-container">Universidades</div>

      <div class="section-cards" style="padding-bottom: 0px;">

        <timelineuniversitycard uid={{university.universityId}} ng-repeat="university in knowledge.universities"></timelineuniversitycard>

      </div>
      <!-- end section-cards -->

      <!-- end universidades -->

      <!-- start posts -->

      <div class="headline-container">Posts</div>

      <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
        <timelineposthome fp="{{fp}}" ng-repeat="fp in forumPosts"></timelinepost>
      </div>

      <!-- end posts -->

    </div>
    <!-- end col-sm-9 -->

  </div>
  <!-- end row -->

  <div class="section-footer">

    <div class="section-footer-title"><b>Explorar</b></div>

    <div class="section-sections">
      <div ><i style="padding-right: 12px;" class="fas fa-home"></i>Home</div>
      <div ><i style="padding-right: 12px;" class="fas fa-university"></i>Universidades</div>
      <div ><i style="padding-right: 12px;" class="fas fa-pencil-alt"></i>Posts</div>
      <div ><i style="padding-right: 12px;" class="fas fa-graduation-cap"></i>Cursos</div>
      <div ><i style="padding-right: 12px;" class="fas fa-newspaper"></i>Notícias</div>
    </div>

  </div>
  <!-- end section-footer -->

</div>
<!-- container-fluid container-full -->
