<style>

body {
  padding: 0;
}

.scene-col {
  height: 100vh;
  background-color: #ececec;
  padding: 0;
}

.menu-col {
  height: 100vh;
  border-left: 3px solid #c3c3c3;
  overflow-y: scroll;
}

.menu-content-option {
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.menu-content-option .module-title {
  font-size: 1.1em;
  font-weight: bold;
}

.menu-content-option .content-title {
  font-size: 1.1em;
}


</style>

<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-8 scene-col">

      <iframe style="border: none;" width="100%" height="100%;" src="http://localhost:8080/cursos/id/aaa/estudar/videos/5dd205b83f803b8273321909"></iframe>

    </div>
    <!-- end col-xs-12 col-sm-9 -->

    <div class="col-xs-12 col-sm-4 menu-col">

      <div class="menu-content-option">
        <div class="module-title">1.0 Blockchain Immersion</div>
      </div>
      <!-- END menu-option -->

      <div class="menu-content-option">
        <div class="pretty p-icon p-round p-smooth">
          <input type="checkbox" />
          <div class="state p-success">
              <i class="icon mdi mdi-check"></i>
              <label></label>
          </div>
        </div>
        <div class="content-title">1.1 Histórico</div>
      </div>
      <!-- END menu-option -->

    </div>
    <!-- end col-xs-12 col-sm-9 -->

  </div>
  <!-- end row -->

</div>
<!-- -->
