<div class="container-fluid">

  <style>
    .user-collections .collection {
      margin-left: 0px;
    }
  </style>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">

    <div class="col-xs-4"></div>

    <div class="col-xs-4" style="text-align: center;">

      <a href="/home/timeline">
        <img src="img/universidade_icon.png" height="30px" />
      </a>

    </div>

    <div class="col-xs-4" style="text-align: right; line-height: 30px;">

      <!--
      <a href="/home/timeline">
        <button class="btn btn-success" style="height: 30px; width: unset; font-size: 0.75em; font-weight: bold;">Concluir</button>
      </a>
      -->

    </div>

  </div>
  <!-- end row -->

  <div class="row" style="margin-bottom: 40px;">

    <div class="col-xs-12">

      <div style="width: 100%; text-align: center;">

        <div style="font-weight: bolder; font-size: 1.8em; color: #2d4255;">{{'I_HAVE_INTEREST_IN' | translate}}</div>

      </div>

    </div>
    <!-- end COL XS 12 -->

  </div>
  <!-- end ROW -->

  <div class="row" style="margin-bottom: 25px;">

    <div class="col-xs-12 col-sm-4">

      <div class="user-collections">

        <div class="collection" ng-click="selectMode('learn')" ng-class="{'active-option': mode == 'learn'}">

          <div class="dot"><i class="fas fa-graduation-cap"></i></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'LEARN' | translate}}</div>
          <!--<div style="color: #909090;">4 items</div>-->

        </div>

      </div>
      <!-- end user-collections -->

    </div>
    <!-- end COL XS 12 -->

    <div class="col-xs-12 col-sm-4">

      <div class="user-collections">

        <div class="collection" ng-click="selectMode('teach')" ng-class="{'active-option': mode == 'teach'}">

          <div class="dot"><i class="fas fa-chalkboard-teacher"></i></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'TEACH' | translate}}</div>
          <!--<div style="color: #909090;">4 items</div>-->

        </div>

      </div>
      <!-- end user-collections -->

    </div>
    <!-- end COL XS 12 -->

    <div class="col-xs-12 col-sm-4">

      <div class="user-collections">

        <div class="collection" ng-click="selectMode('video')" ng-class="{'active-option': mode == 'video'}">

          <div class="dot"><i class="fas fa-video"></i></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'VIDEOCONFERENCE' | translate}}</div>
          <!--<div style="color: #909090;">4 items</div>-->

        </div>

      </div>
      <!-- end user-collections -->

    </div>
    <!-- end COL XS 12 -->

  </div>
  <!-- end ROW -->

  <div class="row animated fadeIn" ng-show="mode == 'teach'">

    <div class="col-xs-12" style="margin-bottom: 30px; text-align: center;">

      <div style="font-weight: bold; font-size: 1.4em; color: #2d4255;">{{'CREATE_EDUCATIONAL_COMMUNITY' | translate}}</div>

      <!--

      <div class="user-collections" style="margin-top: 30px;">

        <div style="height: unset;" ng-class="{'active-usercollection-professor': 'Professor' == universityType}" ng-click="selectUniversityType('Professor')" class="collection teaching-option option">

          <div class="dot" style="background-color: #52bfea;"></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'PROFESSOR' | translate}}</div>
          <div style="color: #909090;">{{'EDUCATIONAL_TEACHING_AND_LEARNING' | translate}}</div>

        </div>

      </div>
      <!-- end user-collections -->

      <!--
      <div class="user-collections" style="margin-top: 30px;">

        <div style="height: unset;" ng-class="{'active-usercollection-ff': 'Amigos e Família' == universityType}" ng-click="selectUniversityType('Amigos e Família')" class="collection teaching-option option">

          <div class="dot" style="background-color: #30b39f;"></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'FRIENDS_AND_FAMILY' | translate}}</div>
          <div style="color: #909090;">{{'START_A_STUDY_GROUP' | translate}}</div>

        </div>
        <!--

      </div>
      <!-- end user-collections -->

      <!--

      <div class="user-collections" style="margin-top: 30px;">

        <div style="height: unset;" ng-class="{'active-usercollection-edinstitution': 'Instituição de Ensino' == universityType}" ng-click="selectUniversityType('Instituição de Ensino')" class="collection teaching-option option">

          <div class="dot" style="background-color: #aa2c26;"></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'EDUCATIONAL_INSTITUTION' | translate}}</div>
          <div style="color: #909090;">{{'EMPOWER_STUDENTS' | translate}}</div>

        </div>
        <!--

      </div>
      <!-- end user-collections -->

      <!--

      <div class="user-collections" style="margin-top: 30px;">

        <div style="height: unset;" ng-class="{'active-usercollection-company': 'Empresa' == universityType}" ng-click="selectUniversityType('Empresa')"  class="collection teaching-option option">

          <div class="dot" style="background-color: #b460a2"></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'COMPANY' | translate}}</div>
          <div style="color: #909090;">{{'INTERNALTRAINING' | translate}} </div>

        </div>
        <!--

      </div>
      <!-- end user-collections -->

      <!--

      <div class="user-collections" style="margin-top: 30px;">

        <div style="height: unset;" ng-class="{'active-usercollection-kids': 'Criancas' == universityType}" ng-click="selectUniversityType('Criancas')" class="collection teaching-option option">

          <div class="dot" style="background-color: #ee5748;"></div>

          <div style="font-size: 1.2em; font-weight: bold;">{{'CHILDREN' | translate}}</div>
          <div style="color: #909090;">{{'EDUCATIONAL_PLATFORM_FOR_CHILDREN' | translate}}</div>

        </div>
        <!--

      </div>
      <!-- end user-collections -->

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4" style="margin-bottom: 45px;">

      <div style="text-align: center; min-height: 215px; margin-top: 15px;">

        <img src="https://cdn.dribbble.com/users/4377825/screenshots/13858274/media/7c72f93c1ae761a984487e7b67d38308.png?compress=1&resize=1000x750" width="250px" />

      </div>
      <!-- -->

      <div style="text-align: center; font-size: 1.2em; font-weight: 700; margin-bottom: 30px;">Educational Infrastructure</div>

      <div style="text-align: center; font-weight: 600; margin-bottom: 30px; color: #444;">Your online educational environment</div>

      <div style="text-align: center; font-weight: 400; margin-bottom: 30px; color: #444; min-height: 100px;">Communication infrastructure, courses platform, payment processing, immersive virtual reality spaces.</div>

      <div style="text-align: center;">
        <button class="btn btn-success" ng-click="teaching()" style="font-size: 1.15em; width: 50%; font-weight: bold;">{{'PROCEED' | translate}}</button>
      </div>

    </div>

    <div class="col-xs-12 col-sm-4" style="margin-bottom: 45px;">

      <div style="text-align: center; min-height: 215px; margin-top: 15px;">

        <img src="https://storage.googleapis.com/educationalcommunity-upload/university-bg/card.png" width="250px" />

      </div>
      <!-- -->

      <div style="text-align: center; font-size: 1.2em; font-weight: 700; margin-bottom: 30px;">Financial Services</div>

      <div style="text-align: center; font-weight: 600; margin-bottom: 30px; color: #444;">Financial Services to run your educational org</div>

      <div style="text-align: center; font-weight: 400; margin-bottom: 30px; color: #444; min-height: 100px;">Credit lines, factoring, credit debit card, employee card issuing, employee payroll and payment Upfront.</div>

      <div style="text-align: center;">
        <button class="btn btn-success" ng-click="teaching()" style="font-size: 1.15em; width: 50%; font-weight: bold;">{{'PROCEED' | translate}}</button>
      </div>

    </div>

    <div class="col-xs-12 col-sm-4" style="margin-bottom: 45px;">

      <div style="text-align: center; min-height: 215px; margin-top: 15px;">

        <img src="https://storage.googleapis.com/educationalcommunity/infrafinservices.png" width="250px" />

      </div>
      <!-- -->

      <div style="text-align: center; font-size: 1.2em; font-weight: 700; margin-bottom: 30px;">Infrastructure and Financial Services</div>

      <div style="text-align: center; font-weight: 600; margin-bottom: 30px; color: #444;">Technology + Financial services</div>

      <div style="text-align: center; font-weight: 400; margin-bottom: 30px; color: #444; min-height: 100px;">Everything you need to run and educational organization.</div>

      <div style="text-align: center;">
        <button class="btn btn-success" ng-click="teaching()" style="font-size: 1.15em; width: 50%; font-weight: bold;">{{'PROCEED' | translate}}</button>
      </div>

    </div>

  </div>
  <!-- end row -->

  <style>

    .onboarding-knowledge {
      padding-bottom: 10px;
      border-bottom: 1px solid #cdcdcd;
      margin-bottom: 10px;
    }

    .onboarding-knowledge .title {
      font-size: 1.5em;
      display: inline-block;
      font-weight: bolder;
      color: #2d4255;
    }

    .onboarding-knowledge .icon {
      float: right;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: top;
    }

    .onboarding-knowledge-university-row {

    }

    .onboarding-knowledge-university-row .name {
      display: inline-block;
      font-weight: bolder;
      font-size: 1.2em;
      padding-left: 10px;
    }

    .onboarding-knowledge-university-row .logo-bg {
      display: inline-block;
    }

    .onboarding-knowledge-university-row .buttons {
      text-align: right; float: right; vertical-align: top;
      line-height: 60px;
      font-size: 0.7em;
    }

    .footer-onboarding {

    }

    .active-usercollection-professor {
      border: 3px solid #52bfea;
    }

    .active-usercollection-edinstitution {
      border: 3px solid #aa2c26;
    }

    .active-usercollection-ff {
      border: 3px solid #30b39f;
    }

    .active-usercollection-company {
      border: 3px solid #b460a2;
    }

    .active-usercollection-kids {
      border: 3px solid #ee5748;
    }

    .user-collections .collection {

      width: 100%;

    }

  </style>

  <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
    <!--<div class="col-xs-12" ng-show="mode == 'teach'">
      <button class="btn btn-success" ng-click="teaching()" style="font-size: 1.15em; font-weight: bold;">{{'PROCEED' | translate}}</button>
    </div>-->
    <!-- -->
    <div class="col-xs-12" ng-show="mode == 'learn'">
      <button class="btn btn-success" ng-click="learning()" style="font-size: 1.15em; font-weight: bold;">{{'PROCEED' | translate}}</button>
    </div>
    <!-- -->
    <div class="col-xs-12" ng-show="mode == 'video'">
      <button class="btn btn-success" ng-click="videocalling()" style="font-size: 1.15em; font-weight: bold;">{{'PROCEED' | translate}}</button>
    </div>
    <!-- -->
  </div>
  <!-- -->

</div>
<!-- end container fluid -->
