<div class="container-fluid">

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">

    <div class="col-xs-4"></div>

    <div class="col-xs-4" style="text-align: center;">

      <a href="/home/explore">
        <img src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_icon.png" height="30px" />
      </a>

    </div>

    <div class="col-xs-4" style="text-align: right; line-height: 30px;">

      <a href="/home/timeline">
        <button class="btn btn-success" style="height: 30px; width: unset; font-size: 0.75em; font-weight: bold;">Concluir</button>
      </a>

    </div>

  </div>
  <!-- end row -->

  <div class="row" style="margin-bottom: 40px;">

    <div class="col-xs-12">

      <div style="width: 100%; text-align: center;">

        <div style="font-weight: bolder; font-size: 1.8em; color: #2d4255;">Siga as Universidades favoritas</div>

      </div>

    </div>
    <!-- end COL XS 12 -->

  </div>
  <!-- end ROW -->

  <style>

    .onboarding-knowledge {
      padding-bottom: 10px;
      border-bottom: 1px solid #cdcdcd;
      margin-bottom: 10px;
    }

    .onboarding-knowledge .title {
      font-size: 1.5em;
      display: inline-block;
      font-weight: bolder;
      color: #2d4255;
    }

    .onboarding-knowledge .icon {
      float: right;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: top;
    }

    .onboarding-knowledge-university-row {

    }

    .onboarding-knowledge-university-row .name {
      display: inline-block;
      font-weight: bolder;
      font-size: 1.2em;
      padding-left: 10px;
    }

    .onboarding-knowledge-university-row .logo-bg {
      display: inline-block;
    }

    .onboarding-knowledge-university-row .buttons {
      text-align: right; float: right; vertical-align: top;
      line-height: 60px;
      font-size: 0.7em;
    }

  </style>

  <div class="row">

    <div class="col-xs-12" style="margin-bottom: 15px;">

      <div class="onboarding-knowledge">
        <div class="title">Esportes</div>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </div>

      <div class="onboarding-knowledge-university-row">

        <div class="logo-bg"><img height="60px" width="60px" style="border-radius: 50%;" src="https://yt3.ggpht.com/a-/AN66SAxE9GzMTbYGASvTUoRSo4APlpQdICzvyKZYUw=s900-mo-c-c0xffffffff-rj-k-no" /></div>
        <div class="name">Calistenia Brasil</div>
        <div class="buttons">
          <button class="btn btn-success" style="height: 30px; background-color: #fff; color: #000; border-radius: 5px; border: 3px solid #000; width: unset; font-size: 0.75em; font-weight: bold;">Inscrever</button>
        </div>

      </div>
      <!-- onboarding-knowledge-university-row -->

    </div>
    <!-- end COL XS 12 -->

    <div class="col-xs-12">

      <div class="onboarding-knowledge">
        <div class="title">Educação</div>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </div>

      <div class="onboarding-knowledge-university-row">

        <div class="logo-bg"><img height="60px" width="60px" style="border-radius: 50%;" src="https://storage.googleapis.com/educationalcommunity-upload/images/1572145745/a29.jpg" /></div>
        <div class="name">Áurea618</div>
        <div class="buttons">
          <button class="btn btn-success" style="height: 30px; background-color: #fff; color: #000; border-radius: 5px; border: 3px solid #000; width: unset; font-size: 0.75em; font-weight: bold;">Inscrever</button>
        </div>

      </div>
      <!-- onboarding-knowledge-university-row -->

    </div>
    <!-- end COL XS 12 -->

  </div>
  <!-- end ROW -->

</div>
<!-- end container fluid -->
