<div ng-include="'partials/headerhome.html'"></div>

<style>

  @media screen and (max-width: 768px) {

    .container-home {
      padding-top: 43px !important;
    }

  }

</style>

<div class="container-fluid container-home">

    <div class="row">

      <div class="col-sm-4 col-md-3 section-menu-col">

      </div>
      <!-- col-sm-4 col-md-3 section-menu-col -->

      <div class="col-xs-12 col-sm-8 col-md-9 section-content-col">

        <ballmenu></ballmenu>

        <div class="classroom-list-header" style="margin-bottom: 15px;">
            <div style="font-size: 1em;">
                <div class='classroom-list-title'">
                  <i style="padding-right: 10px;" class="fas fa-sitemap"></i> Curadoria
                </div>
                <div class='classroom-arrange-iconview'>
                    <!-- <img src="/img/icon/listview.svg" class="list-view-style" /> -->
                    <!-- <img src="/img/icon/gridview.svg" class="grid-view-style" /> -->
                </div>
            </div>
            <div class="classroom-btn-view">
                <div ng-click="createNewClassroom()" style="height: unset;" class="btn btn-success">
                    <i class="fas fa-plus-square" style="margin-right: 3px;"></i> Adicionar
                </div>
            </div>
        </div>
        <!-- -->

        <div style="border-bottom: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6; padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px; text-align: right;">

          <div style="display: inline-block; padding-right: 5px;"><b>Ordernar por: </b></div>

          <div class="dropdown" style="display: inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" style="height: 30px; background-color: #cecece;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <b ng-if="forumPostsOrder == '-createdAt'">Data criação</b>
              <b ng-if="forumPostsOrder == '-votesCount'">Mais votados</b>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-click="orderForumPosts('createdAt')"><a href="#">Data criação</a></li>
              <li ng-click="orderForumPosts('votesCount')"><a href="#">Mais votados</a></li>
            </ul>
          </div>

        </div>
        <!-- end ordering -->

        <div style="text-align: center; padding-top: 30px; font-size: 1.15em;" ng-show="forumPosts.length == 0">
          Essa curadoria esta vazia
        </div>

        <div ng-show="forumPosts.length > 0">

          <forumpost ng-repeat="post in forumPosts | orderBy:forumPostsOrder" p="{{post}}"></forumpost>

        </div>
        <!-- forumPosts.length > 0 -->

      </div>
      <!-- end col-xs-12 -->

    </div>
    <!-- end row -->
    <footermobile></footermobile>
</div>
<!-- container-full -->
