<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home container-index animated fadeIn" style="padding-bottom: 30px;">

  <div class="row">

      <div class="col-xs-12" style="padding-left: 20px; padding-right: 20px;">

      <!-- Welcome -->

      <div class="headline-container">Bem vindo</div>
      <div class="headline-main" style="padding-top: 0;">A melhor plataforma para aprender, ensinar, debater e compartilhar conhecimento.</div>
      <!-- end Welcome -->

      <div class="mobile-show" style="text-align: right;">
        <button ng-hide="logged" ng-click="signup()" class="btn bg-primary-green" style="margin-top: 2px; height: 29px; width: unset;">Registrar</button>
      </div>

      <div style="padding-bottom: 32px;"></div>

      <!-- Explorar universidades -->

      <div class="headline-container">Explorar universidades</div>

      <div class="section-cards section-cards-loading">

        <a ng-hide="universities.length > 0" ng-repeat="n in [1,2,3,4,5]">
          <div class="card hvr-hang">

            <div class="picture area"></div>

            <div class="title"></div>
            <div class="description"></div>

          </div>
          <!-- end card -->
        </a>

      </div>

      <div ng-show="universities.length > 0" class="section-cards">

        <a style="color: #2c4255;" ng-repeat="university in universities | orderBy:'-highlight'" href="/a/{{university.url}}/timeline">
          <div class="card hvr-hang">

            <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div class="title">{{university.createdAt}}{{university.name}}</div>
            <div class="description" data-ellipsis data-ng-bind="university.about"></div>

          </div>
          <!-- end card -->
        </a>

      </div>
      <!-- end section-cards -->

      <div style="padding-bottom: 32px;"></div>

      <div class="row" ng-hide="user.membership > 0">

        <div class="col-xs-12 col-sm-6">

          <div>
            <div class="headline-container" style="padding-bottom: 0;">Introduzindo Estudante <div class="student-pro" style="font-size: 0.7em !important; margin-top: 5px;">PRO</div></div>
            <div class="headline-sub-four" style="padding-bottom: 15px;">Transforme cada novo desafio em oportunidades de aprendizado e crescimento.</div>

            <div class="card-highlight" style="background-image: url('https://cdn.shopify.com/s/files/1/0374/5581/products/SUN-0454_43e1049e-6b1a-4411-ba4d-d901faca2012_2048x.jpg?v=1488258434')">

              <div class="card-highlight-wrapper">
                <!--
                <div class="student-pro" style="font-size: 1.1em; background-color: #fff; color: #2d4255;">PRO</div></br>
                </br>
                -->
                <button class="btn bg-white" ng-click="studentProExplore()" style="width: 60%; color: #000;">Conhecer</button>
              </div>
              <!-- end card-highlight-wrapper -->

            </div>
            <!-- end card-highlights -->
          </div>

        </div>
        <!-- end col-xs-12 col-sm-6 -->

        <div class="col-xs-12 col-sm-6">
          <div class="headline-container" style="padding-bottom: 0;">Certificados na Blockchain</div>
          <div class="headline-sub-four" style="padding-bottom: 15px;">Todos os diplomas e certificados emitidos na plataforma são registrados permanentemente na blockchain.</div>
          <div style="text-align: center; padding-top: 80px; height: 300px;">
            <img height="86px" src="https://storage.googleapis.com/networkbase-static/img/logo/network.png" />
            <b style="font-size: 2.3em; padding-right: 10px;">+</b>
            <img width="200px" src="https://certificate.network/img/logo.jpg" /></div>
        </div>
        <!-- end col-xs-12 col-sm-6 -->

      </div>
      <!-- end row -->

      <!-- End Explorar universidades -->

      <div style="padding-bottom: 32px;"></div>

      <!-- Create own university -->

      <div class="section-break row">

        <div class="col-xs-12 col-sm-6">

          <div class="section-break-image" style="background-image: url('https://www.newtimes.co.rw/sites/default/files/main/articles/2015/03/12/1426190446article-0-19012E29000005DC-414_634x400.jpg')"></div>

        </div>

        <div class="col-xs-12 col-sm-6">

          <div style="">

            <div class="section-break-title">Já pensou em criar a sua própria universidade?</div>
            <p>Crie a sua comunidade educacional online e começe a ensinar para os seus alunos.</p>
            <button class="btn bg-primary-green" ng-click="createUniversityRedirect()" style="width: 60%; color: #fff;">Criar universidade</button>

          </div>
          <!-- -->

        </div>

      </div>

      <!-- End create own university -->

    </div>

  </div>

</div>
<!-- container-fluid container-full -->
