<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home">

  <div class="headline-container">Explorar comunidades</div>

  <div class="section-cards">

    <a style="color: #2c4255;" ng-repeat="university in universities | orderBy:'-highlight'" href="/a/{{university.url}}/forum" target="_blank">
      <div class="card">

        <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
        <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

        <div class="title">{{university.createdAt}}{{university.name}}</div>
        <div class="description" data-ellipsis data-ng-bind="university.about"></div>

      </div>
      <!-- end card -->
    </a>

  </div>
  <!-- end section-cards -->

</div>
<!-- container-fluid container-full -->
