<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

  <div class="headline-container">Explore communites</div>

  <div class="section-cards">

    <a style="color: #2c4255;" ng-repeat="university in [{ name : 'Calistenia' },{ name : 'Calistenia' },{ name : 'Calistenia' },{ name : 'Calistenia' },{ name : 'Calistenia' }]" href="/a/{{university.url}}/forum" target="_blank">
      <div class="card">

        <div class="picture" style="background-image: url('http://{{university.backgroundImage}}') "></div>
        <div class="title">{{university.name}}</div>
        <div class="description">Uma metologia de treinamento que tem como principal característica a realização de exercícios que utilizam somente o peso corporal.</div>

      </div>
      <!-- end card -->
    </a>

  </div>
  <!-- end section-cards -->

</div>
<!-- container-fluid container-full -->
