<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home" style="padding-bottom: 30px;">

  <div class="row">

    <div class="col-sm-4 col-md-3 section-menu-col animated fadeIn">

      <div class="section-menu navbar-vertical">

        <div class="navbar-vertical-profile" ng-if="user.name.length > 0 && user.name != undefined">

          <div class="picture" ng-if="user.imageUrl == undefined" style="background-image: url('img/user/user.png');"></div>
          <div class="picture" ng-if="user.imageUrl != undefined" style="background-image: url('{{user.imageUrl}}');"></div>

          <div class="texts">

            <div ng-if="user.name.length > 0 && user.name != undefined" class="name">{{user.name}}</div>

          </div>
          <!-- end texts -->

        </div>
        <!-- end navbar-vertical-profile -->

        <div class="header">EXPLORAR</div>
        <div class="option"><a href="/home"><img src="/img/icon/office/home.png" height="20px" width="35px" style="padding-right: 13px;" />Home</a></div>
        <div class="option"><a href="/home/timeline"><img src="/img/icon/timeline.png" style="margin-right: 14px;" height="20px" width="20px">Timeline</a></div>
        <!-- <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/classroom.png" style="margin-right: 14px;" height="20px" width="20px">Sala de Aula</a></div> -->
        <!-- <div class="option"><a href="/home/noticias"><img src="/img/icon/office/opinion.png" height="20px" width="35px" style="padding-right: 13px;" />Opinião</a></div>-->

        <div class="header" style="padding-top: 30px;">UNIVERSIDADES</div>
        <div ng-if="user.universitiesSubscribed.length == 0" class="option"><a href="/home/{{'UNIVERSIDADES' | translate}}"><img src="https://png.icons8.com/office/100/000000/plus-math.png" height="20px" width="35px" style="padding-right: 13px;" />Increver</a></div>
        <div ng-if="user == undefined" class="option"><a href="/home/{{'UNIVERSIDADES' | translate}}"><img src="https://png.icons8.com/office/100/000000/plus-math.png" height="20px" width="35px" style="padding-right: 13px;" />Increver</a></div>
        <timelinemenuuniversity uid="{{u.universityId}}" ng-if="u.unsubscribed == false" ng-repeat="u in user.universitiesSubscribed"></timelinemenuuniversity>

        <!--
        <div class="header" style="padding-top: 30px;">APRENDER</div>
        <div class="option"><a href="/home/noticias"><img src="https://visualpharm.com/assets/311/Graduation%20Cap-595b40b65ba036ed117d2d97.svg" height="20px" width="35px" style="padding-right: 13px;" />Cursos</a></div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/tabletop-radio.png" height="20px" width="35px" style="padding-right: 13px;" />Podcasts</a></div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/80/000000/collaboration.png" height="20px" width="35px" style="padding-right: 13px;" />Entrevistas</a></div>
        -->

        <!--
        <div class="header" style="padding-top: 30px;">ENSINAR</div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/courses.png" height="20px" width="35px" style="padding-right: 13px;" />Criar Curso</a></div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/create-new.png" height="20px" width="35px" style="padding-right: 13px;" />Escrever Artigo</a></div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/80/000000/sending-video-frames.png" height="20px" width="35px" style="padding-right: 13px;" />Subir Video</a></div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/training.png" height="20px" width="35px" style="padding-right: 13px;" />Criar Sala</a></div>

        <div class="header" style="padding-top: 30px;">PERFIL</div>
        <div class="option"><a href="/home/noticias"><img src="https://png.icons8.com/office/100/000000/id-verified.png" height="20px" width="35px" style="padding-right: 13px;" />Verificar Identidade</a></div>
        -->

      </div>

    </div>
    <!-- col-sm-4 col-md-3 section-menu-col -->


    <div class="col-sm-8 col-md-9 animated fadeIn" style="padding-left: 20px; padding-right: 20px;">

      <!--<div class="headline-container" style="padding-bottom: 10px;">Bem vindo</div>-->
      <div class="headline-container" style="padding-bottom: 10px; line-height: 1.3em; letter-spacing: -0.5px; color: #2d4255; font-size: 1.8em;">A melhor plataforma para aprender, ensinar, debater e compartilhar conhecimento.</div>
      <!-- ng-hide="user.name.length > 0 && user.name != undefined" -->

      <div class="row" style="padding-bottom: 20px; padding-top: 10px;">

        <div class="col-xs-6" style="text-align: center; padding: 0;">
          <button style="border: none; border: 3px solid #2d4255ad; border-radius: 5px; font-size: 1.1em; color: #828282; background-color: unset; outline: none; box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);"><i style="padding-right: 5px;" class="fas fa-user-graduate"></i> Quero aprender</button>
        </div>

        <div class="col-xs-6" style="text-align: center; padding: 0;">
          <button style="border: none; border: 3px solid #2d4255ad; border-radius: 5px; font-size: 1.1em; color: #828282; background-color: unset; outline: none; box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);"><i style="padding-right: 5px;" class="fas fa-chalkboard-teacher"></i> Quero educar</button>
        </div>

      </div>

      <style>

        .section-cards .card {
          width: unset !important;
        }

      </style>

      <p><img style="height: 25px; margin-right: 5px;" src="https://welove.education/img/icons/universidadeicon.png"> <b style="color: #616161;">Comunidades Educacionais</b></p>

      <div class="section-cards" style="padding-bottom: unset;">

        <!-- 5db3e7e9225728001769dc5f -->

        <homeuniversitynewcard uid="5db3e7e9225728001769dc5f"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5cb96505ae38fe00154a34a5"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5d8bc148098677001707d027"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db4e63ad65a7c0017ca0bc0"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db682a5f820b300179311d3"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db50a9ad65a7c0017ca0bc2"></homeuniversitynewcard>

        <!--
        <div ng-if="k.universities.length > 0" ng-repeat="k in knowledges | orderBy: '-universities.length' | limitTo: 2" style="margin-bottom: 10px;">

          <homeuniversitynewcard uid={{university.universityId}} ng-repeat="university in k.universities"></homeuniversitynewcard>

        </div>
        -->

      </div>
      <!-- end sections-cards -->

      <style>

        @media screen and (max-width: 768px) {

          .course-box-wrapper {
            padding-left: 0;
            padding-right: 0;
          }

        }

      </style>

      <div class="bar-sections standard animated delay-1s" style="width: 100%;">
        <div class="bar-section active" style="color: #ee5748;">CURSOS</div>
        <div class="bar-section">AULAS</div>
        <div class="bar-section">TRILHAS</div>
      </div>

      <coursehomebox c="{{course._id}}" ng-repeat="course in courses"></coursehomebox>

      <!-- -->

      <!-- Welcome -->

      <!--
      <div style="bottom: -12px; position: relative; width: 100%; text-align: center; height: 240px; border-radius: 5px; margin-bottom: 45px; background-image: url('https://storage.googleapis.com/educationalcommunity-upload/university-bg/alaskabg.webp'); background-size: cover;">

        <div style="position: absolute; bottom: -16px; width: 100%;">
          <input type="text" style="outline: none; height: 50px; border: 0; width: 85%; border-radius: 5px; box-shadow: 0px 2px 12px 0px rgba(97,97,97,0.45); padding-left: 45px;"></input>
          <div style="position: absolute; left: calc(7% + 15px); height: 100%; top: 15px;"><i style="font-size: 1.3em; font-weight: bolder;" class="fas fa-search"></i></div>
        </div>

        <div style="position: absolute; width: 100%; left: 0; bottom: 45px; color: #fff; text-align: left; padding-left: 7%; font-size: 1.5em; font-weight: 600;">Nome</div>

      </div>
      -->
      <!-- end -->

      <!-- end row -->

      </br>

      <style>
        .swiper-container {
          padding: 3px;
          padding-bottom: 40px;
        }

        .swiper-slide {
          text-align: left;
        }

        .knowledge-card {
          border-radius: 5px;
          width: 45%;
          box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);
          width: calc(100% / 4);
        }

        .knowledge-card .knowledge-card-image {
          height: 70px; background-size: cover;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }

        .knowledge-card .title {
          height: 45px;
          padding: 10px;
          font-weight: bold;
        }

        .section-cards {
          padding-bottom: 10px;
        }

        .section-cards::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        .section-cards::-webkit-scrollbar-thumb {
            background: transparent;
        }

        @media only screen and (min-width: 780px) {

          .swiper-slide {
            width: 50% !important;
          }

        }

        .bar-sections {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 15px;
          border-radius: 5px;
          font-size: 0.95em;
        }

        .bar-sections .bar-section {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          text-align: center;
          font-size: 1em;
          font-weight: bold;
          font-size: 0.95em;
        }

        .bar-sections.standard {
          box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);
          padding: 10px;
        }

        .bar-sections .bar-section.active {
          color: #000;
        }

        .bar-sections .bar-section.active {
          border-radius: 10px;
          font-weight: bold;
        }

        .bar-sections .bar-section {
          color: #2d4255b8;
        }

        .bar-sections.orange .bar-section.active {
          background-color: #ef62543b;
          border-radius: 10px;
          color: #ee5748;
          font-weight: bold;
        }

      }

      </style>

      <style>

        .course-box {
          box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
          display: inline-block;
          border-radius: 5px;
          width: 100%;
          padding: 15px;
          cursor: pointer;
          margin-bottom: 15px;
          overflow: auto;
          height: 250px;
        }

        .course-box .title {
          font-size: 1.3em;
          font-weight: bold;
        }

        @media screen and (max-width: 860px) {

          .course-box {
            height: 190px;
          }

        }

      </style>

      <style>

        .button-highlighter {
          box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
          transition: all 0.3s ease 0s;
          cursor: pointer;
        }

        .course-card {
          box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
          border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
          padding-left: 20px; padding-right: 20px;
          margin-bottom: 15px;
        }

        .course-card .topic {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .course-card .topic .text {
          display: inline-block;
          width: calc(100% - 39px);
        }

        .course-card .topic .title {
          font-size: 1.3em;
          display: inline-block;
          font-weight: 500;
        }

        .course-card .topic .title {
          font-size: 1.2em;
          color: #3c3c3c;
        }

        .course-card .topic .subtitle {
          color: #8c8c8c;
        }

        .course-card .topic .line {
          width: 35px;
          font-size: 0.5em;
          padding-top: 7px;
          vertical-align: top;
          text-align: center;
          display: inline-block;
          color: #d8d8d8;
        }

        .instrutora {
          margin-right: 15px;
          display: inline-block;
        }

        .instrutora .author {
          font-size: 1.25em;
        }

        .instrutora .author .name {
          font-weight: 600;
        }

        .instrutora .author .title {
          font-weight: 400;
          font-size: 0.8em;
        }


        .instrutora .text {

        }

        .instrutora .picture {
          margin-bottom: 10px;
        }

        @media only screen and (max-width: 768px) {

          .course-card {

            padding-right: 10px;
            padding-left: 10px;

          }

        }

      </style>

      <!--
      <div class="bar-sections orange" style="width: 100%;">
        <div class="bar-section active">ECONOMIA</div>
        <div class="bar-section">INGLÊS</div>
        <div class="bar-section">FILOSOFIA</div>
      </div>
      -->

      <!--
      <swiper onTransitionStart="onTransitionStart" dynamicBullets="true" effect="slide" on-transition-start="onTransitionStart" slidesPerView="1" slidesPerGroup="1">

        <slides>
          <slide ng-repeat="x in forumPosts">
            <div class="card" style="vertical-align: top; border-radius: 5px; background-color: #fff; padding: 10px; box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);">
              <div style="color: #000; word-wrap: break-word; white-space: normal;">
                <div style="font-weight: 600; font-size: 0.8em;"><b>{{x.title}}</b></div>
                <div style="font-weight: 500; font-size: 0.8em;"><b>Roberto Campos</b></div>
                <div style="padding-bottom: 10px;"></div>
                <div style="width: 100%; font-size: 0.8em;">A sociedade humana sempre foi uma "sociedade da informação", desde quando o Pitecantropo ancestral começou a comunicar-se articuladamente com os outros.</div>
              </div>
            </div>
          </slide>
        </slides>

        <pagination></pagination>

      </swiper>
      -->

  </div>

<!-- ng-click="createUniversityRedirect()" --

</div>
<!-- container-fluid container-full -->

<!--
<div class="academia-footer" style="z-index: 9; background-color: #fff; box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -moz-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); -webkit-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15);">

  <ul style="width: 98%" style="color: #565656 !important;">

    <li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: rgba(86, 86, 86, 0.57) !important;" href="/home/timeline" ng-class="forumClass">
        <i style="font-size: 1.7em;" class="far fa-newspaper"></i>
      </a>
    </li>

    <li style="width: 20%; min-width: unset; padding-top: 4px; padding-left: 0; padding-right: 0;">
      <a style="color: rgba(86, 86, 86, 0.57) !important;" href="/home">
        <i style="font-size: 1.7em; color: #383838; font-weight: bolder;" class="fas fa-search"></i>
      </a>
    </li>

    <li style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <a style="color: rgba(86, 86, 86, 0.57) !important;" href="/home/create">
        <i style="font-size: 1.7em;" class="fas fa-plus"></i>
      </a>
    </li>

    <li style="width: 20%; min-width: unset; padding-left: 0; padding-right: 0;">
      <a style="color: rgba(86, 86, 86, 0.57) !important;" href="/a/{{university.url}}/forum/category/all" ng-class="forumClass">
        <i style="font-size: 1.7em;" class="fas fa-bell"></i>
      </a>
    </li>

    <li style="width: 20%; color: rgba(86, 86, 86, 0.57) !important; min-width: unset; padding-left: 0; padding-right: 0;" ng-click="premium()">
      <i style="font-size: 1.7em;" class="fas fa-user-graduate"></i>
    </li>

  </ul>

</div>
-->
