<div ng-include="'partials/headerhome.html'"></div>

<style>

  @media screen and (max-width: 768px) {
    .navbar-slider {
      display: none;
    }
    .navbar-top-first {
      margin-bottom: 2px;
    }
    .container-home {
      padding-top: 43px !important;
    }
    .section-content-col {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

</style>

<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 30px;">

  <!-- Welcome -->
  <div class="row" ng-controller="HomeTimelineCtrl">

    <div class="col-sm-4 col-md-3 section-menu-col">

      <div class="section-menu-title">Universidades</div>

      <div class="section-menu">
        <timelinemenuuniversity uid="{{u.universityId}}" ng-if="u.unsubscribed == false" ng-repeat="u in user.universitiesSubscribed"></timelinemenuuniversity>
        <div ng-if="user.universitiesSubscribed.length == 0" class="option">Você não esta registrado em nenhuma Universidade</div>
      </div>

    </div>
    <!-- col-sm-8 -->

    <style>

      .menu-option {
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: top;
      }

      .menu-option-title {
        font-weight: 600;
        font-size: 0.8em;
        color: #6d6d6d;
        line-height: 1.2em;
      }

      .navbar-nav {
        display: inline-block;
        width: 100%;
      }

      .menu-option-ball {
        padding: 20px;
        margin-bottom: 5px;
        background-color: #e6e6e6;
        border-radius: 50%;
        color: #6d6d6d;
        display: inline-flex;
      }

      .home-quick-options {
        right: 0;
        left: 0;
      }

      .home-quick-action-button {
        font-size: 1.1em; margin-bottom: 10px; margin-right: 5px; display: inline-block; background-color: #cdcdcd; border-radius: 4px; padding-left: 5px; padding-right: 5px; font-weight: 400;
      }

    </style>

    <div class="col-xs-12 col-sm-8 col-md-9 section-content-col">

      <div class="home-quick-options" style="padding-left: 15px; margin-top: 10px;">

        <div style="overflow-x: scroll; white-space: nowrap; border-radius: 5px; padding-bottom: 10px;">

          <a href="/a/weloveeducation/classroom" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-video"></i>
            </div>
            <div class="menu-option-title">Chamada</br>em grupo</div>
          </div>
          </a>

          <a href="/onboarding/universities/create" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-university"></i>
            </div>
            <div class="menu-option-title">Criar</br>universidade</div>
          </div>
          </a>

          <a href="/reports" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-brain"></i>
            </div>
            <div class="menu-option-title">Iniciar</br>estudos</div>
          </div>
          </a>

          <a href="/wallet" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-wallet"></i>
            </div>
            <div class="menu-option-title">Acessar</br>carteira</div>
          </div>
          </a>

          <a href="/objectives/weekly" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="menu-option-title">Ensinar</br>um curso</div>
          </div>
          </a>

          <a href="/companies" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-sitemap"></i>
            </div>
            <div class="menu-option-title">Organizar</br>curadoria</div>
          </div>
          </a>

          <a href="/companies" style="margin-left: 0px;">
          <div class="menu-option">
            <div class="menu-option-ball">
              <i class="fas fa-vr-cardboard"></i>
            </div>
            <div class="menu-option-title">Realidade</br>Virtual</div>
          </div>
          </a>

          <div class="menu-option ng-hide" style="cursor: pointer;" ng-show="logged" ng-click="logout()">
            <div class="menu-option-ball">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="menu-option-title">Logout</div>
          </div>

        </div>
        <!-- end options -->

      </div>

      <!--

      <div style="height: 20px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div style="font-size: 1.7em; font-weight: bold;">Timeline</div>
      </div>

      <div style="height: 15px"></div>

      <div ng-repeat="activity in activities">
        <timelinenewforumpost ng-if="activity.entryType != 'comment'" reshare="{{activity.rePost}}" like="{{activity.like}}" comments="{{activity.comments}}" cid="{{activity.modelId}}" aid="{{activity.creatorId}}" uid="{{activity.universityId}}"></timelinenewforumpost>
      -->

      <style>

          .onboarding-knowledge {
            padding-bottom: 20px;
            border-bottom: 1px solid #cdcdcd;
            margin-bottom: 10px;
            text-align: center;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
          }

          .onboarding-knowledge p  {
            font-size: 1.1em;
            margin-bottom: 15px;
          }

          .onboarding-knowledge .picture {

          }

          .onboarding-knowledge .title {
            font-size: 1.3em;
            display: inline-block;
            font-weight: bolder;
            color: #2d4255;
            margin-bottom: 15px;
          }

          .onboarding-knowledge .buttons {
            text-align: center;
          }


      </style>

      <div class="onboarding-knowledge" ng-show="user.universitiesSubscribed.length == 0">

        <div class="picture"><img src="/img/vr/vr_animation.gif" height="120px;" /></div>
        <div class="title">Novo! Inscreva-se nas Universidades</div>
        <p><b>Siga educadores</b> Começe aprender em comunidade</p>
        <p><b>Customize a timeline</b> Acesse o conteúdo que você tem interesse</p>
        <p><b>Aprenda e ensine</b> Você pode participar de diversas maneiras</p>
        <div class="buttons">
          <a href="/onboarding/universities"><button class="btn btn-success" style="max-width: 180px;">Seguir Universidades</button></a>
        </div>

      </div>

      <div ng-show="loading" style="width: 100%; text-align: center; padding-top: 30px; padding-bottom: 30px;">
        <img src="/img/loader.gif" height="50px" />
      </div>
      <!-- -->

      <div ng-repeat="activity in activities | orderBy: '-createdAt'" ng-if="user.universitiesSubscribed.length > 0">
        <timelinenewforumpost ng-if="activity.entryType != 'comment'" reshare="{{activity.rePost}}" like="{{activity.like}}" comments="{{activity.comments}}" cid="{{activity.modelId}}" aid="{{activity.creatorId}}" uid="{{activity.universityId}}"></timelinenewforumpost>
      </div>

      <div ng-if="user.universitiesSubscribed.length > 0" infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
        <timelineposthome fp="{{fp}}" ng-repeat="fp in forumPosts"></timelineposthome>
      </div>

    </div>
    <!-- end col-xs-12 col-sm-8 -->

    </div>
    <!-- emd -->

  </div>
  <!-- end row -->

  <!-- End create own university -->

</div>
<!-- container-fluid container-full -->

<footermobile></footermobile>
