<div ng-include="'partials/headerhome.html'"></div>

<style>

  @media screen and (max-width: 768px) {
    .navbar-slider {
      display: none;
    }
    .navbar-top-first {
      margin-bottom: 2px;
    }
    .container-home {
      padding-top: 43px !important;
    }
    .section-content-col {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

</style>

<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 30px;">

  <!-- Welcome -->
  <div class="row" ng-controller="HomeTimelineCtrl">

    <div class="col-sm-4 col-md-3 section-menu-col">

      <div class="section-menu-title">Universidades</div>

      <div class="section-menu">
        <timelinemenuuniversity uid="{{u.universityId}}" ng-if="u.unsubscribed == false" ng-repeat="u in user.universitiesSubscribed"></timelinemenuuniversity>
        <div ng-if="user.universitiesSubscribed.length == 0" class="option">Você não esta registrado em nenhuma Universidade</div>
      </div>

    </div>
    <!-- col-sm-8 -->

    <div class="col-xs-12 col-sm-8 col-md-9 section-content-col">

      <!--

      <div style="height: 20px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div style="font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px;">Popular</div>
        <div style="font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px; color: #ccc;">Tech</div>
        <div style="font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px; color: #ccc;">Business</div>
        <div style="font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px; color: #ccc;">Art</div>
      </div>

      <div style="height: 15px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div ng-repeat="x in ['Investments', 'SaaS', 'Venture Capital', 'Valuation', 'Philosophy', 'Math', 'History', 'Start-up', 'Computer Science']" style="font-size: 1.1em; margin-bottom: 10px; margin-right: 5px; display: inline-block; background-color: #cdcdcd; border-radius: 4px; padding-left: 5px; padding-right: 5px; font-weight: 400;">{{x}}</div>
      </div>
      <!--

      <div style="height: 20px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div style="font-size: 1.7em; font-weight: bold;">Timeline</div>
      </div>

      <div style="height: 15px"></div>

      -->

      <style>

          .onboarding-knowledge {
            padding-bottom: 20px;
            border-bottom: 1px solid #cdcdcd;
            margin-bottom: 10px;
            text-align: center;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
          }

          .onboarding-knowledge p  {
            font-size: 1.1em;
            margin-bottom: 15px;
          }

          .onboarding-knowledge .picture {

          }

          .onboarding-knowledge .title {
            font-size: 1.3em;
            display: inline-block;
            font-weight: bolder;
            color: #2d4255;
            margin-bottom: 15px;
          }

          .onboarding-knowledge .buttons {
            text-align: center;
          }


      </style>

      <div class="onboarding-knowledge" ng-show="user.universitiesSubscribed.length == 0">

        <div class="picture"><img src="/img/vr/vr_animation.gif" height="120px;" /></div>
        <div class="title">Novo! Inscreva-se nas Universidades</div>
        <p><b>Siga educadores</b> Começe aprender em comunidade</p>
        <p><b>Customize a timeline</b> Acesse o conteúdo que você tem interesse</p>
        <p><b>Aprenda e ensine</b> Você pode participar de diversas maneiras</p>
        <div class="buttons">
          <a href="/onboarding/universities"><button class="btn btn-success" style="max-width: 180px;">Seguir Universidades</button></a>
        </div>

      </div>

      <div ng-repeat="activity in activities | orderBy: '-createdAt'" ng-if="user.universitiesSubscribed.length > 0">
        <timelinenewforumpost ng-if="activity.entryType != 'comment'" reshare="{{activity.reshare}}" like="{{activity.like}}" comments="{{activity.comments}}" cid="{{activity.modelId}}" aid="{{activity.creatorId}}" uid="{{activity.universityId}}"></timelinenewforumpost>
      </div>

      <div ng-if="user.universitiesSubscribed.length > 0" infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
        <timelineposthome fp="{{fp}}" ng-repeat="fp in forumPosts"></timelineposthome>
      </div>

    </div>
    <!-- end col-xs-12 col-sm-8 -->

    </div>
    <!-- emd -->

  </div>
  <!-- end row -->

  <!-- End create own university -->

</div>
<!-- container-fluid container-full -->

<footermobile></footermobile>
