<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home" style="padding-bottom: 30px;">

  <div class="row">

    <div class="col-sm-4 col-md-3 section-menu-col animated fadeIn">

      <div class="section-menu navbar-vertical">

        <div class="header" style="font-size: 1.1em; font-weight: bold; border-bottom: 1px solid rgba(113, 113, 113, 0.5)"><i class="fas fa-microchip" style="padding-right: 5px;"></i> TECNOLOGIA</div>
        <div class="option" style="font-size: 1.2em !important;"><a href="/home">Engenharia de Software</a></div>
        <div class="option" style="font-size: 1.2em !important;"><a href="/home">Blockchain</a></div>

        <div style="height: 25px;"></div>

        <div class="header" style="font-size: 1.1em; font-weight: bold; border-bottom: 1px solid rgba(113, 113, 113, 0.5)"><i class="fas fa-volleyball-ball" style="padding-right: 5px;"></i> ESPORTES</div>
        <div class="option" style="font-size: 1.2em !important;"><a href="/home">Judo</a></div>
        <div class="option" style="font-size: 1.2em !important;"><a href="/home">Jiu Jitsu</a></div>

      </div>

    </div>
    <!-- col-sm-4 col-md-3 section-menu-col -->

    <div class="col-sm-8 col-md-9 animated fadeIn" style="padding-left: 20px; padding-right: 20px;">

      <div class="row">
        <div class="col-xs-12">

          <div class="headline-container" style="text-align: left">Explore todos os cursos da plataforma</div>

        </div>
        <!-- -->
      </div>

      <coursehomebox c="{{course._id}}" ng-repeat="course in courses"></coursehomebox>
      <!-- -->

      <!-- end row -->

      </br>

      <style>
        .swiper-container {
          padding: 3px;
          padding-bottom: 40px;
        }

        .swiper-slide {
          text-align: left;
        }

        .knowledge-card {
          border-radius: 5px;
          width: 45%;
          box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);
          width: calc(100% / 4);
        }

        .knowledge-card .knowledge-card-image {
          height: 70px; background-size: cover;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }

        .knowledge-card .title {
          height: 45px;
          padding: 10px;
          font-weight: bold;
        }

        .section-cards {
          padding-bottom: 10px;
        }

        .section-cards::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        .section-cards::-webkit-scrollbar-thumb {
            background: transparent;
        }

        @media only screen and (min-width: 780px) {

          .swiper-slide {
            width: 50% !important;
          }

        }

        .bar-sections {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 15px;
          border-radius: 5px;
          font-size: 0.95em;
        }

        .bar-sections .bar-section {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
          text-align: center;
          font-size: 1em;
          font-weight: bold;
          font-size: 0.95em;
        }

        .bar-sections.standard {
          box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);
          padding: 10px;
        }

        .bar-sections .bar-section.active {
          color: #000;
        }

        .bar-sections .bar-section.active {
          border-radius: 10px;
          font-weight: bold;
        }

        .bar-sections .bar-section {
          color: #2d4255b8;
        }

        .bar-sections.orange .bar-section.active {
          background-color: #ef62543b;
          border-radius: 10px;
          color: #ee5748;
          font-weight: bold;
        }

      }

      </style>

      <style>

        .course-box {
          box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
          display: inline-block;
          border-radius: 5px;
          padding: 15px;
          cursor: pointer;
          margin-bottom: 15px;
          min-height: 300px;
          width: 100%;
        }

        .course-box .title {
          font-size: 1.3em;
          font-weight: bold;
          min-height: 60px;
        }

      </style>

      <style>

        .button-highlighter {
          box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
          transition: all 0.3s ease 0s;
          cursor: pointer;
        }

        .course-card {
          box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
          border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
          padding-left: 20px; padding-right: 20px;
          margin-bottom: 15px;
        }

        .course-card .topic {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .course-card .topic .text {
          display: inline-block;
          width: calc(100% - 39px);
        }

        .course-card .topic .title {
          font-size: 1.3em;
          display: inline-block;
          font-weight: 500;
        }

        .course-card .topic .title {
          font-size: 1.2em;
          color: #3c3c3c;
        }

        .course-card .topic .subtitle {
          color: #8c8c8c;
        }

        .course-card .topic .line {
          width: 35px;
          font-size: 0.5em;
          padding-top: 7px;
          vertical-align: top;
          text-align: center;
          display: inline-block;
          color: #d8d8d8;
        }

        .instrutora {
          margin-right: 15px;
          display: inline-block;
        }

        .instrutora .author {
          font-size: 1.25em;
        }

        .instrutora .author .name {
          font-weight: 600;
        }

        .instrutora .author .title {
          font-weight: 400;
          font-size: 0.8em;
        }


        .instrutora .text {

        }

        .instrutora .picture {
          margin-bottom: 10px;
        }

        @media only screen and (max-width: 768px) {

          .course-card {

            padding-right: 10px;
            padding-left: 10px;

          }

        }

      </style>

      <!--
      <div class="bar-sections orange" style="width: 100%;">
        <div class="bar-section active">ECONOMIA</div>
        <div class="bar-section">INGLÊS</div>
        <div class="bar-section">FILOSOFIA</div>
      </div>
      -->

      <!--
      <swiper onTransitionStart="onTransitionStart" dynamicBullets="true" effect="slide" on-transition-start="onTransitionStart" slidesPerView="1" slidesPerGroup="1">

        <slides>
          <slide ng-repeat="x in forumPosts">
            <div class="card" style="vertical-align: top; border-radius: 5px; background-color: #fff; padding: 10px; box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);">
              <div style="color: #000; word-wrap: break-word; white-space: normal;">
                <div style="font-weight: 600; font-size: 0.8em;"><b>{{x.title}}</b></div>
                <div style="font-weight: 500; font-size: 0.8em;"><b>Roberto Campos</b></div>
                <div style="padding-bottom: 10px;"></div>
                <div style="width: 100%; font-size: 0.8em;">A sociedade humana sempre foi uma "sociedade da informação", desde quando o Pitecantropo ancestral começou a comunicar-se articuladamente com os outros.</div>
              </div>
            </div>
          </slide>
        </slides>

        <pagination></pagination>

      </swiper>
      -->

      <!-- sections -->

      <!-- <div class="headline-container">Explorar universidades</div> -->

      <div class="section-cards section-cards-loading" ng-hide="courses.length > 0">

        <a ng-hide="universities.length > 0" ng-repeat="n in [1,2,3,4,5]">
          <div class="card hvr-hang">

            <div class="picture area"></div>

            <div class="title"></div>
            <div class="description"></div>

          </div>
          <!-- end card -->
        </a>

      </div>

  </div>

</div>
<!-- container-fluid container-full -->
