<div ng-include="'partials/headerhome.html'"></div>

<style>

.section-cards .card .description {
  height: unset !important;
  max-height: 125px;
}

</style>

<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 30px;">

  <div class="row">

    <div class="col-xs-12" style="padding-left: 20px; padding-right: 20px;">

      <div class="headline-container" style="text-align: left">Explore as comunidades educacionais</div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom: 15px; padding-left: 20px; padding-right: 20px;" ng-if="k.universities.length > 0" ng-repeat="k in knowledges | orderBy: '-universities.length'">

          <div class="headline-container">{{k.title}}</div>

          <div class="section-cards" style="padding-bottom: 0px !important;">

            <homeuniversitynewcard uid={{university.universityId}} ng-repeat="university in k.universities"></homeuniversitynewcard>

          </div>
          <!-- end section-cards -->

    </div>
    <!-- end col-sm-8 -->

  </div>
  <!-- end row -->

  <!--
  <div class="section-footer">

    <div class="section-footer-title" style="width: 125px;"><b>Conhecimentos</b></div>

    <div class="section-sections" style="padding-left: 125px;">
      <div ng-repeat="k in knowledges"><a href="/home/c/{{k.url}}">{{k.title}}</a></div>
    </div>

  </div>
  -->
  <!-- end news-footer -->

</div>
<!-- container-fluid container-full -->
