<div ng-include="'partials/headerhome.html'"></div>

<style>

  .section-cards {
   scrollbar-width: none;
  }

  .section-cards::-webkit-scrollbar {
    display: none;
  }

  .section-cards {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .navbar-slider {
      display: none;
    }
    .navbar-top-first {
      margin-bottom: 2px;
    }
    .container-home {
      padding-top: 43px !important;
    }
    .section-content-col {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

</style>

<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 30px;">

  <div ng-show="actionMenuDisplay" style="border-top-left-radius: 15px; border-top-right-radius: 15px; -webkit-box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.15); position: fixed; background-color: #fff; bottom: 55px; left: 0px; right: 0px; height: 250px; z-index: 999999999;">ALo</div>

  <!-- Welcome -->
  <div class="row">

    <div class="col-sm-2 col-md-2 section-menu-col">

      <!--
      <div ng-show="logged" class="section-menu-title">Universidades</div>

      <div ng-show="logged" class="section-menu">
        <timelinemenuuniversity uid="{{u.universityId}}" ng-if="u.unsubscribed == false" ng-repeat="u in user.universitiesSubscribed"></timelinemenuuniversity>
        <div ng-if="user.universitiesSubscribed.length == 0" class="option">Você não esta registrado em nenhuma Universidade</div>
      </div>
      -->

    </div>
    <!-- col-sm-8 -->

    <style>
      .knowledge-home-title {
        font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px; color: #ccc;
      }
      .knowledge-home-title:hover {
        color: #000;
        cursor: pointer;
      }
    </style>

    <div class="col-xs-12 col-sm-10 col-md-10 section-content-col">

      <div style="height: 10px"></div>

      <div class="section-cards" style="padding-left: 15px; padding-right: 15px; padding-bottom: 0px;">
        <div style="font-size: 1.2em; font-weight: bold; display: inline-block; margin-right: 10px; color: #000;">Popular</div>
        <div class="knowledge-home-title" ng-repeat="knowledge in knowledges">{{knowledge.title}}</div>
      </div>

      <div style="height: 0px"></div>

      <div class="section-cards" style="padding-bottom: unset; margin-top: 5px; padding-left: 15px;">

        <!-- 5db3e7e9225728001769dc5f -->

        <homeuniversitynewcard uid="5db3e7e9225728001769dc5f"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5e8c426355d961001762ffa9"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5d8bc148098677001707d027"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db4e63ad65a7c0017ca0bc0"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db682a5f820b300179311d3"></homeuniversitynewcard>

        <homeuniversitynewcard uid="5db50a9ad65a7c0017ca0bc2"></homeuniversitynewcard>

      </div>

      <div class="animated flipInX delay-5s slower" style="height: 52px; background-color: #e8e8e8; padding-left: 15px; position: relative; margin-bottom: 5px;">

        <div style="position: absolute; right: 15px; top: 17px;"><i class="fas fa-chevron-right"></i></div>
        <div style="font-weight: bold; letter-spacing: -0.5px; color: #2d4255; font-size: 1.6em; line-height: 1.1em; padding-top: 6px;">Novo na Universidade?</div>
        <div style="font-size: 0.9em; font-weight: bold;">Registre para começar a aprender e ensinar</div>

      </div>

      <!-- end sections-cards --> <!--
      <div style="height: 10px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div ng-repeat="x in ['Investments', 'SaaS', 'Venture Capital', 'Valuation', 'Philosophy', 'Math', 'History', 'Start-up', 'Computer Science']" style="font-size: 0.9em; margin-bottom: 5px; margin-right: 5px; display: inline-block; background-color: #cdcdcd; border-radius: 4px; padding-left: 5px; padding-right: 5px; font-weight: 400;">{{x}}</div>
      </div>-->
      <!-- -->

      <div style="height: 7px"></div>

      <div class="section-cards" style="margin-left: 15px; padding-right: 15px; overflow-x: scroll; overflow-y: hidden; height: 70px; white-space: nowrap; ">

        <style>

          .knowledge-circle {
            display: inline-block; margin-right: 10px; text-align: center; cursor: pointer;
          }

        </style>

        <div class="knowledge-circle">
          <img src="https://image.flaticon.com/icons/svg/346/346040.svg" height="35px" style="margin-bottom: 10px" />
          <div style="font-size: 0.9em; font-weight: bold; color: #2d4255;">Matemática</div>
        </div>

        <div class="knowledge-circle">
          <img src="https://image.flaticon.com/icons/svg/1795/1795606.svg" height="35px" style="margin-bottom: 10px" />
          <div style="font-size: 0.9em; font-weight: bold; color: #2d4255;">Português</div>
        </div>

        <a href='/home/c/esportes/'>
        <div class="knowledge-circle">

            <img src="https://image.flaticon.com/icons/svg/502/502128.svg" height="35px" style="margin-bottom: 10px" />
            <div style="font-size: 0.9em; font-weight: bold; color: #2d4255;">Esportes</div>
          </a>
        </div>
        </a>

        <div class="knowledge-circle">
          <img src="https://image.flaticon.com/icons/svg/1087/1087532.svg" height="35px" style="margin-bottom: 10px" />
          <div style="font-size: 0.9em; font-weight: bold; color: #2d4255;">Biologia</div>
        </div>

        <div class="knowledge-circle">
          <img src="https://image.flaticon.com/icons/svg/644/644438.svg" height="35px" style="margin-bottom: 10px" />
          <div style="font-size: 0.9em; font-weight: bold; color: #2d4255;">Programação</div>
        </div>

    </div>

      <div style="padding-left: 15px; padding-right: 15px;">
        <div class="bar-sections standard animated delay-1s" style="width: 100%;">
          <div class="bar-section">CURSOS</div>
          <div class="bar-section">AULAS</div>
          <div class="bar-section active" style="color: #ee5748;">TRILHAS</div>
        </div>
      </div>

      <div class="section-cards" style="padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">

        <div class="card card-article-large" style="padding: 10px; height: 170px; word-wrap: break-word; white-space: initial; border-radius: 5px; display: inline-block; box-shadow: 0px 0px 3px 0px rgba(158,158,158,0.4);">
          <img height="35px" width="35px" style="margin-bottom: 15px;" src="https://image.flaticon.com/icons/svg/1149/1149168.svg" />
          <div style="font-size: 1em; font-weight: bold; color: #2d4255; width: 100%;">Introdução a programação</div>
        </div>
        <!-- end card -->

        <div class="card card-article-large" style="padding: 10px; height: 170px; word-wrap: break-word; white-space: initial; border-radius: 5px; display: inline-block; box-shadow: 0px 0px 3px 0px rgba(158,158,158,0.4);">
          <img height="35px" width="35px" style="margin-bottom: 15px;" src="https://image.flaticon.com/icons/svg/2234/2234697.svg" />
          <div style="font-size: 1em; font-weight: bold; color: #2d4255; width: 100%;">História</div>
        </div>
        <!-- end card -->

        <div class="card card-article-large" style="padding: 10px; height: 170px; word-wrap: break-word; white-space: initial; border-radius: 5px; display: inline-block; box-shadow: 0px 0px 3px 0px rgba(158,158,158,0.4);">
          <img height="35px" width="35px" style="margin-bottom: 15px;" src="https://image.flaticon.com/icons/svg/547/547612.svg" />
          <div style="font-size: 1em; font-weight: bold; color: #2d4255; width: 100%;">Counseling</div>
        </div>
        <!-- end card -->

      </div>
      <!-- end section-cards -->

      <div style="height: 15px"></div>

      <div style="padding-left: 15px; padding-right: 15px;">

        <coursehomebox c="{{course._id}}" ng-repeat="course in courses"></coursehomebox>

      </div>
      <!-- end courses aulas trilhas tab -->

  </div>
  <!-- end row -->

  <div class="col-xs-12" style="margin-top: 30px; border-top: 1px solid #2d425524; padding-top: 35px; padding-bottom: 20px; line-height: 25px; font-size: 0.95em;">

    <div class="col-xs-4">
      <div style="color: #2d4255; display: inline-block; padding-right: 10px;">© 2020 Universidade</div>
      <div style="display: inline-block;"><a>Ajuda</a></div>
    </div>

    <div class="col-xs-4" style="text-align: center;">
      <img height="25px" src="https://storage.googleapis.com/educationalcommunity/pt/img/universidade_icon.png" />
    </div>

    <div class="col-xs-4" style="text-align: right;">
      <div style="display: inline-block; margin-right: 25px;"><a href="/ensinar">Para educadores</a></div>
      <div style="display: inline-block; margin-right: 25px;"><a href="#">Para estudantes</a></div>
    </div>

  </div>

</div>
<!-- container-fluid container-full -->

<footermobile></footermobile>

<style>
  .swiper-container {
    padding: 3px;
    padding-bottom: 40px;
  }

  .swiper-slide {
    text-align: left;
  }

  .knowledge-card {
    border-radius: 5px;
    width: 45%;
    box-shadow: 0px 0px 3px 0px rgba(97,97,97,0.15);
    width: calc(100% / 4);
  }

  .knowledge-card .knowledge-card-image {
    height: 70px; background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .knowledge-card .title {
    height: 45px;
    padding: 10px;
    font-weight: bold;
  }

  .section-cards {
    padding-bottom: 10px;
  }

  .section-cards::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  .section-cards::-webkit-scrollbar-thumb {
      background: transparent;
  }

  @media only screen and (min-width: 780px) {

    .swiper-slide {
      width: 50% !important;
    }

  }

  .bar-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 0.95em;
  }

  .bar-sections .bar-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-size: 0.95em;
  }

  .bar-sections.standard {
    box-shadow: 0px 2px 4px 0px rgba(97,97,97,0.15);
    padding: 10px;
  }

  .bar-sections .bar-section.active {
    color: #000;
  }

  .bar-sections .bar-section.active {
    border-radius: 10px;
    font-weight: bold;
  }

  .bar-sections .bar-section {
    color: #2d4255b8;
  }

  .bar-sections.orange .bar-section.active {
    background-color: #ef62543b;
    border-radius: 10px;
    color: #ee5748;
    font-weight: bold;
  }

}

</style>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    overflow: auto;
    height: 250px;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

  @media screen and (max-width: 860px) {

    .course-box {
      height: 190px;
    }

  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 39px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    width: 35px;
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

  }

</style>
