<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 150px;">

  <div class="row" style="margin-bottom: 30px;">

    <div class="col-xs-12">

      <div class="logo" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">

        <a href="/"><img height="30px" src="/img/universidade_logo.png" /></a>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

  </div>
  <!-- END ROW -->

  <div class="row" style="padding-left: 5%; padding-right: 5%">

    <div class="col-xs-12 col-sm-6">

      <div class="bigbox-action signup">
        <div class="title">{{'BIG_BOX_SIGNUP_TITLE' | translate}}</div>
        <p>{{'BIG_BOX_SIGNUP_SUBTITLE' | translate}}</p>
        <div class="button" ng-click="signup()">{{'BIG_BOX_SIGNUP_BUTTON' | translate}}</div>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6">

      <div class="bigbox-action login">
        <div class="title">{{'BIG_BOX_LOGIN_TITLE' | translate}}</div>
        <p>{{'BIG_BOX_LOGIN_SUBTITLE' | translate}}</p>
        <div class="button" ng-click="login()">{{'BIG_BOX_LOGIN_BUTTON' | translate}}</div>
      </div>

    </div>

  </div>
  <!-- END -->

  <!-- -->
  <div class="row" id="rowlog">

    <div class="col-xs-12">
      <img height="30px" src="/img/universidade_icon.png" />
    </div>

  </div>
  <!-- -->

  <div class="row" id="whatis">

    <div class="col-xs-12" style="margin-bottom: 10px;">
      <div class="whatsis-title">{{'WHAT_IS_TITLE' | translate}}</div>
      <p class="whatsis-description">{{'WHAT_IS_DESCRIPTION' | translate}}</p>
    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg" /><b>{{'FEATURE_TITLE_1' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_1' | translate}}</div>

    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://visualpharm.com/assets/311/Graduation%20Cap-595b40b65ba036ed117d2d97.svg" /><b>{{'FEATURE_TITLE_2' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_2' | translate}}</div>

    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://image.flaticon.com/icons/svg/745/745205.svg" /><b>{{'FEATURE_TITLE_3' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_3' | translate}}</div>

    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://welove.holdings/img/virtualrealityicon.png" /><b>{{'FEATURE_TITLE_4' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_4' | translate}}</div>

    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://image.flaticon.com/icons/svg/3048/3048415.svg" /><b>{{'FEATURE_TITLE_5' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_5' | translate}}</div>

    </div>

    <div class="col-xs-12 col-sm-6 features">

      <div class="feature-title">
        <img src="https://image.flaticon.com/icons/svg/3039/3039381.svg" /><b>{{'FEATURE_TITLE_6' | translate}}</b>
      </div>

      <div class="feature-description">{{'FEATURE_DESCRIPTION_6' | translate}}</div>

    </div>

  </div>
  <!-- END ROW -->

</div>
<!-- -->

<style>

  .whatsis-title {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .whatsis-description {

  }

  #rowlog {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
  }

  #whatis {
    padding-left: 20%;
    padding-right: 20%;
  }

  .bigbox-action {
    min-height: 300px;
    padding: 30px;
  }

  .bigbox-action .title {
    font-weight: bold;
    line-height: 1.15em;
    font-size: 1.5em;
    padding-bottom: 15px;
    min-height: 130px;
  }

  .bigbox-action p {
    margin-bottom: 25px;
    min-height: 90px;
  }

  .bigbox-action .button {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }

  .bigbox-action.signup .button {
    color: #314354;
    border: 1px solid #dedede;
  }

  .bigbox-action.signup .button {
    color: #314354;
    background-color: #fff;
  }

  .bigbox-action.signup .button:hover {
    background-color: #dedede;
  }

  .bigbox-action.signup {

  }

  .bigbox-action.login {
    background-color: #314354;
    color: #fff;
  }

  .bigbox-action.login .button {
    background-color: #fff;
    color: #314354;
  }

  .features {
    margin-bottom: 15px;
  }

  .feature-title  {
    line-height: 25px;
    padding-bottom: 5px;
  }

  .feature-title img {
    height: 25px;
    padding-right: 10px;
  }

</style>
