<div ng-include="'partials/headerhome.html'"></div>

<div class="col-md-12 container-fluid container-full margin-top-2">
  <div class="col-md-3 universidade-blue-text-color">
    <a href="/wallet/dashboard" style="text-decoration: none;"><div class="dash-option pointer">{{'DASHBOARD' | translate}}</div></a>
    <a href="/wallet/virtual_card/index" style="text-decoration: none;"><div class="dash-option pointer">{{'WALLET' | translate}}</div></a>
    <a href="/wallet/payments" style="text-decoration: none;"><div class="dash-selected pointer">{{'PAYMENT_METHODS' | translate}}</div></a>
    <a href="/wallet/transaction/history" style="text-decoration: none;"><div class="dash-option pointer">{{'TRANSACTIONS' | translate}}</div></a>
  </div>
  <div class="col-md-9">
    <div class="margin-bottom-5 payment-title">
      <p class="universidade-blue-text-color bold title">{{'PAYMENT_METHODS' | translate}}</p>
      <i class="fa fa-chevron-right gray-text"></i>
      <span class="gray-text">{{'ADD_PAYMENT_METHOD' | translate}}</span>
    </div>

    <!--PAYMENT METHODS CONTAINER--->
    <div class="col-md-12 container-border-gray" id="payment-methods-container">

      <!--ERROR MESSAGE-->
      <div class="alert bg-primary-red" ng-show="hasError">{{errorMessage | translate}}</div>

      <!--BANK OR CREDIT CONTAINER-->
      <div class="left-right-around">
        <div
          ng-class="{'user-details pointer': showCreditCardForm, 'user-details-selected pointer': showBankAccountForm }"
          style="display: flex;align-items: center; padding: 16px 24px; text-align: left;"
          ng-click="displayBankAccountForm()"
        >
          <div class="payment-method-icon" style="margin-right: 16px;">
            <i class="fa fa-university" style="font-size: 2em;"></i>
          </div>
          <div>
            <p class="universidade-blue-text-color" style="margin: 0 !important;">{{'BANK_ACCOUNT' | translate}}</p>
            <p class="light-gray-text">{{'YOUR_PERSONAL_BANK_ACCOUNT' | translate}}</p>
          </div>
        </div>

        <div
          ng-class="{'user-details pointer': showBankAccountForm, 'user-details-selected pointer': showCreditCardForm }"
          style="display: flex;align-items: center; padding: 16px 24px; text-align: left;"
          ng-click="displayCreditCardForm()"
        >
          <div class="payment-method-icon" style="margin-right: 16px;">
            <i class="fa fa-credit-card" style="font-size: 2em;"></i>
          </div>
          <div>
            <p class="universidade-blue-text-color" style="margin: 0 !important;">{{'CREDIT_CARD' | translate}}</p>
            <p class="light-gray-text">{{'CREDIT_CARD_SUBTITLE' | translate}}</p>
          </div>
        </div>
      </div>
      <!--END OF BANK OR CREDIT CONTAINER-->


      <!--BANK ACCOUNT FORM-->
      <div ng-if="showBankAccountForm">
        <div class="col-md-12 col-xs-12" style="display: grid;">

            <div class="p2p-payment-container">
              <span class="universidade-blue-text-color dash-subtitle">{{'ENTER_THE_FOLLOWING_INFO'| translate}}</span>

              <div class="form" id="request-form">
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <input class="form-control" style="height: 45px !important;" type="number" placeholder="{{'ACCOUNT_NUMBER' | translate}}" ng-model="cardData.accountNumber" maxlength=12>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <input class="form-control" style="height: 45px !important;" type="text" placeholder="{{'CARDHOLDERS_NAME' | translate}}" ng-model="cardData.cardholderName" maxlength=36>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <!--input type="text" placeholder="{{'ACCOUNT_HOLDER_TYPE' | translate}}" ng-model="cardData.accountHolderType"-->
                    <select ng-model="cardData.accountHolderType" class="form-control" style="height: 45px !important;">
                       <option value="" disabled selected>{{'ACCOUNT_HOLDER_TYPE' | translate}}</option>
                       <option value="individual">Individual</option>
                       <option value="company">Company</option>
                   </select>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <input class="form-control" style="height: 45px !important;" type="number" placeholder="{{'ROUTING_NUMBER' | translate}}" ng-model="cardData.routingNumber" maxlength=9>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <!--div class="form-group">
                    <input type="text" placeholder="{{'COUNTRY' | translate}}" ng-model="cardData.country">
                  </div-->
                  <div class="form-group">
                    <select ng-model="cardData.country" class="form-control" style="height: 45px !important;">
                     <option value="" disabled selected>{{'COUNTRY' | translate}}</option>
                     <option ng-repeat="country in countries" value="{{country}}" ng-selected="">{{country}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <!--div class="form-group">
                    <input type="text" placeholder="{{'CURRENCY_TEXT' | translate}}" ng-model="cardData.currency">
                  </div-->
                  <div class="form-group">
                    <select ng-model="cardData.currency" class="form-control" style="height: 45px !important;">
                     <option value="" disabled selected>{{'CURRENCY_TEXT' | translate}}</option>
                     <option ng-repeat="currency in currencies" value="{{currency}}" ng-selected="">{{currency}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--END OF BANK ACCOUNT FORM-->

      <!--CREDIT CARD FORM-->
      <div ng-if="showCreditCardForm">
        <div class="col-md-12 col-xs-12" style="display: grid;">
            <div class="p2p-payment-container">
              <span class="universidade-blue-text-color dash-subtitle">{{'ENTER_THE_FOLLOWING_INFO'| translate}}</span>

              <div class="form" id="request-form">
                <div class="col-md-12 col-xs-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      style="height: 45px !important;"
                      type="text"
                      placeholder="{{'CARDHOLDERS_NAME' | translate}}"
                      ng-model="cardData.cardholderName"
                      maxlength=36
                    >
                  </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      style="height: 45px !important;"
                      type="number"
                      placeholder="{{'CARD_NUMBER' | translate}}"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      ng-model="cardData.number"
                      maxlength=16
                    >
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="form-group" style="display: flex;">
                    <input
                      class="form-control"
                      style="height: 45px !important;"
                      type="number"
                      placeholder="{{'MONTH' | translate}}"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      ng-change="validateExpiryMonth()"
                      ng-model="cardData.expiryMonth"
                      min="0"
                      maxlength=2
                    >
                    <input
                      class="form-control"
                      style="height: 45px !important;"
                      type="number"
                      placeholder="{{'YEAR' | translate}}"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      ng-model="cardData.expiryYear"
                      min="20"
                      maxlength=2
                    >
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      style="height: 45px !important;"
                      type="number"
                      placeholder="cvc"
                      ng-model="cardData.cvc"
                      maxlength=3
                    >
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--END OF CREDIT CARD FORM-->

    </div>

    <div class='col-md-12'>
      <div class="button-container-right" style="margin-top: 1em;">
        <button class="btn btn-secondary universidade-blue-text-color width25" style="margin-right: 12px;">{{'SAVE_FOR_LATER' | translate}}</button>
        <button class="btn btn-blue width25 bold" ng-click="performAddPaymentMethodOperation()">{{'REQUEST_CARD' | translate}}</button>
      </div>
    </div>
  </div>
</div>
