<div ng-include="'partials/headerhome.html'"></div>
<style>
  tr .spnTooltip {
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:-30px;
    margin-left:28px;
    width:300px;
    line-height:16px;
  }
  tr:hover .spnTooltip{
      display:inline;
      position:absolute;
      color: #7e7b7b;
      border:1px solid #17a2b8;
      border-radius: 5px;
      background-color: #f3f3f3;
  }
  .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
</style>

<div class="col-md-8 col-md-offset-2 container-fluid container-full margin-top-1" id="content-mobile">
    <div class="header-profile">
      <div>
        <div class="picture" ng-if="user.imageUrl == undefined" style="background-image: url('img/user/user.png'); background-size: cover; height: 40px; width: 40px; margin-right: 8px;"></div>
        <div class="picture" ng-if="user.imageUrl != undefined" style="background-image: url('{{user.imageUrl}}'); background-size: cover; height: 40px; width: 40px; margin-right: 8px;"></div>
      </div>
      <div style="display: grid;">
        <span class="wallet-name">{{user.name}}</span>
        <span class="wallet-method">{{'ADD_FUNDS' | translate}}</span>
      </div>
    </div>

    <div class="center" syle="margin-top: 40px;">
      <span>{{'WALLET_BALANCE_ALL_CAPS'| translate}}</span>
      <h2>${{balance}}</h2>
    </div>

    <div class="dash-mobile-container">
      <span class="method-title">{{'BALANCE' | translate}}</span>
      <div class="price-options-container">
        <div class="price-option" ng-click="selectPrice(10)">
          <span class="method-title">{{'TOP_UP' | translate}}</span>
          <span class="method-subtitle">{{'ADD_BALANCE' | translate}}</span>
        </div>
        <div class="price-option" ng-click="selectPrice(50)">
          <span class="method-title">{{'WITHDRAW' | translate}}</span>
          <span class="method-subtitle">{{'GET_FUNDS' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="dash-mobile-container">
      <span class="method-title">{{'TRANSFER' | translate}}</span>
      <div class="price-options-container">
        <div class="price-option" ng-click="selectPrice(10)">
          <span class="method-title">{{'P2P' | translate}}</span>
          <span>{{'INSIDE_PLATFROM' | translate}}</span>
        </div>
        <div class="price-option" ng-click="selectPrice(50)">
          <span class="method-title">{{'DASH_PAYMENT' | translate}}</span>
          <span class="method-subtitle">{{'PAY_VIA_QR_CODE' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="dash-mobile-container">
      <span class="method-title">{{'CARDS' | translate}}</span>
      <div class="price-options-container">
        <div class="price-option" ng-click="selectPrice(10)">
          <span class="method-title">{{'DEBIT' | translate}}</span>
          <span class="method-subtitle">{{'VIRTUAL_CARD' | translate}}</span>
        </div>
        <div class="price-option" ng-click="selectPrice(50)">
          <span class="method-title">{{'CREDIT' | translate}}</span>
          <span class="method-subtitle">{{'APPLY_NOW' | translate}}</span>
        </div>
      </div>
    </div>

</div>

<div class="col-md-12 container-fluid container-full margin-top-2" id="content-desktop">
  <div class="col-md-3 universidade-blue-text-color">
    <a href="/wallet/dashboard" style="text-decoration: none;">
      <div class="dash-selected pointer">{{'DASHBOARD' | translate}}</div>
    </a>
    <a href="/wallet/virtual_card/index" style="text-decoration: none;">
      <div class="dash-option pointer">{{'WALLET' | translate}}</div>
    </a>
    <a href="/wallet/payments" style="text-decoration: none;">
      <div class="dash-option pointer">{{'PAYMENT_METHODS' | translate}}</div>
    </a>
    <a href="/wallet/transaction/history" style="text-decoration: none;">
      <div class="dash-option pointer">{{'TRANSACTIONS' | translate}}</div>
    </a>
  </div>

  <div class="col-md-9">
    <div class="universidade-blue-text-color bold title margin-bottom-5">{{'DASHBOARD' | translate}}</div>

    <div class="col-md-12 dash-container">

      <!--WALLET BALANCE AND CARDS--->
      <div class="col-md-5 wallet-balance-container container-border-gray">
        <div class="margin-bottom-1 left-right">
          <span>{{'WALLET_BALANCE'| translate}}</span>
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <span class="title bold universidade-green-color margin-bottom-1">${{balance | number: 2 }}</span>
        <div class="button-container">
          <button class="btn btn-blue width48 bold" ng-click="openTopupModal()">{{'TOP_UP' | translate}}</button>
          <button class="btn btn-white universidade-blue-text-color width48" ng-click="openWithdrawModal()">{{'WITHDRAW' | translate}}</button>
        </div>
      </div>
      <div class="col-md-6 wallet-balance-container container-border-gray">
        <div class="margin-bottom-1 left-right">
          <span class="universidade-blue-text-color dash-subtitle">{{'VIRTUAL_CARD'| translate}}</span>
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <div class="cards-container">
          <div class="col-md-5 virtual-card"></div>
          <div class="col-md-5 add-card cursor" ng-click="gotoRequestCard()">
            <i class="fa fa-plus plus-icon"></i>
            <span>{{'WALLET_CARD_ADD' | translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <!--TRANSACTIONS LIST CONTAINER--->
    <div class="col-md-12">
      <div class="col-md-12 wallet-balance-container container-border-gray">
        <div class="left-right">
          <span class="universidade-blue-text-color dash-subtitle">{{'TRANSACTIONS'| translate}}</span>
          <!--div class="export-text" ng-if="transactions.length > 0">
            <i class="fa fa-download"></i>
            <span>{{'EXPORT_ALL_TRANSACTIONS' | translate}}</span>
          </div-->
        </div>

        <!-- SHOW LOADER WHILE FETCHING IS ONGOING -->
        <div ng-show="fetchingTransactions" class="loading-gif">
            <img src="/img/loader.gif" height="50px" />
        </div>

        <!--TRANSACTION DATE SELECT-->
        <!--div class="form-group" style="width: 200px;" ng-if="transactions.length > 0">
          <select ng-model="transactionDate" style="padding: 0; color:red; font-size: .8em;">
            <option value="0" ng-selected="true">December 1, 2020</option>
            <option value="10">December 2, 2020</option>
            <option value="50">December 3, 2020</option>
            <option value="99">December 4, 2020</option>
          </select>
        </div-->

        <!--TRANSACTIONS LIST CONTAINER--->
        <div ng-if="transactions.length > 0">
          <table style="width:100%">

            <tr style="background-color: #f3f3f3; color: #7e7b7b;">
              <th>{{'DATE' | translate}}</th>
              <th>{{'DESCRIPTION' | translate}}</th>
              <th>{{'AMOUNT' | translate}}</th>
              <th>{{'ID' | translate}}</th>
            </tr>

            <tr class="transactions-data pointer" ng-repeat="transaction in transactions" ng-click="repeatTransaction(transaction)">
              <td>{{transaction._id.getTimestamp()}}</td>
              <td>{{transaction.type}}: {{transaction.description}}</td>
              <td ng-show="transaction.type=='ADD'" class="universidade-green-color">+${{transaction.amount}}</td>
              <td ng-show="transaction.type!='ADD'" class="universidade-red-color">
                -${{transaction.amount}} <span ng-if="transaction.type=='TRANSFER'" class="spnTooltip">{{'CLICK_TO_REPEAT_TRANSACTION' | translate}}</span>
              </td>
              <td>{{transaction._id}}</td>
            </tr>

          </table>
        </div>

        <!-- EMPTY TRANSACTIONS -->
        <div ng-if="transactions.length == 0">
          <p class="gray-text">{{'NO_TRANSACTIONS_TO_DISPLAY' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
