<div ng-include="'partials/headerhome.html'"></div>

<style>
  .header-profile {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  .wallet-name {
    font-weight: bold;
  }
  .wallet-method {
    color: #7e7b7b;
  }
  .price-options-container {
    display: flex;
    justify-content: space-around;
  }
  .price-option {
    min-width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 4px solid aquamarine;
    border-radius: 8px;
  }
  .center {
    text-align: center;
    margin-bottom: 36px;
  }
  .add-div {
    border: 8px solid aquamarine;
    border-radius: 50px;
    width: 96px;
    margin: auto;
  }
  .add-fund-plus {
    font-size: 48px;
    color: aquamarine;
  }
  .add-fund-text {
    font-size: 28px;
    color: aquamarine;
  }
  .cursor {
    cursor: pointer;
  }

</style>

<div class="col-md-8 col-md-offset-2 container-fluid container-full">
    <div class="header-profile">
      <div>
        <div class="picture" ng-if="user.imageUrl == undefined" style="background-image: url('img/user/user.png'); background-size: cover; height: 40px; width: 40px; margin-right: 8px;"></div>
        <div class="picture" ng-if="user.imageUrl != undefined" style="background-image: url('{{user.imageUrl}}'); background-size: cover; height: 40px; width: 40px; margin-right: 8px;"></div>
      </div>
      <div style="display: grid;">
        <span class="wallet-name">{{user.name}}</span>
        <span class="wallet-method">{{'ADD_FUNDS' | translate}}</span>
      </div>

    </div>

    <div class="center" syle="margin-top: 40px;">
      <h2>{{'TOP_UP_TITLE' | translate}}</h2>
    </div>

    <div class="center" style="position: relative;">
      <b>{{'CURRENCY' | translate}}</b>
      <input style="padding-left: 10px; display: inline-block;" ng-model="amount" type="number"/>
    </div>

    <div class="price-options-container">
      <div class="price-option" ng-click="selectPrice(10)">$10</div>
      <div class="price-option" ng-click="selectPrice(50)">$50</div>
      <div class="price-option" ng-click="selectPrice(100)">$100</div>
    </div>

    <div class="center" style="margin-top: 40px;">
      <span style="color: #7e7b7b;">{{'EWALLET_TOPUP_NEW_BALANCE' | translate}}</span>
    </div>

    <div class="center cursor">
      <div class="add-div">
        <p class="add-fund-plus">+</p>
      </div>
      <span class="add-fund-text">{{'FUND_YOUR_ACCOUNT' | translate}}</span>
    </div>
</div>
