<div ng-include="'partials/headerhome.html'"></div>

<div class="col-md-12 container-fluid container-full margin-top-2">
  <div class="col-md-3 universidade-blue-text-color">
    <a href="/wallet/dashboard" style="text-decoration: none;"><div class="dash-option pointer">{{'DASHBOARD' | translate}}</div></a>
    <a href="/wallet/virtual_card/index" style="text-decoration: none;"><div class="dash-option pointer">{{'WALLET' | translate}}</div></a>
    <a href="/wallet/payments" style="text-decoration: none;"><div class="dash-option pointer">{{'PAYMENT_METHODS' | translate}}</div></a>
    <a href="/wallet/transaction/history" style="text-decoration: none;"><div class="dash-selected pointer">{{'TRANSACTIONS' | translate}}</div></a>
  </div>
  <div class="col-md-9">
    <div class="universidade-blue-text-color bold title margin-bottom-5">{{'TRANSACTIONS' | translate}}</div>

    <!--TRANSACTIONS LIST CONTAINER--->
    <div class="col-md-12">
      <div class="col-md-12 wallet-balance-container container-border-gray">
        <div class="left-right">
          <span class="universidade-blue-text-color dash-subtitle">{{'TRANSACTIONS'| translate}}</span>
          <!--div class="export-text" ng-if="transactions.length > 0">
            <i class="fa fa-download"></i>
            <span>{{'EXPORT_ALL_TRANSACTIONS' | translate}}</span>
          </div-->
        </div>

        <!-- SHOW LOADER WHILE FETCHING IS ONGOING -->
        <div ng-show="fetchingTransactions" class="loading-gif">
            <img src="/img/loader.gif" height="50px" />
        </div>

        <!--TRANSACTION DATE SELECT-->
        <!--div class="form-group" style="width: 200px;" ng-if="transactions.length > 0">
          <select ng-model="transactionDate" style="padding: 0; color:red; font-size: .8em;">
            <option value="0" ng-selected="true">December 1, 2020</option>
            <option value="10">December 2, 2020</option>
            <option value="50">December 3, 2020</option>
            <option value="99">December 4, 2020</option>
          </select>
        </div-->

        <!--TRANSACTIONS LIST CONTAINER--->
        <div ng-if="transactions.length > 0">
          <table style="width:100%">

            <tr style="background-color: #f3f3f3; color: #7e7b7b;">
              <th>{{'DATE' | translate}}</th>
              <th>{{'DESCRIPTION' | translate}}</th>
              <th>{{'AMOUNT' | translate}}</th>
              <th>{{'ID' | translate}}</th>
            </tr>

            <tr class="transactions-data pointer" ng-repeat="transaction in transactions" ng-click="repeatTransaction(transaction)" ng-mouseover="Repeat transaction">
              <td>{{transaction._id.getTimestamp()}}</td>
              <td>{{transaction.type}}: {{transaction.description}}</td>
              <td ng-show="transaction.type=='ADD'" class="universidade-green-color">+${{transaction.amount}}</td>
              <td ng-show="transaction.type!='ADD'" class="universidade-red-color">-${{transaction.amount}}</td>
              <td>{{transaction._id}}</td>
            </tr>

          </table>
        </div>

        <!-- EMPTY TRANSACTIONS -->
        <div ng-if="transactions.length == 0">
          <p class="gray-text">{{'NO_TRANSACTIONS_TO_DISPLAY' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
