<div style="padding-top: 10px; padding-bottom: 10px; border-bottom: 0.5px solid #ececec;">
  <div style="width: 60px; display: inline-block; vertical-align: top; text-align: right;"><img style="border-radius: 50%; width: 50px; height: 50px;" src="https://storage.googleapis.com/educationalcommunity-upload/university-bg/alaskabg.webp" /></div>
  <div style="width: calc(100% - 66px); display: inline-block; padding-left: 10px; padding-right: 10px;">
    <div style="font-weight: 700; font-size: 1.05em; display: inline-block;">{{university.name}}</div> - <i style="color: #636363;">@{{university.url}}</i></br>
    <div style="max-height: 110px; overflow: hidden; color: #000; font-weight: 600; font-size: 1.05em; line-height: 1.7em; font-family: 'Noto Serif TC', serif; overflow-wrap: break-word;" ng-bind-html="forumPost.text"></div>
    <div style="padding-top: 5px; font-size: 1.05em; text-align: center; font-weight: 700; font-size: 1.06em;"><a href="#">CONTINUAR LENDO</a></div>
    <div style="margin-top: 10px; font-size: 1.2em; color: #717171;">
      <div style="width: 60px; text-align: left; padding-top: 5px; display: inline-block;"><i class="far fa-comment"></i> {{activity.comments.length}}</div>
      <div style="width: 60px; text-align: left; padding-top: 5px; display: inline-block;"><i class="fas fa-retweet"></i> {{activity.reshare.length}}</div>
      <div style="width: 60px; text-align: left; padding-top: 5px; display: inline-block;"><i class="far fa-lightbulb"></i> {{activity.like.length}}</div>
      <div style="width: 60px; text-align: left; padding-top: 5px; display: inline-block;"><i class="fas fa-share-alt"></i></div>
    </div>
  </div>
</div>
