<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">{{'DASH_PAYMENTS' | translate}}</a></li>
        <li><a href="/dashboard/payments/wallet">{{'DASH_WALLET' | translate}}</a></li>
      </ul>

      <!--
      <div class="dashboard-content-title">
        <h3>O </h3>
      </div>

      <div class="dashboard-infobox">

        <div class="line">

          <div class="info" style="float: right;">
            <div class="text" style="font-size: 0.9em;">Your default is used for 1-Click purchasing</div>
          </div>

          <div class="info">
            <div class="headline-sub-three">Address</div>
            <div class="text">Marcelo Pio Monteiro da Silva Filho</div>
          </div>

        </div>

        <div class="line">

          <div class="info" style="margin-right: 30px;">
            <div class="headline-sub-three">Name</div>
            <div class="text">Marcelo Pio Monteiro da Silva Filho</div>
          </div>

          <div class="info">
            <div class="headline-sub-three">Payment Method</div>
            <div class="text">Marcelo Pio Monteiro da Silva Filho</div>
          </div>

        </div>

      </div>
      -->

      <!-- default payment -->

      <div class="row" style="margin-top: 15px;">

        <div class="col-xs-12 col-sm-12 col-md-12">

          <div class="dashboard-content-title">
            <h3 style="display: inline-block;">{{'CREDIT_OR_DEBIT' | translate}}</h3>
          </div>

          <div class="dashboard-accordion" ng-repeat="card in cards">

            <div class="top">
              <b>{{card.brand}}</b>
            </div>
            <!-- end top -->

            <div class="content">
              <b>{{'CARDHOLDER' | translate}}:</b> {{card.name}}</br>
              <b>{{'LAST_4_DIGITS' | translate}}: </b> {{card.last4}}</br>
              <b>{{'EXPIRY' | translate}}:</b> {{card.exp_month}}/{{card.exp_year}}
            </div>
            <!-- end content -->

          </div>
          <!-- end dashboard-accordion -->

          <div style="margin-top: 15px; text-align: right;">
            <button ng-click="addCard()" style="width: 200px; display: inline-block;" class="btn btn-yellow">{{'ADD_CARD' | translate}}</button>
          </div>

        </div>
        <!-- end col-xs-12 col-sm-3 col-md-3 -->

      </div>
      <!-- end row -->

    </div>
    <!-- col-sm-9 -->

  </div>
  <!-- end row -->

</div>
