<div ng-include="'partials/headerhome.html'"></div>

<style>
    .course-box {
        box-shadow: 0px 0px 17px 0px rgba(130, 130, 130, 0.23);
        display: inline-block;
        border-radius: 5px;
        height: 240px;
        width: 100%;
        padding: 15px;
        cursor: pointer;
    }
    
    .course-box .title {
        font-size: 1.3em;
        font-weight: bold;
    }
</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 30px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="classroom-list-header">
                <div>
                    <div style="font-size: 2.0em; font-weight: bolder;">Cursos</div>
                </div>
                <div class="classroom-btn-view" ng-show="showButton">
                    <a href="/cursos/a/{{university._id}}/suite/owner" class="btn btn-green" style="height: unset;">
                        {{'COURSES_SUITE' | translate}}
                    </a>
                </div>
            </div>

            <div ng-show="courses.length == 0" style="margin-top: 30px;">
                Nenhum curso cadastrado
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 15px;" ng-repeat="course in courses">

                <a href="/cursos/id/{{course._id}}" style="color: unset;">
                    <div class="course-box">

                        <div class="title" style="margin-bottom: 10px; min-height: 145px; overflow-wrap: break-word;">{{course.title}}</div>
                </a>

                </div>
                <!-- -->

            </div>
            <!-- end col-xs-12 -->

        </div>
        <!-- end row -->
        <categorychat university={{university}} />
        <footermobile></footermobile>
    </div>
    <!-- container-full -->