<div ng-include="'partials/headerhome.html'"></div>

<style>
    .course-box {
        box-shadow: 0px 0px 17px 0px rgba(130, 130, 130, 0.23);
        display: inline-block;
        border-radius: 5px;
        height: 240px;
        width: 100%;
        padding: 15px;
        cursor: pointer;
    }
    
    .course-box .title {
        font-size: 1.3em;
        font-weight: bold;
    }
</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 academia-content" style="padding-top: 0px;">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="classroom-list-header">
                <div>
                    <div style="font-size: 2.0em; font-weight: bolder;">{{'COURSES' | translate}}</div>
                </div>
                <div class="classroom-btn-view" ng-show="showButton && university">
                    <a href="/{{'CURSOS' | translate}}/a/{{university._id}}/suite/owner" class="btn btn-green" style="height: unset;">
                        {{'COURSES_SUITE' | translate}}
                    </a>
                </div>
            </div>

            <div ng-show="courses.length == 0" style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
                <img src="/img/academy/empty_courses.png" width="300px" style="align-self: center">
                <span style="font-size: 30px; font-weight: 600; text-align: center; width: 300px; margin-top: 10px;">{{'CURSOS_EMPTY_TITLE' | translate}}</span>
                <span style="text-align: center; width:300px; margin-top: 10px;">{{'CURSOS_EMPTY_SUBTITLE' | translate}}</span>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 15px;" ng-if="course.active==true" ng-repeat="course in courses">

                <a href="/{{'CURSOS' | translate}}/id/{{course._id}}" style="color: unset;">
                    <div class="course-box">

                        <div class="title" style="margin-bottom: 10px; min-height: 145px; overflow-wrap: break-word;">{{course.title}}</div>
                </a>

                </div>

            </div>

        </div>
        <categorychat university={{university}} />
        <footermobile></footermobile>
    </div>