<div ng-include="'partials/headerhome.html'"></div>

<script type="text/javascript">
    // document.addEventListener("DOMContentLoaded", function(event) {
    var socket = io.connect("https://totemic-chimera-237707.appspot.com");

    var siofu = new SocketIOFileUpload(socket);
    var filesCount = 0;
    var progressCloud = 0;
    var progressPercent = 0;

    $("#upload_btn").click(() => {
        siofu = new SocketIOFileUpload(socket);
    });
    document.getElementById("upload_btn").addEventListener("click", siofu.prompt, false);

    // Do something on upload progress:
    siofu.addEventListener("progress", function(event) {
        var percent = event.bytesLoaded / event.file.size * 100;
        console.log("File is", percent.toFixed(2), "percent loaded");
        $("#file_drop").html("Upload: " + percent.toFixed(2) + "%");

        $("#gif").show();
        if (percent.toFixed(2) == 100) {
            $("#file_drop").html("<b>Iniciando o processamento da imagem</b>");
        }
    });

    socket.on("progressProgressing", function(a) {
        let progressPercent = a;
        $("#file_drop").html("<b>Processando o vídeo:</b> " + progressPercent.toFixed(2) + "%");
    });

    socket.on("status", function(a) {
        if (a == 1) {}
        if (a == 2) {
            $("#file_drop").html("<b>Upload completo!</b>");
        }
    });

    socket.on("files", function(a) {
        filesCount = a;
    });

    // Do something when a file is uploaded:
    siofu.addEventListener("complete", function(event) {
        console.log("Upload Finished")
        $("#gif").hide();
    });

    // Avatar image validation
    siofu.addEventListener("choose", event => {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];

        if ($.inArray(event.files[0].name.split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Please upload right image file");
            return false;
        }
    })

    socket.on("imagepath", function(a) {
        $("#file").attr("value", a);
        $(".profile-pic").attr("src", a);
    })
</script>

<style>
    .profile-pic {
        width: 210px;
        height: 210px;
        border: 0.5px solid #927d7d;
        margin-top: 50px;
    }
    
    .profile-name {
        margin-bottom: 10px;
        height: 30px;
        font-size: 16px;
    }
    
    .profile-pwd {
        margin-bottom: 10px;
        height: 30px !important;
        font-size: 16px;
    }
    
    .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    
    .navbar-slider-content {
        display: block !important;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(196, 196, 196, 0.34) !important;
        -moz-box-shadow: 0px 2px 3px 0px rgba(196, 196, 196, 0.34) !important;
        box-shadow: 0px 2px 3px 0px rgba(196, 196, 196, 0.34) !important;
    }
    
    .user-collections {
        white-space: none;
    }
    
    .user-collections .collection {
        box-shadow: 0px 0px 17px 0px rgba(130, 130, 130, 0.23);
        display: inline-block;
        border-radius: 4px;
        height: 90px;
        width: calc(50% - 20px);
        background-color: #fff;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: left;
        padding-top: 40px;
        padding-left: 11px;
        padding-bottom: 15px;
        position: relative;
    }
    
    .profile-manage-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .save-btn {
        border-radius: 2px;
        text-transform: uppercase;
        height: 44px;
        color: #fff;
        background-color: #2d4255;
        font-weight: 500;
        font-size: 0.8em;
        letter-spacing: 0.4px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        outline: none;
        cursor: pointer;
    }
    
    .profile-bio {
        height: 200px !important;
        font-size: 16px;
        margin-top: 0px !important;
    }
    
    .upload_btn {
        color: #fff;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 165px;
        height: 30px;
    }
    
    .loading-gif {
        position: absolute;
        align-items: center;
        top: 150px;
        display: none;
    }
    
    @media screen and (max-width: 768px) {
        .navbar-slider {
            display: none;
        }
        .navbar-top-first {
            margin-bottom: 2px;
        }
        .container-home {
            padding-top: 60px !important;
        }
        .profile-pic {
            width: 90px;
            height: 90px;
        }
        .study-progress {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 50%;
        }
    }
</style>

<div class="container-fluid container-full container-home" style="padding-bottom: 150px;">
    <div class="row">
        <div class="col-xs-12">
            <div style="font-size: 2.0em; font-weight: bolder;">{{'EDIT_PROFILE' | translate}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
            <img class="profile-pic" ng-if="student.imageUrl != undefined" src="{{student.imageUrl}}"></img>
            <img class="profile-pic" ng-if="student.imageUrl == undefined" style="background-image: url('http://virtual-strategy.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png')"></img>
            <img id="gif" src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" class="loading-gif" width="20" height="20" /></img>
            <input type="hidden" id="file" ng-model="file">
            <button class="btn bg-base upload_btn" id="upload_btn">{{'SELECT_PHOTO' | translate}}</button>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 ">
            <div class="profile-manage-wrapper ">

                <div style="padding-bottom: 5px;"><b>{{'NOME' | translate}}</b></div>
                <input ng-model="name" placeholder="{{'ENTER_NAME_HERE' | translate}}" type="text" class="profile-name">

                <br>
                <div style="padding-bottom: 5px;"><b>{{'SENHA' | translate}}</b></div>
                <input ng-model="pwd" placeholder="{{'TYPE_NEW_PASSWORD_HERE' | translate}}" type="password" class="profile-pwd">
                <input ng-model="rpwd" placeholder="{{'RETYPE_NEW_PASSWORD' | translate}}" type="password" class="profile-pwd">

                <br>
                <div style="padding-bottom: 5px;"><b>{{'BIO' | translate}}</b></div>
                <textarea ng-model="bio" placeholder="{{'WRITE_YOUR_BIO' | translate}}" class="profile-bio"></textarea>

            </div>
        </div>
    </div>

    <div style="margin-top: 50px; ">
        <button class="btn save-btn" ng-click="save(croppedDataUrl) ">{{'SAVE_PROFILE' | translate}}</button>
    </div>

    <!-- <div class="row " style="margin-top: 10px; margin-bottom: 10px; ">
        <div class="col-xs-4 " style="text-align: center; padding-left: 5px; padding-right: 5px; ">
            <b style="font-size: 1.2em; ">434</b>
            <div style="color: #8e8e8e; font-size:0.9em; font-weight: 600; text-align: center; ">Curadorias</div>
        </div>

        <div class="col-xs-4 " style="text-align: center; padding-left: 5px; padding-right: 5px; ">
            <b style="font-size: 1.2em; ">521</b></br>
            <div style="color: #8e8e8e; font-size:0.9em; font-weight: 600; ">Trilhas</div>
        </div>

        <div class="col-xs-4 " style="text-align: center; padding-left: 5px; padding-right: 5px; ">
            <b style="font-size: 1.2em; ">943</b></br>
            <div style="color: #8e8e8e; font-size:0.9em; font-weight: 600; ">Seguidores</div>
        </div>
    </div> -->

</div>

<footermobile></footermobile>