<div ng-controller="HeaderCtrl">

  <style>

    @media only screen and (min-width: 720px) {

      body {
        padding-top: 65px;
      }

      nav .navbar-top .menu-right .options > div {
        font-size: 1.3em;
        padding-top: 2px;
      }

    }

    nav .navbar-top .brand img {
      max-width: 255px;
    }

    nav .navbar-top .menu-right {
      float: right;
      padding-top: 13px;
      width: unset;
    }

    @media only screen and (max-width: 768px) {

      nav .navbar-top .menu-right .options > div {
        font-size: 1em;
        padding-top: 5px;
      }

      .navbar-top {
        height: 50px;
      }

      nav .navbar-top .menu-right {
        width: unset;
      }

    }

  </style>

  <nav>

    <div class="navbar-top" style="padding-left: 10px;">

        <div class="brand">
          <img id="logo" src="img/logo/universidade.png" />
          <img id="logoIcon" src="img/logo/universidade.png" />
          <span><i class="fas fa-angle-down"></i></span>
        </div>

        <div class="menu-right">

          <div class="options mobile-show" style="padding: 0; display: none">
            <button ng-hide="logged" ng-click="login()" class="btn btn-blue" style="margin-top: 2px; height: 29px;">Entrar</button>
          </div>

          <div class="options">

            <div ng-hide="logged" ng-click="login()">Login</div>

            <div ng-hide="logged" ng-click="signup()">Registrar</div>

            <div id="profileMenu" ng-show="logged" class="profile">
              <span><i class="fas fa-user-circle" style="padding-right: 2px;"></i></span> {{user.name}} <span><i class="fas fa-angle-down" style="padding-left: 3px;"></i></span>
              <div class="profile-expanded">
                <div><a href="/dashboard">Dashboard</a></div>
                <div><a href="/perfil">Perfil</a></div>
                <div ng-click="logout()"><a>Logout</a></div>
              </div>
              <!-- end profile expanded -->
            </div>
            <!-- end profile -->

          </div>
          <!-- end options -->

          <!--
          <div class="search">

            <div id="searchBox" class="form-group">
              <input placeholder="Pesquise universidades..." type="text">
              <span><i class="fas fa-search"></i></span>
            </div>

            <span id="searchButtonMobile"><i class="fas fa-search"></i></span>

          </div>
          -->

        </div>

      </div>
      <!-- end navbar-top -->

      <!-- fadeInDown -->
      <div class="navbar-mobile animated faster" ng-class="{slideInDown: navbarMobileOpen == false}">

        <div class="menu">
          <div class="option unselectable" ng-if="logged" ng-class="{'active': originalPath == '/home/timeline' || originalPath == '/home/timeline/'}"><a href="/home/timeline"><img src="/img/icon/timeline.png" height="23px" width="33px" style="padding-right: 10px;" />Timeline</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home' || originalPath == '/home/'}"><a href="/home"><img src="/img/icon/office/home.png" height="23px" width="33px" style="padding-right: 10px;" />Home</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home/universidades' || originalPath == '/home/universidades/'}"><a href="/home/universidades"><img src="/img/icon/office/university.png" height="23px" width="33px" style="padding-right: 10px;" />Universidades</a></div>
          <div class="option unselectable" ng-class="{'active': originalPath == '/home/noticias' || originalPath == '/home/noticias/'}"><a href="/home/noticias"><img src="/img/icon/office/opinion.png" height="23px" width="33px" style="padding-right: 10px;" />Opinião</a></div>
          <!--<div class="option unselectable" ng-class="{'active': originalPath.indexOf('/home/conhecimento') != -1 }"><a href="/home/conhecimento">Conhecimento</a></div>-->
          <!--div class="option unselectable" ng-class="{'active': originalPath == '/cursos' || originalPath == '/cursos/'}"><a href="/home">Cursos</a></div>-->
          <!--<div class="option unselectable" ng-class="{'active': originalPath == '/home/colleges' || originalPath == '/home/colleges/'}"><a href="/home/colleges">Colleges</a></div>-->
          <!--<div class="option unselectable" ng-class="{'active': originalPath == '/home/smp' || originalPath == '/home/smp/'}"><a href="/home/smp">Marketplace</a></div>-->
        </div>
        <!-- end menu -->

        <div class="menu" ng-hide="logged">
          <div class="header" style="border-top: 2px solid #2d4255; margin-left: 25px; margin-right: 25px; padding-bottom: 15px;"></div>
          <div class="option unselectable" ng-hide="logged" ng-click="login()">Login</div>
          <div class="option unselectable" ng-hide="logged" ng-click="signup()">Criar conta</div>
        </div>
        <!-- end menu -->

        <div class="profile" ng-show="logged">
          <div class="header"><span><i class="fas fa-user-circle"></i></span> {{user.name}}</div>
          <div class="menu">
            <!-- <<div class="option">Editar perfil</div> -->
            <div class="option unselectable" ng-show="logged"><a href="/perfil">Perfil</a></div>
            <div class="option unselectable" ng-show="logged"><a href="/dashboard"><b>Dashboard</b></a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Universidades</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Inscrito</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Criar Universidade</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Administrar Universidade</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Pedidos</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Todas compras</a></div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px; text-decoration: underline;">Pagamentos</div>
            <div class="option unselectable" ng-show="logged" style="padding-left: 40px;"><a href="/dashboard">- Carteira</a></div>
            <div class="option" ng-click="logout()">Logout</div>
          </div>
          <!-- end menu -->
        </div>
        <!-- end profile -->

      </div>
      <!-- navbar mobile -->

  </nav>
  <!-- end nav -->

</div>

<!-- end header -->

<div class="container-fluid container-full animated fadeIn faster">

  <div class="row" style="padding-top: 45px;">

    <div class="col-xs-12">

      <div style="font-size: 1.25em;">
        <div style="display: inline-block; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; margin-right: 15px; border-radius: 5px;">Universidades</div>
        <div style="display: inline-block; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; margin-right: 20px; border-radius: 5px; background-color: #52bfea; color: #fff;">Preço</div>
        <div style="display: inline-block; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; margin-right: 20px; border-radius: 5px;">White label</div>
      </div>

    </div>

  </div>

  <div class="row" style="padding-top: 35px; position: relative;">

    <div class="col-xs-12 col-sm-6" style="color: #2e4254; padding-left: 50px; padding-top: 40px;">

      <div style="font-size: 4.3em; padding-bottom: 30px; font-weight: 600;">É hora de começar</br>a educar</div>
      <div style="font-size: 1.5em; font-weight: 300;">Qualquer um pode criar sua própria universidade e começar a disseminar o conhecimento organizado. Crie sua comunidade e inicie discussões, crie um curso, envie vídeos e gerencie uma lista de reprodução.</div>
      <div style="height: 130px;"></div>

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12 col-sm-6" style="text-align: left; position: relative; padding-top: 115px;">

      <div style="position: absolute; top: -5px; z-index: -4; right: 0; width: 400px"><img src="https://i.kym-cdn.com/entries/icons/facebook/000/018/318/CFjU41M.jpg" style="width: 100%; border-radius: 150%;" /></div>

      <div style="width: 100%; background-color: #fff; box-shadow: 0 2px 24px rgba(12,13,14,0.1); padding: 35px; border-radius: 5px;">
        <p><b style="color: #2e4254; font-size: 1.3em;">Universidade a partir de</b></p>
        <div><b style="font-size: 4.4em; color: #335c9c;">$10</b> por mês*</div>
        <div style="height: 5px"></div>
        <p style="font-weight: 600; font-size: 1.2em;"><span style="padding-right: 10px; color: #45a163;" class="glyphicon glyphicon-ok"></span>Comunidade educacional exclusiva</p>
        <p style="font-weight: 600; font-size: 1.2em;"><span style="padding-right: 10px; color: #45a163;" class="glyphicon glyphicon-ok"></span>Gestão de cursos e aulas online</p>
        <p style="font-weight: 600; font-size: 1.2em;"><span style="padding-right: 10px; color: #45a163;" class="glyphicon glyphicon-ok"></span>Conteudo Premium e Assinatura Recorrente</p>
        <p style="font-weight: 600; font-size: 1.2em;"><span style="padding-right: 10px; color: #45a163;" class="glyphicon glyphicon-ok"></span>Espaço ilimitado para upload de arquivos</p>
        <p style="font-weight: 600; font-size: 1.2em;"><span style="padding-right: 10px; color: #45a163;" class="glyphicon glyphicon-ok"></span>14 dias de teste gratuito</p>
        <div style="height: 10px"></div>
        <button class="btn bg-base" style="max-width: 250px">Começar</button>
      </div>
      <!-- end pricing -->

    </div>
    <!-- end col-xs-12 -->

  </div>
  <!-- end row -->

  <!--
  <div class="row" style="padding-top: 95px">

    <div class="col-xs-12" style="text-align: center; color: #2e4254;">

      <div style="font-size: 3em; padding-bottom: 35px; font-weight: 500;">A melhor plataforma</div>
      <div style="font-size: 1.6em; padding-bottom: 50px; font-weight: 300;">Funcionalidades ideias para ajudar indivíduos, grupos e empresas a ensinar</br>e compartilhar conhecimento da melhor maneira possível.</div>

    </div>

  </div>
  <!-- end row -->

  <div class="row" style="padding-top: 95px">

    <div class="col-xs-12 col-sm-6" style="text-align: center;">
      <div><img src="/img/vr/vr_animation.gif" style="width: 80%;" /></div>
    </div>
    <!-- end col-xs-12 col-sm-6 -->

    <div class="col-xs-12 col-sm-6" style="padding: 45px;">

      <p style="font-size: 1.3em; color: #2d4255; font-weight: bold;">ESPAÇO</p>
      <p style="font-size: 2.3em; font-weight: bold;">Acesso ilimitado a todo conhecimento armazenado na plataforma</p>
      <p style="font-size: 1.4em;">Got lots of questions? We’ve got a place to put ’em. Every Q&A post is indexed and easy to search, and you can export your data at any time.</p>

    </div>
    <!-- end col-xs-12 col-sm-6 -->

  </div>
  <!-- end row -->

  <div class="row" style="padding-top: 95px">

    <div class="col-xs-12 col-sm-6" style="padding: 45px;">

      <p style="font-size: 1.3em; color: #2d4255; font-weight: bold;">CURADORIA</p>
      <p style="font-size: 2.3em; font-weight: bold;">Unlimited private questions and answers in a searchable archive</p>
      <p style="font-size: 1.4em;">Got lots of questions? We’ve got a place to put ’em. Every Q&A post is indexed and easy to search, and you can export your data at any time.</p>

    </div>
    <!-- end col-xs-12 col-sm-6 -->

    <div class="col-xs-12 col-sm-6" style="text-align: center;">
      <div><img src="/img/vr/room_board.png" style="width: 100%; border-radius: 25px;" /></div>
    </div>
    <!-- end col-xs-12 col-sm-6 -->

  </div>
  <!-- end row -->

  <div class="row" style="padding-top: 95px">

    <div class="col-xs-12 col-sm-4" style="padding: 45px;">

      <div style="margin-bottom: 10px; line-height: 30px; font-size: 1.35em; padding-bottom: 5px;"><img height="50px" style="margin-right: 15px;" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg"><b style="font-size: 1.35em;">Forum</b></div>
      <p style="font-size: 1.75em; font-weight: bold;">Unlimited private questions and answers in a searchable archive</p>
      <p style="font-size: 1.1em;">It’s a place where conversations happen, using forum you can follow relevant discussions about your favorite subjects. Have the opportunity to share your thoughts and learn, fostering discussions and debating with students, educators and organizations. All information organized, free and secure to have the best sharing knowledge experience.</p>

    </div>
    <!-- end col-xs-12 col-sm-4 -->

    <div class="col-xs-12 col-sm-4" style="padding: 45px;">

      <div style="margin-bottom: 15px; line-height: 30px; font-size: 1.35em; padding-bottom: 5px;"><img height="50px" style="margin-right: 15px;" src="https://visualpharm.com/assets/459/Film-595b40b75ba036ed117d9cd1.svg"><b style="font-size: 1.35em;">Playlists</b></div>
      <p style="font-size: 1.75em; font-weight: bold;">Unlimited private questions and answers in a searchable archive</p>
      <p style="font-size: 1.1em;">Use playlists to organize you video sharing platform. You can upload unlimited hours of videos and select who can access your content.</p>

    </div>
    <!-- end col-xs-12 col-sm-4 -->

    <div class="col-xs-12 col-sm-4" style="padding: 45px;">

      <div style="margin-bottom: 10px; line-height: 30px; font-size: 1.35em; padding-bottom: 5px;"><img height="50px" style="margin-right: 15px;" src="https://visualpharm.com/assets/311/Graduation%20Cap-595b40b65ba036ed117d2d97.svg"><b style="font-size: 1.35em;">Cursos</b></div>
      <p style="font-size: 1.75em; font-weight: bold;">Unlimited private questions and answers in a searchable archive</p>
      <p style="font-size: 1.1em;">Discovery a new world by learning with the best. Our platform provides the best courses from renowned educators in a user friendly platform. An immersive learning experience that keep you up with all knowledge available.</p>

    </div>
    <!-- end col-xs-12 col-sm-4 -->

  </div>
  <!-- end row -->

  <div class="row" style="padding-top: 95px">

    <div class="col-xs-12 col-sm-12" style="text-align: center;">

      <div style="font-size: 3.5em; font-weight: bold;">Os estudantes já usam</br>e adoram a Universidade</div>

      <div style="font-size: 1.5em; padding-top: 30px;">Stack Overflow for Teams gives you everything that 50 million people already love about Stack Overflow in a private, secure environment.</div>

    </div>
    <!-- end col-xs-12-->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->
