<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 30px"></div>

            <div academiastatus university="{{university}}"></div>

            <div>

              <div class="title" style="font-size: 2.0em; font-weight: bolder;">{{'CURSOS' | translate}}</div>

              <div ng-include="'/partials/courses/suite/navbar.html'"></div>

              <!-- -->

            </div>
            <!-- end col-xs-12 -->

            <div class="col-md-12">
                <form>
                    <input class="form-control input-lg" type="text" placeholder="{{'ADD_TITLE_HERE' | translate}}" style="margin-bottom: 20px;" ng-model="title">


                    <br>

                    <div class="panel panel-default">

                        <!--<div class="panel-heading" style="background-color: #fff;">
              <trix-toolbar id="my_toolbar"></trix-toolbar>
            </div>-->

                        <div class="panel-body">
                            <!--<trix-editor placeholder="Escreva aqui a descrição" angular-trix toolbar="my_toolbar" ng-model="description"
                trix-change="trixChange(e, editor);" trix-initialize="trixInitialize(e, editor);"></trix-editor>-->
                            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>

                        </div>

                    </div>

                    <button ng-click="saveContent()" type="button" class="btn btn-mini btn-green">{{'CREATE_A_PAGE' | translate}}</button>

                </form>
            </div>
        </div>
    </div>
    <categorychat university={{university}} />
    <footermobile></footermobile>
</div>

<style>
    trix-editor {
        min-height: 250px;
        border: none;
    }
</style>
