<div ng-include="'partials/headerhome.html'"></div>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 39px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    width: 35px;
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }

  .tabs-right {
    padding-top: 2px;
  }
  
  .tabs-right {
    border: 1px solid #ddd;
  }
  .tabs-right>li {
    float: none;
    margin-bottom: 2px;
  }
  
  .tabs-right>li {
    margin-left: -1px;
  }
  
  .tabs-right>li.active>a,
  .tabs-right>li.active>a:hover,
  .tabs-right>li.active>a:focus {
    /* border: 1px solid #ddd; */
    border-right: 2px solid red;
    background-color: #eee;
    margin-top: -4px;
    margin-right: -1px;
  }

  .tabs-right>li.active>a {
    border-right: 2px solid red;

  }

  .members-table {
    color: black;
  }

  .tHead {
    color: #797b8e;
  }

  .tBody {
    color: #a8aab7;
  }

  .delete-buttons-div {
    display: inline-flex;
    width: 50%;
  }

  .delete-buttons-div button {
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
  }

  .delete-container {
    margin-top: 70px;
  }

  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

  }

</style>

<!-- <div class="container-fluid ">
  <div class="row" style="margin-top: 15px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="title" style="font-size: 3em; font-weight: bold;">Modulos</div>
      <div ng-include="'/partials/courses/suite/navbar.html'"></div>
    </div>
    <div class="col-xs-12 col-sm-4" style="margin-top: 15px;" ng-repeat="module in modules.module">
      <a href="/cursos/suite/modulos/id/{{module.moduleId._id}}">
      <div class="course-card" style="cursor: pointer;">
        <div class="title" style="line-height: 35px;">
          <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div>
          <div style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">{{module.moduleId.title}}</div>
        </div>
        <div class="topic">
          <div class="line" style="font-size: 1em;">
            <i class="fas fa-bullseye"></i>
          </div>
          <div class="text">
            OBJETIVO</br>{{module.moduleId.goal}}
          </div>
        </div>
        <div class="topic">
          <div class="line" style="font-size: 1em;">
            <i class="fas fa-clock"></i>
          </div>
          <div class="text">
            DURAÇÃO</br>{{module.moduleId.duration}}
          </div>
        </div>
       
        <div class="topic">
          <div class="line">
            <i class="fas fa-circle"></i>
          </div>
          <div class="text">
            <div class="title">Total Content</div>
            <div class="subtitle">{{module.moduleId.content.length}}</div>
          </div>
        </div>      
      </div>
      </a>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <br><br>
    <div class="col-sm-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="moduleSection" role="tabpanel" ng-controller="CoursesModulosCtrl">

              <!-- module section -->
              <div class="row">
                <h3 style="color: black; margin-left: 20px;"><b>Module</b></h3>
                <div class="col-xs-12 col-sm-4" ng-repeat="module in course.module">
                  <div class="course-card" style="cursor: pointer;">
                    <a href="/cursos/suite/modulos/id/{{module.moduleId._id}}">
            
                      <div class="title" style="line-height: 35px;">
            
                        <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
                          <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                        </div>
            
                        <div class="text-capitalize" style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">{{module.moduleId.title}}</div>
            
                      </div>
            
                      <div class="topic">
            
                        <div class="line" style="font-size: 1em;">
                          <i class="fas fa-bullseye"></i>
                        </div>
            
                        <div class="text">
                          OBJETIVO</br>{{module.moduleId.goal}}
                        </div>
            
                      </div>
            
                      <div class="topic">
            
                        <div class="line" style="font-size: 1em;">
                          <i class="fas fa-clock"></i>
                        </div>
            
                        <div class="text">
                          DURAÇÃO</br>{{module.moduleId.duration}}
                        </div>
            
                      </div>
            
                      <div class="topic">
            
                        <div class="line" style="font-size: 1em;">
                          <i class="fa fa-file"></i>
                        </div>
            
                        <div class="text pt">
                          <span>TOTAL CONTENT</span>
                          <span class="pull-right">{{module.moduleId.content.length}}</span>
                        </div>
            
                      </div>
                    </a>
                    
                    <hr>
            
                    <div class="text-right">
                      
                      <span>
                        <i class="fa fa-pencil-square-o text-success" style="padding-right: 10px;" aria-hidden="true" ng-click="updateModule(module)"></i>
                      
                        <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup(module._id)"></i>
                      </span>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="membersSection" role="tabpanel">
              <!-- member section -->
              <div class="row">
                <div class="col-md-12">
                  <h3 style="color: black;"><b>Subscribed Members</b></h3>
                  <table class="table table-bordered members-table">
                    <thead class="text-center tHead">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Purchase Date</th>
                       
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="tBody">
                      <tr class="text-center" ng-repeat="i in course.salesss" studentinfosubscriber sid="{{i.member}}" count="{{$index+1}}" pid="i.sale">
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="contentSection" role="tabpanel" ng-controller="CoursesContentModulosCtrl">
              <!-- content section -->
              <div class="row" style="margin-top: 10px;">
                <h3 style="color: black;"><b>Content</b></h3>
                <div class="col-md-6" ng-repeat="item in modulesByAccount"  style="cursor: pointer;">
                  <div style="border-bottom: 1px solid #cccc; padding: 20px;">
                    <div style="display: inline-block; padding-right: 5px;">
            
                      <i ng-if="item.contentType=='page'" class="fa fa-file-video" style="font-size: 30px; color: #e80f06;"></i>
                    
                      <i ng-if="item.contentType=='quiz'" class="fa fa-question-circle text-success" style="font-size: 30px; color: #80c81b;" ></i>
            
                    </div>
                    <div style="display: inline-block; line-height: 30px; vertical-align: top; font-size: 1.1em; color: #536473; font-weight: bold;">{{item.title}}</div>
                      <span class="pull-right">
                      <i class="fa fa-pencil-square-o text-success" style="margin-right: 10px;" aria-hidden="true" ng-click="updateContent(item)"></i>
                      <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup(item._id)"></i>
                    </span>
                  </div>
                </div>
                <!-- end col-md-6 -->
              </div>
            </div>
            <div class="tab-pane" id="instructorSection" role="tabpanel">
              <!-- instructor section -->
              <div class="row">
                <div class="col-md-12">
                  <h3 style="color: black;"><b>Instructors</b></h3>
                  <table class="table table-bordered members-table">
                    <thead class="text-center tHead">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Join From</th>
                       
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="tBody">
                      <tr class="text-center" ng-repeat="i in course.instructors" studentinfomaster sid="{{i}}" count="{{$index+1}}">
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="navbar col-sm-3" style="margin-top: 50px;">
      <ul class="nav nav-tabs tabs-right">
        <li class=""><a href="#moduleSection" data-toggle="tab" ng-class="{'active': section == 'module'}" ng-click="section == 'module'"><i class="fa fa-brain" style="margin-right: 10px; color: #bd4ada;"></i>Modulo</a></li>
        <li class=""><a href="#membersSection" data-toggle="tab" ng-class="{'active': section == 'member'}" ng-click="section == 'member'"><i class="fa fa-users" style="margin-right: 10px; color: #33aabd;"></i>Members</a></li>
        <li class=""><a href="#contentSection" data-toggle="tab" ng-class="{'active': section == 'content'}" ng-click="section == 'content'"><i class="fa fa-folder-open" style="margin-right: 10px; color: #f87e12;"></i>Content</a></li>
        <li class=""><a href="#instructorSection" data-toggle="tab" ng-class="{'active': section == 'instructor'}" ng-click="section == 'instructor'"><i class="fa fa-chalkboard-teacher text-danger" style="margin-right: 10px; color: #ef5648;"></i>Instructor</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- content delete popup-->
<script type="text/ng-template" id="deleteContentPopup">
  <div class="container-fluid text-center delete-container">
    <h3>Are you sure you want to delete this Content?</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteContent()">Delete <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">Cancel</button>
    </div>
  </div>
</script>

<!-- module delete popup -->
<script type="text/ng-template" id="deleteModulePopup">
  <div class="container-fluid text-center delete-container">
    <h3>Are you sure you want to delete this Module?</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteModule()">Delete <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">Cancel</button>
    </div>
  </div>
</script>