<div ng-include="'partials/headerhome.html'"></div>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 39px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    color: #393939;
    width: 100%;
  }

  .course-card .topic .line i {
    padding-right: 5px;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }

  .tabs-right {
    padding-top: 2px;
  }

  .tabs-right {
    border: 1px solid #ddd;
  }
  .tabs-right>li {
    float: none;
    margin-bottom: 2px;
  }

  .tabs-right>li {
    margin-left: -1px;
  }

  .tabs-right>li.active>a,
  .tabs-right>li.active>a:hover,
  .tabs-right>li.active>a:focus {
    /* border: 1px solid #ddd; */
    border-right: 2px solid red;
    background-color: #eee;
    margin-top: -4px;
    margin-right: -1px;
  }

  .tabs-right>li.active>a {
    border-right: 2px solid red;

  }

  .members-table {
    color: black;
  }

  .tHead {
    color: #797b8e;
  }

  .tBody {
    color: #a8aab7;
  }

  .delete-buttons-div {
    display: inline-flex;
    width: 50%;
  }

  .delete-buttons-div button {
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
  }

  .delete-container {
    margin-top: 70px;
  }

  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

    .container-home {
      padding-top: 43px !important;
    }

  }

  .navbar-slider .option {
    cursor: pointer;
  }

  .wrap {
    margin: 20px 20px 100px;
    width: 400px;
    /* position: relative; */
    float: right;
}

input {
  width: 190px;
  line-height: 25px;
  border: 1px solid #C3D0DB;
  margin: 0;
  padding-left: 10px;
  z-index: 0;
  outline: none;
}
input:focus {
  border-width: 2px;
  position: relative;
  top: -1px;
  left: -1px;
}

ul {
  margin-top: 2px;
  padding-left: 10px;
  border: 1px solid #C3D0DB;
  line-height: 25px;
  background-color: #fff;
  cursor: pointer;
  width: 193px;
  position: relative;
  top: -1px;
  left: -1px;
}

.closed {
  display: none;
}

.opened {
  display: block;
}

.members_container {
  max-height: 150px;
  overflow-y: auto;
  width: 280px;
}

.danger {
  color: #721c24 !important;
}

.success {
  color: #3c763d !important;
}

/* span {
  line-height: 25px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  background-color: #fff;
  margin-top: 2px;
}
span i {
  font-size: 12px;
  color: #C3D0DB;
  cursor: pointer;
  margin-left: 2px;
} */

</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="row">

              <div ng-class="{'alert alert-danger danger': addmembererr, 'alert alert-success success': !addmembererr}" style="margin-top: 2rem; height: 6rem;" ng-show="addmemberstatus">
                {{ addmembermessage | translate}}
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="height: 10px;"></div>
                <a href="/{{'CURSOS' | translate}}/a/{{universityid}}/suite/owner"><i class="fas fa-arrow-left"></i> {{'BACK_TO_COURSE' | translate}}</a>
                <div class="title" style="font-size: 2.0em; font-weight: bolder;">{{course.title}}</div>

      <!-- NAVIGATION -->
      <nav style="position: relative; z-index: 0 !important;">
        <div class="navbar-slider navbar-slider-content">
          <div class="option option-course" ng-click="selectTab('module')" ng-class="{'active': section == 'module'}">{{'MODULES' | translate}}</div>
          <div class="option option-course" ng-click="selectTab('member')" ng-class="{'active': section == 'member'}">{{'MEMBERS' | translate}}</div>
          <div class="option option-course" ng-click="selectTab('content')" ng-class="{'active': section == 'content'}">{{'CONTENTS' | translate}}</div>
          <!--<div class="option option-course" ng-click="selectTab('instructor')" ng-class="{'active': section == 'instructor'}">Instrutores</div>-->
        </div>
        <!-- end navbar-slider --> <!--ng-controller="CoursesByIdManagementNavBarCtrl"-->
      </nav>
      <!-- END NAVIGATION -->

    </div>
    <!-- end col-xs-12 -->

    <div class="col-sm-12">
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- ng-controller="CoursesModulosCtrl" -->
            <div class="tab-pane active" ng-controller="CoursesModulosCtrl" ng-show="section == 'module'">

              <!-- module section -->
              <div class="row">

                <div class="col-xs-12" style="text-align: right; margin-bottom: 15px;">

                  <button type="button" class="btn btn-mini btn-green" style="height: 29px; width: unset;" ng-click="moduleCreate(course._id)">{{'ADD_MODULE' | translate}}</button>

                </div>
                <!-- end col-sm-12 -->

                <div class="col-xs-12" style="padding-top: 15px;" ng-if="course.module.length == 0">
                  <b>{{'NO_MODULE_ADDED' | translate}}</b>
                </div>

                          <div class="col-xs-12 col-sm-6" ng-repeat="module in course.module" ng-if="module.moduleId.active == true">

                  <div class="course-card" style="cursor: pointer;">
                    <a style="color: unset;" href="/{{'CURSOS' | translate}}/a/{{universityid}}/suite/modulos/id/{{module.moduleId._id}}">

                      <div class="title">

                        <div class="text-capitalize" style="display: inline-block; vertical-align: top; color: #2f4457; font-weight: bold;">{{module.moduleId.title}}</div>

                      </div>

                      <div class="topic">

                        <div class="line" style="font-size: 1em;">
                          <i class="fas fa-bullseye"></i>{{'OBJECTIVE_UPPERCASE' | translate}}
                        </div>

                        <div class="text">
                          {{module.moduleId.goal}}
                        </div>

                      </div>
                      <!-- END OBJETIVO -->

                      <div class="topic">

                        <div class="line" style="font-size: 1em;">
                          <i class="fas fa-clock"></i>{{'DURATION_UPPERCASE' | translate}}
                        </div>

                        <div class="text">
                          {{module.moduleId.duration}}
                        </div>

                      </div>
                      <!-- END OBJETIVO -->

                      <div class="topic">

                        <div class="line" style="font-size: 1em;">
                          <i class="fa fa-file"></i> {{'CONTENTS' | translate}}
                        </div>

                        <div class="text pt">
                          {{module.moduleId.content.length}}
                        </div>

                      </div>
                      <!-- END OBJETIVO -->

                    </a>

                    <hr>

                    <div class="text-right">

                      <span>
                        <i class="fa fa-pencil-square-o text-success" style="padding-right: 10px;" aria-hidden="true" ng-click="updateModule(module.moduleId)"></i>

                        <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup(module.moduleId._id)"></i>
                      </span>
                    </div>

                  </div>
                  <!-- end courses card -->

                </div>
                <!-- MODULO -->

              </div>

            </div>
            <!-- tab-pane active -->

            <div class="tab-pane active" ng-show="section == 'member'">
              <!-- member section -->
              <div class="row">

                <!-- Searchable dropdown for adding course member -->
                <div class='wrap' ng-show="!course.free">

                  <div style="display: flex;" ng-show="addstep==1">
                    <input ng-change='change()' ng-model='query' placeholder='Enter student name' type='text' xng-focus='cleared' style="width: 280px;">
                    <button class="btn btn-success" ng-click="confirmAddMember()" ng-disabled="selected==''">Add Member</button>
                  </div>
                  <div class="members_container">
                    <ul class='{{state}}' ng-show='state=="opened"' style="width: 280px;">
                      <li ng-click='select(item)' ng-repeat='item in filtered' style="list-style-type: none;">
                        {{item.name}}
                      </li>
                    </ul>
                  </div>

                  <div ng-show="addstep==2">
                    <h3>{{'SURE_ADD_MEMBER' | translate}}</h3>
                    <div style="display: flex;justify-content: space-between;">
                      <button class="btn btn-success" ng-click="addMember()" style="max-width: 45%">{{'YES' | translate}}</button>
                      <button class="btn btn-primary" ng-click="cancelAddMember()" style="max-width: 45%">{{'CANCEL' | translate}}</button>
                    </div>
                  </div>

                </div>
                <!-- End of Searchable dropdown for adding course member -->

                <div class="col-md-12"style="margin: 2em 0;">
                  {{'MEMBERS' | translate}} : {{course.members.length}}
                  <table class="table table-bordered members-table" ng-if="!course.free">
                    <thead class="text-center tHead">
                      <tr class="text-center">
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">{{'NOME' | translate}}</th>
                        <th scope="col" class="text-center">{{'DATE_ACCESSED' | translate}}</th>

                        <th scope="col" class="text-center">{{'PAYMENT' | translate}}</th>
                        <th scope="col" class="text-center">{{'REMARKS' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody class="tBody">
                      <tr ng-repeat="i in members">
                        <td class="text-center">{{$index+1}}</td>
                        <td>{{i.name}}</td>
                        <td ng-if="i.note=='Paid user'" class="text-center">{{i.datejoined | amFromUnix | amDateFormat:'MMMM Do YYYY'}}</td>
                        <td ng-if="i.note!='Paid user'" class="text-center">{{i.datejoined | amDateFormat:'MMMM Do YYYY'}}</td>
                        <td class="text-center">{{i.amount}}</td>
                        <td class="text-center">{{i.note}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-bordered members-table" ng-if="course.free">
                    <thead class="text-center tHead">
                      <tr class="text-center">
                        <th scope="col" class="text-center">#</th>
                        <th scope="col"">{{'NOME' | translate}}</th>
                        <th scope="col" class="text-center">{{'DATE_ACCESSED' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody class="tBody">
                      <tr ng-repeat="i in members">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{i.name}}</td>
                        <td class="text-center">{{i.datejoined | amDateFormat:'MMMM Do YYYY'}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div ng-show="!hasMember">
                    <p>{{'NO_MEMBERS_MESSAGE' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

                      <!-- ng-controller="CoursesContentModulosCtrl" -->
                      <div class="tab-pane active" ng-controller="CoursesContentModulosCtrl" ng-show="section == 'content'">
                        <!-- content section -->
                        <div class="col-xs-12 col-sm-12">
                          <div style="padding-top: 10px;">
                            <div style="float: right;"><button  class="btn btn-green" style="margin-top: 2px; height: 29px; width: unset;" ng-click="conteudocriar()">{{'CREATE_CONTENT' | translate}}</button></div>
                          </div>
                        </div>

              <div class="row" style="margin-top: 10px;">
                <div class="col-md-6" ng-repeat="item in modulesByAccount"  style="cursor: pointer;">
                  <div style="border-bottom: 1px solid #cccc; padding: 20px;">
                    <div style="display: inline-block; padding-right: 5px;">

                      <!--i ng-if="item.contentType=='page'" class="fa fa-file-video" style="font-size: 30px; color: #e80f06;"></i>

                      <i ng-if="item.contentType=='quiz'" class="fa fa-question-circle text-success" style="font-size: 30px; color: #80c81b;" ></i-->
                      <img ng-if="item.contentType=='forumpost'" width="30px" height="30px" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg" />

                      <img ng-if="item.contentType=='page'" width="30px" height="30px" src="https://visualpharm.com/assets/197/Documents-595b40b65ba036ed117d2bf0.svg" />

                      <img ng-if="item.contentType=='quiz'" style="width:30px; height:30px;" src="https://visualpharm.com/assets/632/Test%20Passed-595b40b65ba036ed117d34c6.svg">

                      <img ng-if="item.contentType=='video'" width="30px" height="30px" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg" />

                    </div>
                    <div style="display: inline-block; line-height: 30px; vertical-align: top; font-size: 1.1em; color: #536473; font-weight: bold;">{{item.title}}</div>
                      <span class="pull-right">
                      <i class="fa fa-pencil-square-o text-success" style="margin-right: 10px;" aria-hidden="true" ng-click="updateContent(item)"></i>
                      <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup(item._id)"></i>
                    </span>
                  </div>
                </div>
                <!-- end col-md-6 -->
              </div>
            </div>

            <div class="tab-pane active" ng-show="section == 'instructor'">
              <!-- instructor section -->
              <div class="row">

                <div class="col-sm-12" style="text-align: right; margin-bottom: 15px;">
                  {{course}}
                  <button type="button" class="btn btn-mini btn-green" style="height: 29px; width: unset;" ng-click="addInstructors(course.university, course._id)">{{'ADD_INSTRUCTOR' | translate}}</button>

                </div>
                <!-- end col-sm-12 -->

                <div class="col-md-12">

                  <table class="table table-bordered members-table">
                    <thead class="text-center tHead">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{'NOME' | translate}}</th>
                        <th scope="col">{{'JOIN_FROM' | translate}}</th>

                        <th scope="col">{{'ACTION' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody class="tBody">
                      <tr class="text-center" ng-repeat="i in course.instructors" studentinfomaster sid="{{i}}" count="{{$index+1}}">

                      </tr>
                    </tbody>
                  </table>

                </div>
                <!-- col-md-12 -->

              </div>

            </div>

        </div>
        <!-- tab-content -->

    </div>
    <!-- col-sm-12 -->

            </div>
        </div>
    </div>

    <categorychat university={{university}} />
    <footermobile></footermobile>

</div>

<!-- content delete popup-->
<script type="text/ng-template" id="deleteContentPopup">
  <div class="container-fluid text-center delete-container">
    <h3>{{'SURE_DELETE_CONTENT' | translate}}</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteContent()">{{'DELETE' | translate}} <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</script>

<!-- module delete popup -->
<script type="text/ng-template" id="deleteModulePopup">
  <div class="container-fluid text-center delete-container">
    <h3>{{'SURE_DELETE_MODULE' | translate}}</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteModule()">{{'DELETE' | translate}} <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</script>

<!-- module delete popup -->
<script type="text/ng-template" id="addMemberPopup">
  <div class="container-fluid text-center delete-container">
    <h3>{{'SURE_ADD_MEMBER' | translate}}</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="addMember(student)">{{'YES' | translate}} <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</script>
