<div ng-include="'partials/headerhome.html'"></div>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 45px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    width: 35px;
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }
.delete-buttons-div {
    display: inline-flex;
    width: 50%;
  }

  .delete-buttons-div button {
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
  }

  .delete-container {
    margin-top: 70px;
  }
  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

  }

</style>

<div class="container-fluid container-full">

    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>

            <div class="row">

              <div class="alert alert-success" style="color: #3c763d !important; margin-top: 2rem; height: 6rem;" ng-if="save_module_success">
                {{ 'SAVE_MODULE_SUCCESS' | translate}}
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 15px;">

                <a ng-click="back()" style="cursor: pointer;"><i class="fas fa-arrow-left"></i> {{'RETURN' | translate}}</a>
                <div class="title" style="font-size: 2.0em; font-weight: bolder;">{{'COURSES' | translate}}</div>

      <div ng-include="'/partials/courses/suite/navbar.html'"></div>

      <!-- -->

    </div>
    <!-- end col-xs-12 -->

              <div class="col-xs-12 col-sm-6">

      <div class="course-card">

        <div>

          <!--div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
            <div class="slice"><div class="bar"></div><div class="fill"></div></div>
          </div-->

          <div style="font-size: 1.2em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">{{module.title}}</div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-bullseye"></i>
          </div>

          <div class="text">
            <b>{{'OBJECTIVE_UPPERCASE' | translate}}</b></br>{{module.goal}}
          </div>

        </div>

        <div class="topic">

          <div class="line" style="font-size: 1em;">
            <i class="fas fa-clock"></i>
          </div>

          <div class="text">
            <b>{{'DURATION_UPPERCASE' | translate}}</b></br>{{module.duration}}
          </div>

        </div>

        <div class="pull-right" style="cursor: pointer;">
          <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup()"></i>
        </div><br>

      </div>
      <!-- end course-card -->
      <div style="margin-bottom: 15px;">
        <p style="font-size: 1.2em; text-align: center; font-weight: bold;">
          {{'DRAG_CONTENT_IN_THE_BOX' | translate}}
        </p>
        <p>
          {{'DRAG_CONTENTS_SUBTITLE' | translate}}
        </p>
      </div>

      <table id="board2">
        <tbody>
          <tr>
            <td style="padding: 10px;" as-sortable="dragControlListeners1" ng-model="module.content" >
              <div modulecontentcard mc="{{item}}" data-ng-repeat="item in module.content"></div>
            </td>
            <!-- end board order -->
          </tr>
        </tbody>
      </table>
      <!-- end table -->

                <button ng-click="saveModule()" class="btn btn-success" style="margin-top: 15px;">{{'SAVE' | translate}}</button>
              </div>
              <!-- -->

              <style>
                #board1 {
                  min-height: 150px;
                  border: 1px solid #cdcdcd;
                }
                #board2 {
                  min-height: 150px;
                  border: 1px solid #000;
                  width:100% !important;
                }
              </style>

              <div class="col-xs-12 col-sm-6">

                <div style="min-height: 60px;">
                  <div style="float: right;"><button class="btn btn-green" style="margin-top: 2px; height: 29px; width: unset;" ng-click="conteudocriar()">{{"CREATE_CONTENT" | translate}}</button></div>
                </div>

                <div style="padding-top: 10px; min-height: 60px;">
                  <div style="font-weight: bold; display: inline-block;">{{'LIST_OF_AVAILABLE_CONTENTS' | translate}}</div>
                </div>
                <!-- -->

                <!--<div>Todos | Vídeos | Artigos | Testes</div>-->

                <div id="board1" style="padding: 10px;" data-as-sortable="dragControlListeners" data-ng-model="modulesByAccount">
                  <ng-containner data-ng-repeat="item in modulesByAccount">

                  <div data-as-sortable-item-handle data-as-sortable-item style="display: inline-block; box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5); padding: 10px; cursor: pointer;">
                    <div style="display: inline-block; padding-right: 5px;">
                      <!--img width="30px" height="30px" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg" /-->
                      <img ng-if="item.contentType=='forumpost'" width="30px" height="30px" src="https://visualpharm.com/assets/811/Discussion%20Forum-595b40b65ba036ed117d396c.svg" />
                      <img ng-if="item.contentType=='video'" width="30px" height="30px" src="https://visualpharm.com/assets/770/Video%20File-595b40b85ba036ed117dad88.svg" />
                      <img ng-if="item.contentType=='quiz'" style="width:30px; height:30px;" src="https://visualpharm.com/assets/632/Test%20Passed-595b40b65ba036ed117d34c6.svg">
                      <img ng-if="item.contentType=='page'"  width="30px" height="30px;" src="https://visualpharm.com/assets/197/Documents-595b40b65ba036ed117d2bf0.svg">
                    </div>
                    <div style="display: inline-block; line-height: 30px; vertical-align: top; font-size: 1.1em; color: #536473; font-weight: bold;">{{item.title}}</div>
                  </div>

                </ng-containner>
                </div>

                <!-- move save button to the right column
                <button ng-click="saveModule()" class="btn btn-success" style="margin-top: 15px;">{{'SAVE' | translate}}</button>
                -->

              </div>
              <!-- end col-xs-12 -->

            </div>
            <!-- end row -->
        </div>
    </div>
    <categorychat university={{university}} />
    <footermobile></footermobile>
</div>
<!-- container-full -->
<!-- delete popup -->
<script type="text/ng-template" id="deleteModulePopup">
  <div class="container-fluid text-center delete-container">
    <h3>{{'DELETE_MODULE_MESSAGE' | translate}}</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteModule()">{{'DELETE' | translate}} <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</script>
