<div ng-include="'partials/headerhome.html'"></div>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .pt {
    padding-top: 7px;
  }

</style>

<style>

  .button-highlighter {
    box-shadow: 0px 8px 15px rgba(48, 179, 159, 0.51);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .course-card {
    box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.5);
    border-radius: 4px; padding-top: 20px; padding-bottom: 20px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 15px;
  }

  .course-card .topic {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .course-card .topic .text {
    display: inline-block;
    width: calc(100% - 39px);
  }

  .course-card .topic .title {
    font-size: 1.3em;
    display: inline-block;
    font-weight: 500;
  }

  .course-card .topic .title {
    font-size: 1.2em;
    color: #3c3c3c;
  }

  .course-card .topic .subtitle {
    color: #8c8c8c;
  }

  .course-card .topic .line {
    width: 35px;
    font-size: 0.5em;
    padding-top: 7px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
  }

  .instrutora {
    margin-right: 15px;
    display: inline-block;
  }

  .instrutora .author {
    font-size: 1.25em;
  }

  .instrutora .author .name {
    font-weight: 600;
  }

  .instrutora .author .title {
    font-weight: 400;
    font-size: 0.8em;
  }


  .instrutora .text {

  }

  .instrutora .picture {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 768px) {

    .course-card {

      padding-right: 10px;
      padding-left: 10px;

    }

  }

</style>

<div class="container-fluid ">

  <div class="row" style="margin-top: 15px;">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="title" style="font-size: 3em; font-weight: bold;">Cursos</div>

      <div ng-include="'/partials/courses/suite/navbar.html'"></div>

      <!-- -->

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12 col-sm-4" style="margin-top: 15px;" ng-repeat="module in modules">

      <div class="course-card" style="cursor: pointer;">
        <a href="/cursos/suite/modulos/id/{{module._id}}">

          <div class="title" style="line-height: 35px;">

            <div class="c100 p50 small center green" style="display: inline-block; font-size: 35px;">
              <div class="slice"><div class="bar"></div><div class="fill"></div></div>
            </div>

            <div class="text-capitalize" style="font-size: 1.4em; display: inline-block; vertical-align: top; padding-left: 10px; color: #2f4457; font-weight: bold;">{{module.title}}</div>

          </div>

          <div class="topic">

            <div class="line" style="font-size: 1em;">
              <i class="fas fa-bullseye"></i>
            </div>

            <div class="text">
              OBJETIVO</br>{{module.goal}}
            </div>

          </div>

          <div class="topic">

            <div class="line" style="font-size: 1em;">
              <i class="fas fa-clock"></i>
            </div>

            <div class="text">
              DURAÇÃO</br>{{module.duration}}
            </div>

          </div>

          <div class="topic">

            <div class="line" style="font-size: 1em;">
              <i class="fa fa-file"></i>
            </div>

            <div class="text pt">
              <span>TOTAL CONTENT</span>
              <span class="pull-right">{{module.content.length}}</span>
            </div>

          </div>
        </a>
        
        <hr>

        <div class="text-right">
          <a href="">
            <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
          </a>
        </div>

        <!--
        <div class="topic">

          <div class="line">
            <i class="fas fa-circle"></i>
          </div>

          <div class="text">
            <div class="title">Histórico</div>
            <div class="subtitle">O desenvolvimento da blockchain</div>
          </div>

        </div>
        end topic -->
        
      </div>
      <!-- end course-card -->

    </div>
    <!-- -->

  </div>
  <!-- end row -->

</div>
<!-- container-full -->
