<!-- NAVIGATION -->
<nav style="position: relative; z-index: 0 !important;" ng-controller="CoursesNavBarCtrl">
  <div class="navbar-slider navbar-slider-content">
    <!--<div class="option option-course" ng-click="activeSection = 'conhecimento'" ng-class="{'active': activeSection == 'comprados'}"><a href="/cursos/suite/">Comprados</a></div>-->
    <div class="option option-course" ng-click="activeSection = 'feed'" ng-class="{'active': activeSection == 'owner'}"><a href="/cursos/suite/owner">Por você</a></div>
    <div class="option option-course" ng-click="activeSection = 'estudos'" ng-class="{'active': activeSection == 'modulos'}"><a href="/cursos/suite/modulos">Modulos</a></div>
    <div class="option option-course" ng-click="activeSection = 'estudos'" ng-class="{'active': activeSection == 'content'}"><a href="/cursos/suite/content">Conteúdos</a></div>
    <div class="option option-course" style="float: right;" ng-click="moduleCreate()">Criar Modulo</div>
    <div class="option option-course" style="float: right;" ng-click="coursesCreate()" ng-class="{'active': originalPath.indexOf('/suite/criar') >= 0}">Criar Curso</div>
  </div>
  <!-- end navbar-slider -->
</nav>
<!-- END NAVIGATION -->
