<!-- NAVIGATION -->
<nav style="position: relative; z-index: 0 !important;" ng-controller="CoursesNavBarCtrl">
  <div class="navbar-slider navbar-slider-content">
    <!--<div class="option option-course" ng-click="activeSection = 'conhecimento'" ng-class="{'active': activeSection == 'comprados'}"><a href="/cursos/suite/">Comprados</a></div>-->
    <div class="option option-course" ng-click="activeSection = 'feed'" ng-class="{'active': activeSection == 'owner'}"><a href="/cursos/a/{{universityid}}/suite/owner">{{'FOR_YOU' | translate}}</a></div>
    <div class="option option-course" ng-click="activeSection = 'estudos'" ng-class="{'active': activeSection == 'modulos'}"><a href="/cursos/a/{{universityid}}/suite/modulos">{{'MODULES' | translate}}</a></div>
    <div class="option option-course" ng-click="activeSection = 'estudos'" ng-class="{'active': activeSection == 'content'}"><a href="/cursos/a/{{universityid}}/suite/content">{{'CONTENTS' | translate}}</a></div> 
  </div>
  <!-- end navbar-slider -->
</nav>
<!-- END NAVIGATION -->
