<!-- NAVIGATION -->
<nav style="position: relative; z-index: 0 !important;">
  <div class="navbar-slider navbar-slider-content">
    <div class="option option-course" ng-click="section == 'module'" ng-class="{'active': section == 'owner'}"><a href="#moduleSection">{{'MODULES' | translate}}</a></div>
    <div class="option option-course" ng-click="section == 'member'" ng-class="{'active': section == 'modulos'}"><a href="#membersSection">{{'MEMBERS' | translate}}</a></div>
    <div class="option option-course" ng-click="section == 'content'" ng-class="{'active': section == 'content'}"><a href="#contentSection">{{'CONTENTS' | translate}}</a></div>
    <div class="option option-course" ng-click="section == 'instructor'" ng-class="{'active': section == 'instructor'}"><a href="#instructorSection">{{'INSTRUCTORS' | translate}}</a></div>
  </div>
  <!-- end navbar-slider --> <!--ng-controller="CoursesByIdManagementNavBarCtrl"-->
</nav>
<!-- END NAVIGATION -->
