<div ng-include="'partials/headerhome.html'"></div>

<style>

  .course-box {
    box-shadow: 0px 0px 17px 0px rgba(130,130,130,0.23);
    display: inline-block;
    border-radius: 5px;
     height: 240px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }

  .course-box .title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .delete-buttons-div {
      display: inline-flex;
      width: 50%;
    }

  .delete-buttons-div button {
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
  }

  .delete-container {
    margin-top: 70px;
  }

  @media screen and (max-width: 768px) {
    .container-home {
      padding-top: 43px !important;
    }
  }

</style>

<div class="container-fluid container-full">


    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 academia-content">

            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>


            <div>

              <div class="title" style="font-size: 2.0em; font-weight: bolder;">{{universityName}} {{'COURSES' | translate}}</div>

              <div ng-include="'/partials/courses/suite/navbar.html'"></div>

              <!-- -->

            </div>
            <!-- end col-xs-12 -->

            <div class="col-md-12">

              <div style="padding-top: 10px;">
                <div style="float: right;"><button  class="btn btn-green" style="margin-top: 2px; height: 29px; width: unset;" ng-click="coursesCreate()">{{'CREATE_COURSE' | translate}}</button></div>
              </div>
              <!-- -->
            </div>
            <!-- end col-xs-12 -->

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="margin-top: 15px;" ng-repeat="course in courses" ng-show="course.active">
              <div class="course-box">
                <a href="/cursos/a/{{universityid}}/suite/owner/view/{{course._id}}" style="color: unset;">
                  <div class="title" style="margin-bottom: 10px; min-height: 145px; overflow-wrap: break-word; color: #2d4255;">{{course.title}}</div>
                </a>

                <!--<button class="btn btn-warning" style="height: 29px; width: 50%;" ng-click="addInstructors(course.university, course._id,course.instructors)">Add Instructor</button>-->

                <div style="padding-top: 5px;">
                  <!-- <hr> -->
                  <div class="btn-group" style="width: 100%; padding-top: 20px; border-top: 1px solid #eee;">
                    <span class="pull-right" style="padding-top: 8px; padding-right: 5px;">
                      <b ng-click="editCourse(course)" style="margin-right: 5px;"><i class="fa fa-pencil-square-o text-success" style="margin-right: 5px;" aria-hidden="true"></i>{{'EDIT' | translate}}</b>
                      <i class="far fa-trash-alt text-danger" aria-hidden="true" ng-click="openDeletePopup(course._id)"></i>
                    </span>
                  </div>
                </div>

            </div>
          </div>
    </div>
    <categorychat university={{university}} />
    <footermobile></footermobile>

</div>
<!-- container-full -->
<script type="text/ng-template" id="deleteCoursePopup">
  <div class="container-fluid text-center delete-container">
    <h3>{{'DELETE_COURSE_MESSAGE' | translate}}</h3>
    <div class="delete-buttons-div">
      <button class="btn btn-danger" ng-disabled="deleteLoading" ng-click="deleteCourse()">{{'DELETE' | translate}} <img style="width: 15px;" ng-show="deleteLoading == true" src="img/misc/loading.gif"/></button>
      <button class="btn btn-dark" ng-click="closePopup()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</script>
