<div ng-include="'partials/headerhome.html'"></div>

<script type="text/javascript">
    // Initialize instances:

    let url = window.location.href;

    let UPLOAD_VIDEO_IN_PROGRESS = "";
    let STARTING_VIDEO_PROCESSING = "";
    let VIDEO_SAVED_MESSAGE = "";

    if (url.indexOf('universida.de') > 0) {
        UPLOAD_VIDEO_IN_PROGRESS = "Carregar vídeo em andamento...";
        STARTING_VIDEO_PROCESSING = "<b>Iniciando o processamento do vídeo</b>"
        VIDEO_SAVED_MESSAGE = "<b>O vídeo foi salvo no servidor! Estamos processando o vídeo na melhor qualidade possível.</b>"
    } else {
        UPLOAD_VIDEO_IN_PROGRESS = "Upload video in progress...";
        STARTING_VIDEO_PROCESSING = "<b>Starting video processing</b>"
        VIDEO_SAVED_MESSAGE = "<b>The video was saved on the server! We are processing the video in the best possible quality.</b>"
    }

    var socket = io.connect("https://educationalcommunity-videouplo.herokuapp.com/");
    var siofu = new SocketIOFileUpload(socket);

    var filesCount = 0;
    var progressCloud = 0;
    var progressPercent = 0;

    $("#btn_hide").hide();

    siofu.listenOnDrop(document.getElementById("file_drop"));
    document.getElementById("file_drop").addEventListener("click", siofu.prompt, false);

    // Do something on upload progress:
    siofu.addEventListener("progress", function(event) {
        var percent = event.bytesLoaded / event.file.size * 100;
        $("#btn_show").text(UPLOAD_VIDEO_IN_PROGRESS);
        $("#file_drop").html("Upload: " + percent.toFixed(2) + "%");

        if (percent.toFixed(2) == 100) {
            $("#file_drop").html(STARTING_VIDEO_PROCESSING);
        }
    });

    socket.on("progressCloud", function(a) {
        progressCloud = progressCloud + 1;
        progressPercent = (progressCloud / filesCount) * 100;
        $("#file_drop").html("<b>Salvando o vídeo:</b> " + progressPercent.toFixed(2) + "%");
    });

    socket.on("progressProgressing", function(a) {
        let progressPercent = a;
        $("#file_drop").html("<b>Processando o vídeo:</b> " + progressPercent.toFixed(2) + "%");
    });

    socket.on("status", function(a) {
        if (a == 1) {}
        if (a == 2) {
            $("#file_drop").html(VIDEO_SAVED_MESSAGE);
            $("#btn_hide").show();
            $("#btn_show").hide();
        }
    });

    socket.on("files", function(a) {
        filesCount = a;
    });

    // Do something when a file is uploaded:
    siofu.addEventListener("complete", function(event) {});

    socket.on("videopath", function(a) {
        $("#file").attr("value", a);
    })
</script>

<div class="container-fluid container-full">
    <div class="row">

        <div academiarightcolumn university="{{university}}"></div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 academia-content">
            <div class="row academia-coverimage" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
            <div class="row academia-coverimage" ng-if="university.backgroundImage == undefined" style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

            <div style="height: 15px"></div>

            <div academiastatus university="{{university}}"></div>


            <div style="font-size: 2em; padding-bottom: 30px;">{{'CREATE_VIDEO' | translate}}</div>


            <div class="alert bg-primary-red" ng-show="errorDisplay">
                <p ng-repeat="m in errorMessages">{{m | translate}}
                    <p>
            </div>

            <input class="academia-content-forum-post-create-title" placeholder="{{'WRITE_VIDEO_TITLE' | translate}}" ng-model="title"></input>

            <div>
                <input type="hidden" id="file" ng-model="file">
                <div id="file_drop" dropzone="copy" title="drop files or click for upload" class="file-drop-area"><b>{{'START_UPLOAD' | translate}}</b> {{'DRAG_VIDEO_FILE_HERE' | translate}}</div>
                <!-- end file-drop-area -->
            </div>
            <!-- end file -->

            <div class="academia-content-forum-answer">

                <div class="academia-content-forum-post-create-premium">

                    <b>{{'VIDEO_DESCRIPTION' | translate}}</b>

                    <div class="form-group">
                        <textarea ui-tinymce="tinymceOptions" ng-model="description"></textarea>
                    </div>

                </div>
                <!-- academia-content-forum-post-create-premium -->

                <div class="academia-content-forum-post-create-premium" ng-if="playlists.length > 0">

                    <b>{{'VIDEO_PLAYLIST' | translate}}</b>

                    <div class="form-group">
                        <select ng-model="playlistSelect._id">
                          <option ng-repeat="playlist in playlists" value="{{playlist._id}}" ng-selected="">{{playlist.title}}</option>
                        </select>
                    </div>

                </div>

                <div class="academia-content-forum-post-create-premium" ng-hide="universityId._id == undefined">

                    <b>{{'SELECT_ACCESS_MEMBER' | translate}}</b>

                    <div class="form-group">
                        <select ng-model="privilege.value">
                          <option value="0" ng-selected="true">{{'STUDENT' | translate}}</option>
                          <option value="10">{{'PREMIUM' | translate}}</option>
                          <option value="50">{{'TEAM' | translate}}</option>
                          <option value="99">{{'ADMINISTRATOR' | translate}}</option>
                        </select>
                    </div>

                </div>

                <div class="academia-content-forum-post-create-premium" ng-hide="universityId._id == undefined">

                    <b>{{'CONTENT_EXCLUSIVE_TO_PREMIUM' | translate}}</b>

                    <div class="form-group">
                        <select ng-model="premium.value">
                          <option value="0" ng-selected="true">{{'NO' | translate}}</option>
                          <option value="1">{{"YES" | translate}}</option>
                        </select>
                    </div>

                </div>
                <!-- end academia-content-forum-post-create-premium -->

            </div>
            <div ng-show="loading" class="loading-gif" style="text-align: center;">
                <img src="/img/loader.gif" height="50px" />
            </div>
            <!-- academia-content-forum-answer -->
            <!--button id="btn_show" ng-click="videoUploadAttension()" class="btn btn-green trn">{{'CREATE' | translate}}</button-->
            <div style="margin-top: 15px;">
                <button ng-click="createVideo()" class="btn btn-green" ng-disabled="loading">{{'CREATE' | translate}}</button>
            </div>

        </div>
        <!-- end row -->
        <!-- end row -->
        <categorychat university={{university}} />
        <footermobile></footermobile>

    </div>