<div ng-include="'partials/headerhome.html'"></div>

<div class="player-area">

  <video id="video" class="video-js vjs-default-skin" controls preload="auto" vjs-video></video>

</div>

<div class="container-fluid" style="padding: 30px;">

  <div class="row">

    <div class="col-xs-12 col-sm-12">

      <div class="video-title">{{video.title}}</div>

      <div class="video-author">
        <div class="pic"><img src="{{student.imageUrl}}" /></div>
        <div class="name">{{student.name}}</div>
      </div>

      <div class="video-description">
        <div class="title">Descrição</div>
        <div class="text" ng-bind-html="video.description"></div>
      </div>
      <!-- -->

      <!--
      <div class="video-forum">

        <div class="title">Forum</div>

        {{forumPost}}
        {{forumPost.answers.length}}
        <p ng-show="forumPost.answers.length == 0">Nenhum comentario postado</p>

        <forumpostanswer p="{{forumPost._id}}" u="{{forumPost.universityId}}" ng-show="forumPost.answers.length > 0" a="{{answer}}" ng-repeat="answer in forumPost.answers | orderBy:'-votesCount'"></forumpostanswer>

      </div>

      <div class="academia-content-forum-answer">

        <div class="academia-content-forum-answer-title">
          Comentários
        </div>


        <div class="academia-content-forum-answer-box">

          <style>
          .ta-toolbar {
            background-color: #f0f0f0;
            padding-bottom: 5px;
            padding-top: 5px;
          }
          </style>

          <trix-editor angular-trix ng-model="answer"></trix-editor>

        </div>

        <div class="academia-content-forum-answer-action">
          <button class="btn btn-blue" ng-click="createAnswerPost()">Postar</button>
        </div>

      </div>

    -->

    </div>
    <!-- end col-xs-12 col-sm-8 -->

    <!--
    <div class="col-xs-12 col-sm-5 video-rightbar">

      <div class="video-admin video-rightbar-area">

        <div class="title">ADMINISTRAÇÃO</div>

        <div class="buttons">

          <button class="btn btn-bluebase" style="margin-right: 15px;">Editar</button>
          <button class="btn btn-bluebase">Status</button>

        </div>

      </div>

      <div class="video-authorscontent video-rightbar-area">

        <div class="title">+ VIDEOS</div>

        <div class="video">
          <div class="poster"><img src="https://i.vimeocdn.com/video/718609740.webp?mw=960&mh=540" /></div>
          <div class="texts">
            <div class="title">AA x JJ Pre-flop</div>
            <div class="author">Samba</div>
          </div>
        </div>

      </div>

    </div>
    -->
    <!-- col-xs-12 col-sm-4 -->

  </div>
  <!-- end row -->

</div>
<!-- container-full -->
