<div>
  <div style="display: inline-block; background-image: url('{{picture}}'); background-size: cover; background-position: center; height: 45px; width: 45px; border-radius: 50%;"></div>
  <div style="display: inline-block; height: 45px; line-height: 45px; vertical-align: top; padding-left: 10px; font-size: 1.1em; font-weight: bold;">{{account.name}}</div>
  <div style="display: inline-block; float: right; height: 45px; line-height: 45px; vertical-align: top;">
    <progress style="height: 45px; width: 100px;" value="{{viewer.time}}" max="{{playerDuration}}"></progress> <b style="padding-left: 10px; vertical-align: top;">{{ percentage }} %</b>
  </div>
</div>
