<a href="/cursos/id/{{course._id}}" target="_blank" style="color: unset;" class="col-xs-12 col-sm-6 col-md-4 course-box-wrapper">
<div class="course-box">
  <div class="title ng-binding">{{course.title}}</div>
  <div style="color: #9f9f9f; font-size: 1.1em;"><div style="width: 15px; text-align: center; display: inline-block;"><i class="fas fa-bullseye"></i></div> <b>Objetivo:</b></br>Apresentação inicial da Blockchain</div>
  </br>
  <div style="color: #9f9f9f; font-size: 1.1em;"><img width="15px" style="border-radius: 5px;" src="" /><i class="fas fa-chalkboard-teacher"></i> <b>Instrutora:</b></br><img style="border-radius: 5px;" width="18px" height="18px" src="https://storage.googleapis.com/educationalcommunity-upload/images/1569441207/a0.jpg" /> Rosine Kadamani</div>
  <!--<div style="font-size: 1.1em; margin-top: 5px;" ng-bind-html="textFilter(course.description)"></div>-->
</div>
</a>
