<li ng-repeat="c in modulecontent">
        <div style="cursor:pointer" ng-click="openContent(courseid, c.contentType, c._id, c.modelId)">
        	<i ng-show="!c.viewed" class="far fa-square"></i>
          <i ng-show="c.viewed" class="fa fa-check-square"></i>
          <span style="padding-left: 10px;">{{count}}.{{$index}}. {{c.title}}</span><br>
          <span ng-if="c.contentType=='page'"><i class="fas fa-file text-primary" style="padding: 8px 8px 0px 22px;"></i></span>
          <span ng-if="c.contentType=='quiz'"><i class="far fa-question-circle text-primary" style="padding: 8px 8px 0px 22px;"></i></span>
          <span ng-if="c.contentType=='video'"><i class="fas fa-video text-primary" style="padding: 8px 8px 0px 22px;"></i>Video</span>
          <span ng-if="c.contentType=='forumpost'"><i class="fab fa-wpforms text-primary" style="padding: 8px 8px 0px 22px;"></i>Forum Post</span>
        </div>
</li>
