         <div class="topic" ng-repeat="c in modulecontent">
         <div class="line" style="font-size: 1em;">
           
            <i ng-if="c.contentType=='page'" class="fas fa-file"></i>
            <i ng-if="c.contentType=='quiz'" class="far fa-question-circle"></i>
            <i ng-if="c.contentType=='video'" class="fas fa-video"></i>
             <i ng-if="c.contentType=='forumpost'" class="fab fa-wpforms"></i>
          </div>

          <div class="text">
            {{c.title}}</br>{{c.contentType}}
          </div>
        </div>
