<div class="row" style="display: inline-block;overflow: hidden; padding-right: 3px; padding-bottom: 5px; text-align: center; font-size: 0.85em">
  <img style="margin-right: 2px; margin-bottom: 5px;width:65px;height:65px" class="academia-content-viewers-user-pic" ng-if="student.imageUrl == undefined" src="img/user/user.png" />
  <img style="margin-right: 2px; margin-bottom: 5px;width:65px;height:65px" class="academia-content-viewers-user-pic" ng-if="student.imageUrl.length > 0" src="{{student.imageUrl}}" />
<div><center>{{student.name}}</center></div>

</div>
