<div style="display: inline-block">

<a style="color: #2c4255;" ng-show="university.active" target="_blank" href="/a/{{university.url}}/timeline">

  <div class="card card-article-large">
    <div class="picture card-shadow" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}'); min-width: 135px;"></div>
    <div class="picture card-shadow" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>
    <div style="margin-bottom: 0px; margin-top: 5px; font-size: 0.95em;"><b style="color: #7d7d7d;">{{university.name}}</b></div>
  </div>

</a>


<div class="section-cards-loading" ng-show="university.name == undefined" style="margin-bottom: 10px;">

  <div class="card hvr-hang" style="width: 150px !important;">

    <div class="picture area" style="height: 75px;"></div>
    <div class="title area" style="height: 15px; padding: 0; margin-top: 5px;"></div>

  </div>
  <!-- end card -->

</div>

</div>
