<a style="color: #2c4255;" href="/a/{{university.url}}/timeline" >
  <div class="card">
    <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
    <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>
    <div class="title">{{university.createdAt}}{{university.name}}</div>
    <div class="description" data-ellipsis data-ng-bind="university.about"></div>
  </div>
</a>
