<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid container-home animated fadeIn" style="padding-bottom: 30px;">

  <div class="row">

    <div class="col-sm-4 col-md-3 section-menu-col">

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-8 col-md-9 section-content-col">

      <!--
      <div style="cursor: pointer;" ng-click="lastpageReturn()">< Voltar</div>
      -->

      <style>

        @media screen and (max-width: 768px) {

          .container-home {
            padding-top: 43px !important;
          }

        }

        .wallet-card {
          display: inline-block;
          width: 100%;
          height: 200px;
          background-color: #e6e6e6;
          border-radius: 15px;
          max-width: 300px;
          margin-right: 25px;
          vertical-align: top;
          cursor: pointer;
        }

        .section-cards {
          -ms-overflow-style: none;
          overflow: -moz-scrollbars-none;
          scrollbar-width: none;
        }

        .section-cards::-webkit-scrollbar {
          display: none;
        }

        .align-new-cards {
          text-align: center;
        }

      </style>

      <!-- default payment -->

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

          <ballmenu></ballmenu>

          <div class="section-cards" ng-style="{ 'text-align' : (cards.length == 0) ? 'center' : 'unset' }">

            <div class="wallet-card" ng-click="addCard()">
              <div class="content" style="padding-top: 70px; text-align: center; font-size: 1.3em;">
                <i class="fas fa-plus-circle"></i></br>
                {{'WALLET_CARD_ADD' | translate}}
              </div>
            </div>
            <!-- end wallet card -->

            <div class="wallet-card" ng-repeat="card in cards" style="padding-top: 20px; padding-left: 1.5em;">

              <div class="content">
                <h2>{{card.brand}}</h2>
                <div>
                  <b>{{'CARDHOLDER' | translate}}</b> {{card.name}}</br>
                  <b>{{'LAST_4_DIGITS' | translate}}</b> {{card.last4}}</br>
                  <b>{{'EXPIRY' | translate}}</b> {{card.exp_month}}/{{card.exp_year}}
                </div>
              </div>
              <!-- end content -->

            </div>
            <!-- end wallet card -->

          </div>
          <!-- end section-cards -->

          <div class="section-menu-title" style="padding-left: 0px;">{{'MYORDERS' | translate}}</div>

          <p ng-if="orders.length == 0">{{'WALLET_NOPURCHASE' | translate}}</p>

          <div class="order" ng-repeat="order in orders">

            <div class="info">
              <div class="id">{{'DASH_ORDERS' | translate}} #{{order._id}}</div>
              <div class="date"><b>{{'DATE' | translate}}:</b> <span am-time-ago="order.createdAt | amFromUnix | amDateFormat:'MM.DD.YYYY HH:mm:ss' "></span></div>
              <div class="total"><b>{{'TOTAL' | translate}}:</b> {{'CURRENCY' | translate}}{{order.amount / 100}}</div>
            </div>

            <p>{{'ITEMS' | translate}}</p>

            <div class="items">

              <div class="item" ng-repeat="item in order.items">
                <div class="top"><b class="name">{{item.name}}</b><div class="price">{{'CURRENCY' | translate}} {{item.amount / 100}}</div></div>
                <p>{{'QUANTITY' | translate}}: {{item.quantity}}</p>
              </div>

            </div>
            <!-- end items -->

          </div>
          <!-- end orders -->

        </div>
        <!-- end col-xs-12 col-sm-3 col-md-3 -->

      </div>
      <!-- end row -->

    </div>
    <!-- col-sm-9 -->

  </div>
  <!-- end row -->

  <footermobile></footermobile>

</div>
