<div class="container-fluid" style="padding-bottom: 150px;">

  <div class="row">

    <div class="col-xs-12">

      <div class="logo" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">

        <a href="/"><img height="30px" src="/img/universidade_logo.png" /></a>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-10 main-slide">

      <div class="value">
        <div class="value-title-support">Visão</div>
        <div class="value-title">Democratizar acesso a educação</div>
      </div>

      <div class="value">
        <div class="value-title-support">Missão</div>
        <div class="value-title">Reinventar ambiente educacional</div>
      </div>

      <div class="value">
        <div class="value-title-support">Value proposition</div>
        <div class="value-title">Novas maneiras de se educar, reeducar, treinar e retreinar</div>
      </div>

    </div>
    <!-- end col-xs-12 -->

    <div class="col-xs-12" style="padding-top: 50px;">

      <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">

        <div class="header-support-section-two">O NOSSO FOCO É A EDUCAÇÃO</div>
        <div class="header-title-section-two">O UNICO CAMINHO PARA ACABAR COM A PERPETUAÇÃO DA POBREZA E IGNORÂNCIA DO NOSSO BRASIL</div>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6" style="padding-top: 40px;">

      <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">

        <img id="univesidade-icon" src="https://universida.de/img/universidade_icon.png" />

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-6" style="padding-top: 20px;">

      <div class="header-section-two" style="text-align: left; padding-top: 10px; padding-bottom: 10px;">

        <div class="header-support-section-two">O PRODUTO</div>
        <div class="header-title-section-two" style="font-size: 1.3em;">NÓS DESENVOLVEMOS OFFICE PARA EDUCAÇÃO (SAAS) EM UM SOCIAL-MARKETPLACE PARA ESTUDANTES, EDUCADORES INDEPENDENTES, EMPRESAS E INSTITUIÇÕES EDUCACIONAIS</div>

      </div>

    </div>
    <!-- -->

  </div>
  <!-- end row -->

  <div class="row">

    <div class="col-xs-12 col-sm-6" style="padding-top: 50px;">

      <div class="header-section-two" style="text-align: left; padding-top: 10px; padding-bottom: 10px;">

        <div class="header-support-section-two">+ REALIDADE VIRTUAL</div>
        <div class="header-title-section-two" style="font-size: 1.3em; text-transform: uppercase;">Com esta iniciativa, estamos dando aos nossos alunos a oportunidade de fazer parte dessa revolução tecnológica</br></br>A combinação da Realidade Virtual com o ensino à distância ajudará os alunos a usar a tecnologia em todo o seu potencial, enquanto incentiva o auto-aprendizado em um ambiente ainda mais flexível e independente</div>

      </div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-6" style="padding-top: 20px;">

      <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">

        <img height="300px" src="/img/vr/vr_animation.gif" />

      </div>

    </div>
    <!-- -->

  </div>
  <!-- row -->

  <div class="row">

    <div class="col-xs-12" style="padding-top: 50px;">

      <div class="header-section-two" style="text-align: center; padding-top: 30px; padding-bottom: 30px;">

        <div class="header-support-section-two" style="font-size: 2.1em;">ELES USAM A PLATAFORMA</div>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4 client">

      <div class="picture" style="background-image: url('https://storage.googleapis.com/educationalcommunity-upload/images/1572071357/a39.jpg')"></div>
      <div class="title">Tiago Camilo</div>
      <div class="description">Tiago Camilo é um judoca brasileiro, campeão mundial, vice-campeão olímpico e tricampeão pan-americano nas categorias médio, meio-médio e leve.</div>

    </div>

    <div class="col-xs-12 col-sm-4 client">

      <div class="picture" style="background-image: url('https://s3.criptofacil.com/wp-content/uploads/2019/08/blockchain-academy-anuncia-curso-sobre-desafios-tributarios-na-criptoeconomia.jpg')"></div>
      <div class="title">Blockchain Academy</div>
      <div class="description">Projeto educativo focado no desenvolvimento e formação de um ecossistema inovador de empreendedores, novos modelos de negócios e iniciativas utilizando infraestruturas Blockchain e DLTs.</div>

    </div>

    <div class="col-xs-12 col-sm-4 client">

      <div class="picture" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Augusto_Cury%2C_escritor_%2828339139296%29.jpg')"></div>
      <div class="title">Escola da Inteligência</div>
      <div class="description">A Escola da Inteligência é um programa educacional que objetiva desenvolver a educação socioemocional no ambiente escolar. Fundamentada na Teoria da Inteligência Multifocal, elaborada pelo Dr. Augusto Cury.</div>

    </div>

  </div>
  <!-- -->

  <div class="row">

    <div class="col-xs-12" style="padding-top: 30px;">

      <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">

        <div class="header-support-section-two" style="font-size: 2.1em;">LIDERANÇA</div>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

    <!-- TEAM -->

    <div class="col-xs-12 col-sm-4 team-member" style="text-align: center;">

      <img height="200px" width="200px" src="https://avatars1.githubusercontent.com/u/12196036?s=460&u=46ec0d2474ef03ca3c44b4bd2b68344429399c43&v=4" />
      </br>
      <div class="name">Marcelo Pio</div>
      <div class="job-title">CEO & CTO</div>
      <div class="description">Marcelo Pio is a self-taught engineer who has been coding commercial applications since the age of 11.

Raised in a family of entrepreneurs, he executed multiple successful projects in Brazil and moved to California to study Computer Science.

Extensive operating and engineering experience working as entrepreneur, software engineer and consultant on start-ups in different industries (gaming, gambling, education, communications, retail), medium-size business as Petcare (veterinary hospital) and large-size business as Jovem Pan (largest radio station in South America).</div>

    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4 team-member" style="text-align: center;">

      <img height="200px" width="200px" src="https://welove.holdings/img/rlara.jpg" />
      </br>
      <div class="name">Rodrigo Lara</div>
      <div class="job-title">CAO & CFO</div>
      <div class="description">O Sr. Rodrigo Lara é um empreendedor com extensa experiencia operacional e financeira. Ele é o fundador e CEO da NOVOCIM, um novo player de cimento no Brasil, tendo levantando capital e gerenciado todo o processo de licenciamento, financiamento, contratação de pessoas e administração da empresa. A experiência inclui Vendas e Operações, Gerenciamento de Projetos, M&A, Estratégia, Capital de Risco e Private Equity. Ele possui vasta experiência em fusões e aquisições em bancos de investimento e profundo conhecimento do setor de private equity, tendo trabalhado com Goldman Sachs, JPMorgan Chase e Banco Patrimonio, e com Patria Private Equity e área de investimento proprietário (PIA) da Goldman Sachs no Vale do Silício. Ele é professor de finanças, inovação, capital de risco e empreendedorismo. O Sr. Lara é bacharel em administração de empresas pela EAESP-FGV e mestre em administração de empresas pela Harvard Business School.</div>
    </div>
    <!-- -->

    <div class="col-xs-12 col-sm-4 team-member" style="text-align: center;">

      <img height="200px" width="200px" src="https://welove.holdings/img/mairlos.jpg" />
      </br>
      <div class="name">Mairlos Navarro</div>
      <div class="job-title">Diretor Educacional</div>
      <div class="description">11 years working as Educational Manager of MBAs, Graduate School courses and Training Programs. Experience of 5 years as e-learning coordinator.10 years planning and developing solutions and sales canals for information technology and electric engineering areas. Experience of 3 years working as application engineer in automation and electric engineering areas.</div>

    </div>
    <!-- -->

    <!-- END TEAM -->

  </div>
  <!-- end row -->

  <div class="row">

    <div class="col-xs-12" style="padding-top: 30px;">

      <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">

        <div class="header-support-section-two" style="font-size: 2.1em;">CONSTRUINDO O FUTURO DA EDUCAÇÃO</div>

      </div>

      <div style="height: 20px"></div>

    </div>
    <!-- -->

    <div>
      <iframe width="100%" id="frame-video" src="https://www.youtube.com/embed/zcDLbdYBcqM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12" style="padding-top: 30px; text-align: center;">

      <div class="header-section-two" style="text-align: center; padding-top: 25px; padding-bottom: 10px;">

        <div class="header-support-section-two" style="font-size: 2.1em;">SE JUNTE À NOSSA EQUIPE</div>

      </div>

      <div style="height: 20px"></div>

      <div class="header-title-section-two" style="font-size: 1.3em; text-transform: uppercase;">ENVIE O SEU CURRÍCULUM PARA CV@WELOVEHOLDING.COM</div>

      <img style="margin-top: 95px" height="45px" src="https://universida.de/img/universidade_icon.png" />

    </div>
    <!-- -->

    <div>

    </div>
    <!-- -->

  </div>
  <!-- END ROW -->

<style>

  .main-slide {
    min-height: 75vh;
    font-size: 1.5em;
  }

  .client {
    padding-bottom: 20px;
  }

  .client .picture {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 150px;
  }

  .client .title {
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .client .description {
    font-size: 1.15em;
  }

  .team-member {
    padding-bottom: 10px;
  }

  .team-member .job-title {
    padding-bottom: 10px;
  }

  .team-member .description {
    font-size: 1.1em; text-align: left;
  }

  .team-member .name {
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: bold;
  }

  .team-member img {
    border-radius: 5px;
  }

  .header-support-section-two {
    font-size: 1.6em;
    color: #314354;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .header-title-section-two {
    font-size: 2.1em;
    color: #314354;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2em;
  }

  .value {
    margin-bottom: 15px;
  }

  .value-title {
    color: #314354;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.1em;
  }

  .value-title-support {
    color: #314354;
    font-weight: 300;
    font-size: 1.3em;
    text-transform: uppercase;
  }

  #univesidade-icon {
    height: 145px;
  }

  #frame-video {
    height: 450px;
  }

  @media screen and (max-width: 768px) {
    .main-slide {
      min-height: 60vh;
      font-size: 1.1em;
    }
    #frame-video {
      height: 350px;
    }
    #univesidade-icon {
      height: 75px;
    }
    .header-title-section-two {
      font-size: 1.55em;
    }
  }

</style>
