<div class="container-fluid" style="padding-bottom: 150px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="logo" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <a href="/home/landing"><img height="30px" src="{{company_logo}}" /></a>
            </div>
            <div style="height: 20px"></div>
        </div>
        <!-- -->

        <div class="col-xs-12 col-sm-10 main-slide">
            <div class="value">
                <div class="value-title-support">{{'ABOUT_VISION' | translate}}</div>
                <div class="value-title">{{'ABOUT_VISION_SUB' | translate}}</div>
            </div>

            <div class="value">
                <div class="value-title-support">{{'ABOUT_MISSION' | translate}}</div>
                <div class="value-title">{{'ABOUT_MISSION_SUB' | translate}}</div>
            </div>

            <div class="value">
                <div class="value-title-support">{{'ABOUT_VALUE' | translate}}</div>
                <div class="value-title">{{'ABOUT_VALUE_SUB' | translate}}</div>
            </div>
        </div>
        <!-- end col-xs-12 -->

        <div class="col-xs-12" style="padding-bottom: 120px;">
            <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <div class="header-support-section-two" style="font-size: 3em;">{{'ABOUT_OUR_FOCUS' | translate}}</div>
            </div>
            <div style="height: 20px"></div>
        </div>
        <!-- -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6" style="padding-top: 40px;">
            <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <img id="univesidade-icon" src="https://universida.de/img/universidade_icon.png" />
            </div>
            <div style="height: 20px"></div>
        </div>
        <!-- -->

        <div class="col-xs-12 col-sm-6" style="padding-top: 0px;">
            <div class="header-section-two" style="text-align: left; padding-top: 10px; padding-bottom: 10px;">
                <div class="header-support-section-two">{{'ABOUT_PRODUCT' | translate}}</div>
                <div class="header-title-section-two" style="font-size: 1.3em; text-transform: uppercase;">{{'ABOUT_PRODUCT_SUB' | translate}}</div>
            </div>
        </div>
        <!-- -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6" style="padding-top: 50px;">
            <div class="header-section-two" style="text-align: left; padding-top: 10px; padding-bottom: 10px;">
                <div class="header-support-section-two">+ {{'ABOUT_VIRTUAL_REALITY' | translate}}</div>
                <div class="header-title-section-two" style="font-size: 1.3em; text-transform: uppercase;">{{'ABOUT_VIRTUAL_REALITY_SUB1' | translate}}</br>
                    </br>{{'ABOUT_VIRTUAL_REALITY_SUB2' | translate}}</div>
            </div>
        </div>
        <!-- -->

        <div class="col-xs-12 col-sm-6" style="padding-top: 20px;">
            <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <img height="300px" src="/img/vr/vr_animation.gif" />
            </div>
        </div>
        <!-- -->
    </div>
    <!-- row -->

    <div class="row">
        <div class="col-xs-12" style="padding-top: 50px;">
            <div class="header-section-two" style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
                <div class="header-support-section-two" style="font-size: 2.1em;">{{'WHO_USE_PLATFORM' | translate}}</div>
            </div>
            <div style="height: 20px"></div>
        </div>
        <!-- -->

        <div class="col-xs-12 col-sm-4 client">
            <div class="picture" style="background-image: url('https://storage.googleapis.com/educationalcommunity-upload/images/1572071357/a39.jpg')"></div>
            <div class="title">Tiago Camilo</div>
            <div class="description">{{'TIAGO_DESCRIPTION' | translate}}</div>
        </div>

        <div class="col-xs-12 col-sm-4 client">
            <div class="picture" style="background-image: url('https://s3.criptofacil.com/wp-content/uploads/2019/08/blockchain-academy-anuncia-curso-sobre-desafios-tributarios-na-criptoeconomia.jpg')"></div>
            <div class="title">Blockchain Academy</div>
            <div class="description">{{'BLOCKCHAIN_DESCRIPTION' | translate}}</div>
        </div>

        <div class="col-xs-12 col-sm-4 client">
            <div class="picture" style="background-image: url('https://storage.googleapis.com/educationalcommunity-upload/university-bg/Dani-2020.jpg')"></div>
            <div class="title">MindKids</div>
            <div class="description">{{'ESCOLA_DESCRIPTION' | translate}}</div>
        </div>

    </div>
    <!-- -->

    <div class="row">
        <div class="col-xs-12" style="padding-top: 30px;">
            <div class="header-section-two" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <div class="header-support-section-two" style="font-size: 2.1em;">{{'ABOUT_LEADERSHIP' | translate}}</div>
            </div>
            <div style="height: 20px"></div>
        </div>
        <!-- -->

        <!-- TEAM -->
        <div class="col-xs-12 col-sm-6 team-member" style="text-align: center;">
            <img height="200px" width="200px" src="https://storage.googleapis.com/educationalcommunity-upload/university-bg/T014Z4CGT8A-U014ZAHSLPM-0c30d73fae0e-512.jfif" />
            </br>
            <div class="name">Rodrigo Lara</div>
            <div class="job-title">CAO & CFO</div>
            <div class="description">{{'ABOUT_LEADERSHIP_RL' | translate}}</div>
        </div>
        <!-- -->

        <div class="col-xs-12 col-sm-6 team-member" style="text-align: center;">
            <img height="200px" width="200px" src="https://storage.googleapis.com/educationalcommunity-upload/university-bg/mairlosnavarro.jpg" />
            </br>
            <div class="name">Mairlos Navarro</div>
            <div class="job-title">{{'ABOUT_DIRECTOR' | translate}}</div>
            <div class="description">{{'ABOUT_DIRECTOR_SUB' | translate}}</div>
        </div>
        <!-- -->
        <!-- END TEAM -->
    </div>
    <!-- end row -->

    <div class="row">

        <div class="col-xs-12" style="padding-top: 30px; text-align: center;">
            <img style="margin-top: 95px" height="45px" src="https://universida.de/img/universidade_icon.png" />
        </div>
        <!-- -->

    </div>
    <!-- END ROW -->

    <style>
        .main-slide {
            min-height: 65vh;
            font-size: 1.5em;
            padding-top: 15px;
        }

        .client {
            padding-bottom: 20px;
        }

        .client .picture {
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px;
            height: 150px;
        }

        .client .title {
            font-size: 1.25em;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .client .description {
            font-size: 1.15em;
        }

        .team-member {
            padding-bottom: 10px;
        }

        .team-member .job-title {
            padding-bottom: 10px;
        }

        .team-member .description {
            font-size: 1.1em;
            text-align: left;
        }

        .team-member .name {
            font-size: 1.5em;
            padding-top: 10px;
            font-weight: bold;
        }

        .team-member img {
            border-radius: 5px;
        }

        .header-support-section-two {
            font-size: 1.6em;
            color: #314354;
            font-weight: 300;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .header-title-section-two {
            font-size: 2.1em;
            color: #314354;
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: 1.2em;
        }

        .value {
            margin-bottom: 15px;
        }

        .value-title {
            color: #314354;
            font-weight: 700;
            font-size: 2em;
            line-height: 1.1em;
        }

        .value-title-support {
            color: #314354;
            font-weight: 300;
            font-size: 1.3em;
            text-transform: uppercase;
        }

        #univesidade-icon {
            height: 145px;
        }

        #frame-video {
            height: 450px;
        }

        @media screen and (max-width: 768px) {
            .main-slide {
                min-height: 50vh;
                font-size: 1.1em;
            }
            #frame-video {
                height: 350px;
            }
            #univesidade-icon {
                height: 75px;
            }
            .header-title-section-two {
                font-size: 1.55em;
            }
        }
    </style>
