<a style="color: #2c4255;" href="/a/{{university.url}}/forum" ng-show="university.ownerId != university.name">

  <div class="card">

    <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
    <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

    <div class="title">{{university.name}}</div>
    <div class="description">{{university.about}}</div>

  </div>

</a>
