<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">Reitoria</a></li>
        <li><a href="/dashboard/a/manage">Administrar Universidades</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}">{{university.name}}</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}/premium">Assinaturas Premium</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>Assinaturas Premium</h3>
      </div>

      <table style="width:100%">

        <tr style="background-color: #f3f3f3;">
          <th>Nome do Plano</th>
          <th>Preço</th>
          <th>Ciclo de Cobrança</th>
          <th>Ativo</th>
          <th></th>
        </tr>

        <tr academiadashboardplanrow p="{{plan}}" ng-repeat="plan in university.plans"></tr>

      </table>
      <!-- end table -->

      <div class="dashboard-content-title">
        <h3>Criar plano</h3>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12">

          <div class="alert bg-primary-red" ng-show="error.exists">{{displayError(error.text)}}</div>
          <div class="alert bg-primary-green" ng-show="success">Sucesso ao atualizar a sua Universidade.</div>

          <div class="form">

            <div class="form-group">
              <label>Name do Plano</label>
              <input ng-model="name" placeholder="Plan name" type="text" />
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>Preço</label>
              <div style="position: relative;">
                <b ng-if="university.language == 'PT'" style="position: absolute; left: 0; top: 12px; width: 40px; text-align: center;">R$</b>
                <b ng-if="university.language == 'EN'" style="position: absolute; left: 0; top: 12px; width: 40px; text-align: center;">$</b>
                <input style="padding-left: 40px; display: inline-block;" ng-model="amount" type="text" />
              </div>
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>Intervalo entre cobranças</label>
              <input ng-model="intervalCount" placeholder="Intervalo, em digitos, entre cobranças" type="text" />
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>Período</label>
              <select ng-model="interval">
                <option value="year">Ano</option>
                <option value="month">Mês</option>
                <option value="week">Semana</option>
                <option value="day">Dia</option>
              </select>
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>Período grátis</label>
              <input ng-model="trialPeriodDays" placeholder="Período grátis. Deixar vazio se não existe período gratuito." type="text" />
            </div>
            <!-- end form group -->

            <div style="margin-top: 15px;">
              <button ng-click="createPlan()" class="btn btn-green">Criar plano</button>
            </div>

          </div>
          <!-- end form -->

        </div>
        <!-- end col-xs-12 col-sm-6 -->

      </div>
      <!-- end row -->

    </div>
    <!-- end dashboard-content -->

  </div>
  <!-- end row -->

</div>
