<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">{{'DASH_RECTORY' | translate}}</a></li>
        <li><a href="/dashboard/a/manage">{{'MANAGE_UNIVERSITIES' | translate}}</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}">{{university.name}}</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>{{university.name}} {{'STATISTICS' | translate}}</h3>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6">

          <div class="dashboard-status-box">
            <span><i class="fas fa-user-tag"></i><h4>{{'PAID_USERS' | translate}}</h4><!--<a href="#">View all</a>--></span>
            <div class="stats">{{premiumMembers}}</div>
          </div>

        </div>
        <!-- end col-xs-12 col-sm-6 -->

        <div class="col-xs-12 col-sm-6">

          <div class="dashboard-status-box">
            <span><i class="fas fa-users"></i><h4>{{'USERS' | translate}}</h4><a href="/dashboard/a/manage/id/{{university._id}}/users">{{'SHOW_ALL' | translate}}</a></span>
            <div class="stats">{{university.members.length}}</div>
          </div>

        </div>
        <!-- end col-xs-12 col-sm-6 -->

        <div class="col-xs-12 col-sm-6">

          <div class="dashboard-status-box">
            <span><i class="fas fa-tags"></i><h4>{{'PREMIUM_SUBSCRIPTIONS' | translate}}</h4><a href="/dashboard/a/manage/id/{{university._id}}/premium">{{'MANAGE' | translate}}</a></span>
            <div class="stats"></div>
          </div>

        </div>
        <!-- end col-xs-12 col-sm-6 -->

        <div class="col-xs-12 col-sm-6">

          <div class="dashboard-status-box">
            <span><i class="fas fa-chart-bar"></i><h4>{{'SALES' | translate}}</h4><a href="/dashboard/a/manage/id/{{university._id}}/sales">{{'SHOW_ALL' | translate}}</a></span>
            <div class="stats"></div>
          </div>

        </div>
        <!-- end col-xs-12 col-sm-6 -->

      </div>
      <!-- end row -->

      <div class="dashboard-content-title">
        <h3>{{'UPDATE_INFO' | translate}}</h3>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12">

          <div class="alert bg-primary-red" ng-show="error.exists">{{displayError(error.text)}}</div>
          <div class="alert bg-primary-green" ng-show="success">{{'UPDATE_SUCCESS' | translate}}</div>

          <div class="form">

            <div class="form-group">
              <label>{{'YOUR_UNIVERSITY_NAME' | translate}}</label>
              <input ng-model="name" placeholder="{{university.name}}" type="text" />
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'ABOUT' | translate}}</label>
              <input ng-model="about" placeholder="{{university.about}}" type="text" />
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'URL' | translate}}</label>
              <input ng-model="url" placeholder="{{university.url}}" type="Text" />
            </div>
            <!-- end form group -->

            <div style="margin-top: 15px;">
              <button ng-click="update()" class="btn btn-green">{{'UPDATE_UNIVERSITY' | translate}}</button>
            </div>

          </div>
          <!-- end form -->

        </div>
        <!-- end col-xs-12 col-sm-6 -->

      </div>
      <!-- end row -->

    </div>
    <!-- end row -->

  </div>
  <!-- end row -->

</div>
