<div ng-include="'partials/headerhome.html'"></div>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">Reitoria</a></li>
        <li><a href="/dashboard/a/manage">Administrar Universidades</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>Administrar Universidades</h3>
      </div>

      <div class="section-cards dashboard-cards">

        <div class="card" ng-repeat="university in universities">

          <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
          <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

          <div class="title">{{university.name}}</div>
          <div class="description">{{university.about}}</div>
          <button ng-click="manage(university._id)" style="margin-top: 15px;" class="btn btn-green">Administrar</button>

        </div>
          <!-- end card -->

      </div>
      <!-- end section-cards -->

    </div>
    <!-- col-sm-9 -->

  </div>
  <!-- end row -->

</div>
