<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">{{'DASH_RECTORY' | translate}}</a></li>
        <li><a href="/dashboard/a/manage">{{'MANAGE_UNIVERSITIES' | translate}}</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>{{'MANAGE_UNIVERSITIES' | translate}}</h3>
      </div>

      <div class="section-cards dashboard-cards">

        <div class="card" ng-if="university.ownerId != university.name" ng-repeat="university in universities">

          <div class="picture" ng-if="university.backgroundImage != undefined" style="background-image: url('{{university.backgroundImage}}') "></div>
          <div class="picture" ng-if="university.backgroundImage == undefined"  style="background-image: url('/img/misc/noimageacademia.jpg') "></div>

          <div class="title" style="word-wrap: break-word;">{{university.name}}</div>
          <div class="description">{{university.about}}</div>
          <button ng-click="manage(university._id)" style="margin-top: 15px;" class="btn btn-green">{{'MANAGE' | translate}}</button>

        </div>
          <!-- end card -->

      </div>
      <!-- end section-cards -->

    </div>
    <!-- col-sm-9 -->

  </div>
  <!-- end row -->

</div>
