<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="/dashboard/a/manage">Manage my Colleges</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}">{{university.name}}</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}/sales">Sales Statistics</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>Sales on month {{month}}</h3>
      </div>

      <table style="width:100%">

        <tr style="background-color: #f3f3f3;">
          <th>Product</th>
          <th>Orders</th>
          <th>Total Sales</th>
          <th></th>
        </tr>

        <tr ng-repeat="l in labels">
          <td>{{l}}</td>
          <td>{{tableData[$index][1].length}}</td>
          <td><div style="display: inline-block;" ng-if="university.language == 'EN'">$</div><div style="display: inline-block;" ng-if="university.language == 'PT'">R$</div> {{ convertToDecimal(tableData[$index][0]) }}</td>
          <td style="text-align: right;"><button class="btn-two btn-two-blue btn-small">View</button></td>
        </tr>

      </table>
      <!-- end table -->

    </div>
    <!-- end dashboard-content -->

  </div>
  <!-- end row -->

</div>
