<div ng-include="'partials/headerhome.html'"></div>

<style>

  body {
    padding: 0 !important;
  }

  nav .navbar-top {
    margin-bottom: 0px !important;
  }

</style>

<div class="container-fluid">

  <div class="row">

    <!-- dashboard menu -->
    <div ng-include="'partials/dashboardmenu.html'" ng-controller="DashboardMenuCtrl"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 dashboard-content">

      <ul class="breadcrumb">
        <li><a href="#">{{'DASH_RECTORY' | translate}}</a></li>
        <li><a href="/dashboard/a/manage">{{'MANAGE_UNIVERSITIES' | translate}}</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}">{{university.name}}</a></li>
        <li><a href="/dashboard/a/manage/id/{{university._id}}/premium">{{'PREMIUM_SUBSCRIPTIONS' | translate}}</a></li>
      </ul>

      <div class="dashboard-content-title">
        <h3>{{'PREMIUM_SUBSCRIPTIONS' | translate}}</h3>
      </div>

      <table style="width:100%">

        <tr style="background-color: #f3f3f3;">
          <th>{{'SUBSCRIPTION_NAME' | translate}}</th>
          <th>{{'PRICE' | translate}}</th>
          <th>{{'BILLING_CYCLE' | translate}}</th>
          <th>{{'ACTIVE' | translate}}</th>
          <th></th>
        </tr>

        <tr academiadashboardplanrow p="{{plan}}" ng-repeat="plan in university.plans"></tr>

      </table>
      <!-- end table -->

      <div class="dashboard-content-title">
        <h3>{{'CREATE_SUBSCRIPTION' | translate}}</h3>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12">

          <div class="alert bg-primary-red" ng-show="error.exists">{{displayError(error.text)}}</div>
          <div class="alert bg-primary-green" ng-show="success">{{'UPDATE_SUCCESS' | translate}}</div>

          <div class="form">

            <div class="form-group">
              <label>{{'SUBSCRIPTION_NAME' | translate}}</label>
              <input ng-model="name" placeholder="Plan name" type="text" />
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'PRICE' | translate}}</label>
              <div style="position: relative;">
                <b style="position: absolute; left: 0; top: 4px; width: 40px; text-align: center;">{{'CURRENCY' | translate}}</b>
                <!--b ng-if="university.language == 'PT'" style="position: absolute; left: 0; top: 12px; width: 40px; text-align: center;">R$</b>
                <b ng-if="university.language == 'EN'" style="position: absolute; left: 0; top: 12px; width: 40px; text-align: center;">$</b-->
                <input style="padding-left: 40px; display: inline-block;" ng-model="amount" type="number" class="form-control"/>
              </div>
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'CHARGES_INTERVAL' | translate}}</label>
              <input ng-model="intervalCount" placeholder="{{'CHARGES_INTERVAL_DIGITS' | translate}}" type="number" class="form-control"/>
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'PERIOD' | translate}}</label>
              <select ng-model="interval">
                <option value="year">{{'YEAR' | translate}}</option>
                <option value="month">{{'MONTH' | translate}}</option>
                <option value="week">{{'WEEK' | translate}}</option>
                <option value="day">{{'DAY' | translate}}</option>
              </select>
            </div>
            <!-- end form group -->

            <div class="form-group">
              <label>{{'FREE_PERIOD' | translate}}</label>
              <input ng-model="trialPeriodDays" placeholder="{{'FREE_TRIAL_MESSAGE' | translate}}" type="number" class="form-control"/>
            </div>
            <!-- end form group -->

            <div style="margin-top: 15px;">
              <button ng-click="createPlan()" class="btn btn-green">{{'CREATE_SUBSCRIPTION' | translate}}</button>
            </div>

          </div>
          <!-- end form -->

        </div>
        <!-- end col-xs-12 col-sm-6 -->

      </div>
      <!-- end row -->

    </div>
    <!-- end dashboard-content -->

  </div>
  <!-- end row -->

</div>
